<!-- COMMITTEE HOME Start-->
<div class="pushFixedHeaderFooter">
	<section class="row nav_toggle">
		<div class="card mt-5">

			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<h4 class="card-hedding dotted-bottom">Details</h4>

					<div class="col-12  search-eidted-p padding-15" *ngIf="errorFlag">
						<div class="alert alert-danger txt-medium">{{error}}</div>
					</div>

					<div class="col-12  search-eidted-p padding-15" *ngIf="result?.committee">

						<div class="row bottom-margin">
							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Committee ID
										<span class="mandatory">*</span>
									</span>
									<span class="sub-label"> (Maximum 15 characters)</span>
									<input type="text" maxlength="15" [(ngModel)]="result.committee.committeeId" *ngIf="mode === 'create'" class="form-control input-field-size txt-small">
									<div *ngIf="mode != 'create'">{{result?.committee?.committeeId}}</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Committee Type
										<span class="mandatory">*</span>
									</span>
									<select *ngIf="mode === 'create'" class="custom-select  mr-sm-2 form-control txt-small" id="inlineFormCustomSelect" [(ngModel)]="result.committee.committeeTypeCode"
									(ngModelChange)="changeCommitteeType(result.committee.committeeTypeCode)" [disabled]="editDetails==false">
										<option value="" selected>Select</option>
										<option value="{{type.committeeTypeCode}}" *ngFor="let type of committeeTypeList">{{type.description}}</option>
									</select>
									<div *ngIf="mode != 'create'">{{result?.committee?.committeeType?.description}}</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Committee Name
										<span class="mandatory">*</span>
									</span>
									<input type="text" [(ngModel)]="result.committee.committeeName" [disabled]="mode=='view' && editDetails == false" class="form-control input-field-size txt-small">
								</div>
							</div>

						</div>

						<div class="row bottom-margin">

							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Home Unit
									</span>
									<input type="text" class="form-control input-field-size txt-small" placeholder="Enter Home Unit" [(ngModel)]="result.committee.homeUnitName"
									 (ngModelChange)="getHomeUnitList()" (focus)="isHomeUnitSearch = true" (focusout)="isHomeUnitSearch = false" [disabled]=" editDetails == false"
									 (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'homeUnitDropDown')" (keydown.arrowup)="keyPressEvent.onKeyDown($event,'homeUnitDropDown')"
									 (keydown.Enter)="keyPressEvent.onKeyDown($event,'homeUnitDropDown')">
									<div class="sb-seachresults top-margin search-dropdown-position dropdown-width" id="homeUnitDropDown">
										<ul class="sb-results-dropdown-menu" *ngIf="isHomeUnitSearch">
											<li *ngFor="let result of homeUnitSearchResult" (mousedown)="selectedHomeUnit(result.unitName,result.unitNumber)" (click)="selectedHomeUnit(result.unitName,result.unitNumber)">
												<a>{{result.unitNumber}} - {{result.unitName}}
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Minimum Members for Quorum
									</span>
									<input type="number" [disabled]="editDetails==false" min="1" [(ngModel)]="result.committee.minimumMembersRequired" class="form-control txt-small input-field-size">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Advance Submission Days
									</span>
									<input type="number" [disabled]="editDetails==false" min="1" [(ngModel)]="result.committee.advSubmissionDaysReq" class="form-control txt-small input-field-size">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Maximum Protocols
									</span>
									<input type="number" [disabled]="editDetails==false" min="1" [(ngModel)]="result.committee.maxProtocols" class="form-control txt-small input-field-size">
								</div>
							</div>
						</div>
						<div class="row bottom-margin">
							<div class="col-md-12">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Committee Description
									</span>
									<textarea class="form-control txt-small txt-area-fnt" [disabled]="editDetails==false" [(ngModel)]="result.committee.description"></textarea>
								</div>
							</div>
						</div>
						<div class="row bottom-margin">
							<div class="col-md-12">
								<div class="form-group ">
									<span class="text-secondary txt-medium">Meeting Description
									</span>
									<textarea class="form-control txt-small txt-area-fnt" [disabled]="editDetails==false" [(ngModel)]="result.committee.scheduleDescription"></textarea>
								</div>
							</div>
						</div>
						<div class="row bottom-margin">
							<div class="col-md-2">
								<button type="button margin-class" *ngIf="editDetails ==false" class="btn btn-outline-success txt-small" (click)="showEditDetails()">Edit
								</button>
								<button type="button margin-class" *ngIf="editDetails" class="btn btn-outline-success txt-small" (click)="saveDetails()">Save
								</button>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
</div>
<!-- COMMITTEE HOME End-->

<!--Area of research Start-->
<div class="pushFixedHeaderFooter mt-5" *ngIf="showDetails">
	<section class="row nav_toggle">
		<div class="card mt-5">

			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<h4 class="card-hedding dotted-bottom">Area Of Research</h4>

					<div class="col-12  search-eidted-p padding-15" *ngIf="emptyAreaOfResearch || duplicateAreaOfResearch">
						<div class="alert alert-danger txt-medium">{{alertMsg}}
						</div>
					</div>

					<div class="col-12  search-eidted-p padding-15 pt-2" *ngIf="result?.committee">
						<a class="pdf text-danger txt-medium" (click)="expandAreaOfResearch()" data-toggle="collapse" href="#collapseExample1" role="button"
						 aria-expanded="false" aria-controls="collapseExample1">
							<i class="fa fa-plus icon-padding"></i>Add Area of Research
						</a>
						<div class="row collapse" id="collapseExample1">
							<!-- *ngIf="addResearch && saveCommitteeFlag">-->
							<div class="col-md-11 mt-1">
								<div class="form-group ">
									<span class="txt-medium text-secondary pl-1">Area of Research
									</span>
									<input type="text" class="form-control txt-small input-field-size mt-1" placeholder="Add area of research" [(ngModel)]="areaInput.researchAreaDescription"
									 (ngModelChange)="getAreaResearchList()" (focus)="isAreaReseachSearch = true" (focusout)="isAreaReseachSearch = false"
									 (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'researchAreaSearchDropDown')" (keydown.arrowup)="keyPressEvent.onKeyDown($event,'researchAreaSearchDropDown')"
									 (keydown.Enter)="keyPressEvent.onKeyDown($event,'researchAreaSearchDropDown')">
									<div class="sb-seachresults top-margin search-dropdown-position research-dropDown-width" id="researchAreaSearchDropDown">
										<ul class="sb-results-dropdown-menu1 search-position-fix-medium box-shadow-1 block" *ngIf="isAreaReseachSearch">
											<li class="block" *ngFor="let result of areaResearchSearchResult" (mousedown)="selectedResearchArea(result.description, result.researchAreaCode)"
											 (click)="selectedResearchArea(result.description, result.researchAreaCode)">
												<a [innerHTML]="result.description"></a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="col-md-1 add-btn-1 pt-2">
								<button title="Add" type="button" class="btn top-butn pr-5" (click)="addAreaOfResearch(areaInput)">
									<i class="fa fa-plus-circle text-success half-size" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-md-12 users-list-tbl">
						<div class="row">
							<div class="w-100">
								<table class="table tbl-p-clr" *ngIf="result?.committee?.researchAreas?.length > 0">
									<thead class="tbl-head-clr thead-font-size">
										<tr class="solid-bottom">
											<th scope="col">Research Area Code</th>
											<th scope="col">Code/Description</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody class="tbody-font-size">
										<tr class="pull-up solid-bottom" *ngFor="let area of result.committee.researchAreas; let i=index">
											<td class="align-middle">{{ area.researchAreaCode}}</td>
											<td class="align-middle">{{ area.researchAreaDescription }}</td>
											<td class="action-btn-list align-middle">
												<button title="Delete" type="button" class="btn" (click)="deleteAreaOfResearchConfirmation($event,area)" data-toggle="modal"
												 data-target="#warningModal, #editDetailsModal">
													<i class="fa fa-trash log-user-icon-lite" aria-hidden="true"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
<!--Area of research End-->

<!-- Modal for Show Warning-->
<div class="modal fade" *ngIf="showPopup || isScheduleEditWarningModalOpen" id="warningModal" tabindex="-1" role="dialog"
aria-labelledby="deleteModalTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
	   <div class="modal-content">
		   <div class="modal-header popup-header dotted-bottom">
			   <h5 class="modal-title text-black thick txt-large txt-large" *ngIf="deleteConfirmation">Want to delete?
			   </h5>
			   <h5 class="modal-title text-black thick" *ngIf="duplicateIdFlag">Cannot Save!</h5>
			   <h5 class="modal-title text-black thick" *ngIf="duplicateAreaOfResearch || emptyAreaOfResearch">Cannot Add!
			   </h5>
			   <h5 class="modal-title text-black thick" *ngIf="isScheduleEditWarningModalOpen">Cannot edit/delete!</h5>
			   <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
				   <span aria-hidden="true">&times;</span>
			   </button>
		   </div>
		   <div class="modal-body modal-pop-up dotted-bottom txt-medium">
			   <p *ngIf="deleteConfirmation">{{ this.deleteMsg }}</p>
			   <p *ngIf="duplicateIdFlag || duplicateAreaOfResearch || emptyAreaOfResearch || isScheduleEditWarningModalOpen">
				   {{ this.alertMsg }}</p>
		   </div>
		   <div class="modal-footer btn-row-med p-2" *ngIf="deleteConfirmation">
			   <button class="btn btn-outline-danger txt-small" data-dismiss="modal" aria-label="Close" (click)="cancelDelete()">No</button>
			   <!-- <button type="button margin-class"  class="btn btn-primary tab_btn proceed-btn" data-dismiss="modal" (click)="cancelDelete()">No</button> -->
			   <button type="button margin-class" class="btn btn-outline-success txt-small" (click)="deleteAreaOfResearch(areaOfResearchToDelete)"
				data-dismiss="modal">Yes</button>
		   </div>
		   <div class="modal-footer btn-row-med p-2" *ngIf="duplicateIdFlag || duplicateAreaOfResearch || emptyAreaOfResearch">
			   <button type="button margin-class" class="btn btn-outline-success txt-small" (click)="duplicateId()" data-dismiss="modal">Ok</button>
		   </div>
		   <div class="modal-footer btn-row-med p-2" *ngIf="isScheduleEditWarningModalOpen">
			   <button type="button margin-class" class="btn btn-outline-success txt-small" (click)="cancelEditScheduleItem()" data-dismiss="modal">Ok</button>
		   </div>
	   </div>
   </div>
</div>
<!-- Modal for editCommittee Details warning -->
<div class="modal fade" *ngIf="isEditDetailsModalOpen" id="editDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editDetailsModalTitle"
aria-hidden="true">
   <div class="modal-dialog" role="document">
	   <div class="modal-content">
		   <div class="modal-header popup-header dotted-bottom">
			   <h5 class="modal-title text-black thick" id="skippedSchedulesLongTitle">Warning !!!</h5>
			   <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
				   <span aria-hidden="true">&times;</span>
			   </button>
		   </div>
		   <div class="modal-body modal-pop-up dotted-bottom">
			   <p class="forSkipSchedule">You are in the middle of editing/creating Committee Details, please save/cancel to proceed on Committee Details</p>
		   </div>
		   <div class="modal-footer btn-row-med p-2">
			   <button type="button margin-class" class="btn btn-outline-danger txt-small" data-dismiss="modal" (click)="closeEditDetailsModalOpen()">Close</button>
		   </div>
	   </div>
   </div>
</div>

