<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card history-card">
          <div class="card-header history-header">
            <nav class="nav navbar-pg3">
              <h5>Submission details</h5>
              <i  class=" fa fa-info-circle" tabindex="0"></i>
            </nav>
          </div>
  
          <div class="card-body card-paddng">
              <div class="col-12  search-eidted-p padding-15">
              <div class="col-md-12 padding-10">
                  <div class="modal-header-label">
                  <h4 class="popup-sub-head">Details</h4>
                </div>
                </div>
                <div class="row card-list-med pl-15 pr-15">
                  <div class="col-6 card-desc">
                    <p>Committee Id: </p>
                    <p>Schedule Status: </p>
                    <p>Review Type: </p>
                    <p>Submission Status: </p>
                    <p>Risk Levels: </p>
                    </div>
                   
                        <div class="col-6 card-desc">
                            <p>Committee Name: </p>
                            <p>Submission Type: </p>
                            <p>Type Qualifier: </p>
                            <p>Billable: </p>
                            </div>
                  </div>
                  <div class="col-md-12 padding-10">
                  <div class="modal-header-label">
                      <h4 class="popup-sub-head">Reviewers</h4>
                    </div>
                    </div>
                    <div class="col-md-12 users-list-tbl">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped tbl-p-clr">
                                    <thead class="tbl-head-clr thead-font-size">
                                        <tr>
                                            <th scope="col">Reviewer</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Determination Recommendation</th>
                                            <th scope="col">Due Date</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      	<ng-container *ngIf="false">
                                            <tr>
                                            </tr>
                                            </ng-container>
                                            <ng-container *ngIf="true">
                                                <tr>
                                                    <td class="text-center" colspan="4">No Reviewer Details to show</td>
                                                </tr>
                                                </ng-container>
                                      </tbody>
                                      </table>
                                      </div>
                                      </div>
                                      </div>
                    <div class="col-md-12 padding-10">
                        <div class="modal-header-label">
                            <h4 class="popup-sub-head">Vote Summary</h4>
                          </div>
                          </div>
                          <div class="row card-list-med pl-15 pr-15">
                              <div class="col-1 card-desc">
                                <p>No: </p>
                                </div>
                                <div class="col-1 card-desc">
                                    <p>Yes: </p>
                                    </div>
                                    <div class="col-1 card-desc">
                                        <p>Abstain: </p>
                                        </div>
                                        <div class="col-1 card-desc">
                                            <p>Recused: </p>
                                            </div>
                                            <div class="col-8 card-desc">
                                                <p>Voting Text: </p>
                                                </div>
                            </div>

                          <div class="col-md-12 padding-10">
                              <div class="modal-header-label">
                                  <h4 class="popup-sub-head">Renewal Details</h4>
                                </div>
                                </div>
                                <div class="row card-list-med pl-15 pr-15">
                                <div class="col-6 card-desc">
                                    <p>Renew: </p>
                                    </div>
                                    <div class="col-6 card-desc">
                                        <p>Summary: </p>
                                        </div>
                                    </div>
                                <div class="col-md-12 padding-10">
                                    <div class="modal-header-label">
                                        <h4 class="popup-sub-head">Checklist Items</h4>
                                      </div>
                                      </div>
                                      <div class="col-md-12 padding-10">
                                          <div class="modal-header-label">
                                              <h4 class="popup-sub-head">Review Comments</h4>
                                            </div>
                                            </div>
                                            <div class="col-md-12 users-list-tbl">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped tbl-p-clr">
                                                            <thead class="tbl-head-clr thead-font-size">
                                                                <tr>
                                                                    <th scope="col">Standard Comments</th>
                                                                    <th scope="col">Comment</th>
                                                                    <th scope="col">Private</th>
                                                                    <th scope="col">Final</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              	<ng-container *ngIf="false">
                                                                    <tr>
                                                                    </tr>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="true">
                                                                        <tr>
                                                                            <td class="text-center" colspan="4">No Review Comments to show</td>
                                                                        </tr>
                                                                        </ng-container>
                                                              </tbody>
                                                              </table>
                                                              </div>
                                                              </div>
                                                              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
