<div class="row">
  <div class="col-lg-12 col-12 form-outer irb-qst-form-outer">
    <div class="row">
      <div @items *ngFor='let question of questionnaire.questions;let i = index' class="col-12 p-0">
        <div id="{{question.QUESTION_ID}}" class="col-lg-12 section-form irb-qst-leftline form-G0"
          *ngIf=" editIndex == question.QUESTION_ID">
          <div class="row margin-bottom">
            <div class="col-lg-12">
              <div class="input-group-text new-qst-1" id="basic-addon1">
                <div class="row">
                  <div class="col-11">
                    Question Number &nbsp; <b> {{question.QUESTION_ID}} &nbsp;</b>
                    <!-- GroupName &nbsp;<b>{{question.GROUP_LABEL}}</b> -->
                  </div>
                  <div class="col-1">
                    <span *ngIf="!isViewmode"><a (click)="setDeleteData(question,'question')"
                        class=" qst-delete" data-toggle="modal" data-target="#confirmDeleteModal"><i class="fa fa-trash"
                          title="delete"></i></a>
                        </span>
                        <!-- <span class= "float-right"><a (></a>
                        </span> -->
                        <span class="dropdown" title="more options">
                          <span class="dropdown-toggle" id="questdropdownMenuButton" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          </span>
                          <div class="dropdown-menu" aria-labelledby="questdropdownMenuButton">
                            <a class="dropdown-item" (click)="selectedQuestionIndex = i;" data-toggle="modal"
                            data-target="#moreDetailsModal" >More Details</a>
                            <a class="dropdown-item" 
                            (click)="addConditionBasedQuestion(i-1,question.GROUP_NAME,question.PARENT_QUESTION_ID)" >
                              Add a Question above</a>
                            <a class="dropdown-item" 
                            (click)="addConditionBasedQuestion(i,question.GROUP_NAME,question.PARENT_QUESTION_ID)" >
                              Add a Question below</a>
                          </div>
                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-bottom">
            <div class="col-lg-8">
              <textarea appAutoGrow class="form-control custom-input" [disabled]="isViewmode" [(ngModel)]="question.QUESTION"
                (ngModelChange)="commonValues.isQuestionEdited = true" type="text" placeholder="Question"
                id="question{{question.QUESTION_ID}}" rows="1"></textarea>
              <span class="bar"></span>
            </div>
            <div class="col-lg-4">
              <div class="dropdown">
                <select class="custom-select custom-s" [disabled]="isViewmode" [(ngModel)]="question.ANSWER_TYPE"
                  (ngModelChange)="changeQuestionType(question.ANSWER_TYPE,question.QUESTION_ID, i)">
                  <option value='Radio'>Multiple choice</option>
                  <option value="Checkbox">Check box</option>
                  <option value='Text'> Short answer</option>
                  <option value='Textarea'>Paragraph</option>
                  <option value='Date'>Date</option>
                  <option value='Attachment'>File upload</option>
                  <option value='Y/N'>Yes/No</option>
                  <option value='Y/N/NA'>Yes/No/N/A</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="question.ANSWER_TYPE == 'Radio' || question.ANSWER_TYPE == 'Checkbox' ||
                                      question.ANSWER_TYPE == 'Y/N'|| question.ANSWER_TYPE == 'Y/N/NA'">
            <div class="col-lg-12 options">
              <ng-container *ngFor="let option of questionnaire.options;let optionIndex = index">
                <div class="input-group mb-3" *ngIf="option.QUESTION_ID == question.QUESTION_ID">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-circle"></i></span>
                  </div>
                  <div class="col-lg-10">
                    <input type="text" id ="option{{option.QUESTION_OPTION_ID}}"  [disabled]="isViewmode" [(ngModel)]="option.OPTION_LABEL"
                      (ngModelChange)="updateOptionACType(optionIndex)" class="form-control custom-input"
                      placeholder="Options" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="bar"></span>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text"><a *ngIf= "!isViewmode" (click)="setDeleteData(option,'option')" data-toggle="modal"
                        data-target="#confirmDeleteModal"><i class="fa fa-times"></i></a></span>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-lg-12 options" *ngIf="!isViewmode">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-circle"></i></span>
                </div>
                <span class="input-group-text" tabindex="2"><button class="btn-blank" (click)="addOption(question.QUESTION_ID)">ADD "OTHER"</button></span>
              </div>
            </div>
          </div>
          <div class="row margin-bottom">
            <div class="col-lg-6 offset-lg-6 text-right qst-two-btn">
              <!-- <button type="button" (click)="selectedQuestionIndex = i;" data-toggle="modal"
                data-target="#moreDetailsModal"
                class="btn btn-primary custom-button fibi-btn-size button-size margin-r5 irb-qst-addbtn-clr"
                title="Add more details"><i class="fa fa-plus" aria-hidden="true"></i>Add More</button> -->
              <button type="button" (click)="addBranching(question.QUESTION_ID,i)" 
                *ngIf="!isViewmode && enableBraching(question.QUESTION_ID,  question.ANSWER_TYPE)"
                class="btn btn-primary  fibi-btn-size  custom-button button-size margin-r5 irb-qst-graybtn-clr"
                title="Add branching"><i class="fa fa-sitemap" aria-hidden="true"></i> Add Branch</button>
            </div>
          </div>
          <div class="row" *ngIf="question.HAS_CONDITION == 'Y'">
            <div class="col-lg-12 card-details">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header qst-branch-header" id="headingOne">
                    <h5 class="mb-0 card-down">
                      <span class="mr-10"><a data-toggle="modal" data-target="#conditionModel">
                          <i class=" float-none fa fa-info-circle"></i>
                        </a></span>
                      <span class="branch-name">Branch</span>
                      <i class="fa fa-chevron-down" data-toggle="collapse" [attr.data-target]="'#condition' + i"
                        aria-expanded="true" aria-controls="collapseOne"></i>
                    </h5>
                  </div>
                </div>
                <div id="condition{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div @items *ngFor="let condition of questionnaire.conditions; let conditionIndex = index">
                      <div class="row margin-bottom" *ngIf="condition.QUESTION_ID == question.QUESTION_ID">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-2 braching-text">
                              <span> If answer</span>
                            </div>
                            <div class="col-4">
                              <select [disabled]="isViewmode" [(ngModel)]="condition.CONDITION_TYPE" id ="condition{{conditionIndex}}"
                                (ngModelChange)="updateConditionACType(conditionIndex)" class="custom-select custom-s">
                                <option value='EQUALS'>Equals</option>
                                <option value="CONTAINS">Contains</option>
                                <option value="GREATERTHAN">GreaterThan</option>
                                <option value="LESSTHAN">Less Than</option>
                              </select>
                            </div>
                            <div class="col-4"
                              *ngIf="(question.ANSWER_TYPE == 'Radio' || question.ANSWER_TYPE == 'Checkbox' ||
                                    question.ANSWER_TYPE == 'Y/N'|| question.ANSWER_TYPE == 'Y/N/NA') && condition.CONDITION_TYPE == 'EQUALS';else textbox ">
                              <select class="custom-select custom-s" [disabled]="isViewmode"
                                [(ngModel)]="condition.CONDITION_VALUE" id = "condition{{conditionIndex}}"
                                (ngModelChange)="updateConditionACType(conditionIndex)">
                                <option value='{{options.OPTION_LABEL}}' selected=options[0].OPTION_LABEL
                                  *ngFor=" let options of  getOptions(question.QUESTION_ID)">{{options.OPTION_LABEL}}
                                </option>
                              </select>
                            </div>
                            <ng-template #textbox>
                              <div class="col-4">
                                <input class="form-control custom-input" [disabled]="isViewmode"
                                  [(ngModel)]="condition.CONDITION_VALUE"
                                  (ngModelChange)="updateConditionACType(conditionIndex)" type="text">
                              </div>
                            </ng-template>
                            <div class="col-1 braching-text">
                              <span> Then {{condition.GROUP_LABEL}}</span>
                            </div>
                            <!-- <div class="col-3">
                              <input class="form-control custom-input" type="text" placeholder="Group name"
                                [disabled]="isViewmode" [(ngModel)]="groupLabels[condition.GROUP_NAME]"
                                (ngModelChange)="updateConditionACType(conditionIndex)">
                            </div> -->
                            <div class="col-1 padding-sides0 braching-text" *ngIf="!isViewmode">
                              <button class="sub-add btn-blank"
                                  (click)="addConditionBasedQuestion(i,condition.GROUP_NAME,question.QUESTION_ID)"><i
                                    class="fa fa-plus" title="Add Branching"></i></button>
                              <button class="sub-add btn-blank" (click)="setDeleteData(condition,'condition')" data-toggle="modal"
                                  data-target="#confirmDeleteModal"><i class="fa fa-times close-icon"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="{{question.QUESTION_ID}}" class="col-lg-12 qst-custom-margin" *ngIf="editIndex != question.QUESTION_ID"
         (click) = "changeEditQuestion(question.QUESTION_ID, 'question'+question.QUESTION_ID)">
         <span class="question-number">Q {{question.QUESTION_ID}}</span>
            <input type="text" class="quest-custom-input-box border-none qst-custom-margin font-weight-bold"
             [(ngModel)]="question.QUESTION" placeholder="Question" name="name"
             (focus) = "changeEditQuestion(question.QUESTION_ID, 'question'+question.QUESTION_ID)" />
            <div *ngIf="question.ANSWER_TYPE == 'Text'">
                <input type="text" class="quest-custom-input-box" placeholder="Short answer"/>
            </div>
            <div *ngIf="question.ANSWER_TYPE == 'Radio' || question.ANSWER_TYPE == 'Y/N'|| 
                question.ANSWER_TYPE == 'Y/N/NA' || question.ANSWER_TYPE == 'Checkbox'">
                <ng-container *ngFor=" let option of questionnaire.options">
                    <div  *ngIf="question.QUESTION_ID == option.QUESTION_ID" class ="qst-display-flex options"
                    (click) ="changeEditQuestion(question.QUESTION_ID,'option'+ option.QUESTION_OPTION_ID)">
                      <!-- <span> <input type="radio" class="margin-r5"/> </span> -->
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-circle"></i></span>
                       <input type="text" class="quest-custom-input-box d-inline-block" name="{{option.QUESTION_ID}}" placeholder="option" [(ngModel)]="option.OPTION_LABEL"/>
                   </div>
                </ng-container>
            </div>
            <div *ngIf="question.ANSWER_TYPE == 'Attachment'">
                <input type="text" class="quest-custom-input-box" placeholder="Attachment"/>
            </div>
            <div *ngIf="question.ANSWER_TYPE == 'Textarea'" >
                <input type="text" class="quest-custom-input-box" placeholder="Paragraph"/>
            </div>
            <div *ngIf="question.ANSWER_TYPE == 'Date'">
                <input type="text" class="quest-custom-input-box" placeholder="Date"/>
            </div>
        </div>
      </div>
        </div>
    </div>
  </div>

  <!-- Modal for more details -->
  <div class="modal fade" id="moreDetailsModal" tabindex="-1" role="dialog" aria-labelledby="moreDetailsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Additional Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-12  mb-20">
            <label class="help-header">Help Text :</label>
            <ck-editor id= "editor1" name="editor1" [config]="ckEditorConfig" [(ngModel)]=" questionnaire.questions[selectedQuestionIndex].DESCRIPTION" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
            <!-- <app-ngx-editor [config]="editorConfig"
              [(ngModel)]=" questionnaire?.questions[selectedQuestionIndex].DESCRIPTION" resizer="basic">
            </app-ngx-editor> -->
          </div>
          <div class="col-12">
            <div class="row" *ngIf="questionnaire.questions[selectedQuestionIndex].ANSWER_TYPE == 'Text'">
              <label class="help-header">
                Number of answers :
              </label>
              <div class="col-2">
                <input class="form-control custom-input" [disabled]="isViewmode"
                  [(ngModel)]=" questionnaire.questions[selectedQuestionIndex].NO_OF_ANSWERS" type="number"
                  placeholder="">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <label class="help-header">
                Help Link :
              </label>
              <div class="col-9">
                <input class="form-control custom-input" [disabled]="isViewmode"
                  [(ngModel)]=" questionnaire.questions[selectedQuestionIndex].HELP_LINK" type="text"
                  placeholder="helplink">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary fibi-btn-size custom-button" data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal for confirm delete  -->
  <div class="modal fade show mySkinDialog" id="confirmDeleteModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Do you want to delete ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btnSkin" data-dismiss="modal">No</button>
          <button type="button" (click)="deleteAttribute()" data-dismiss="modal"
            class="btnSkin btnSkinPrimary">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- condition explain modal -->
  <div class="modal fade" id="conditionModel" tabindex="-1" role="dialog" aria-labelledby="conditionModel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Contains the branching logic for the question
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btnSkin" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- validation  modal -->
  <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>