<ngx-spinner bdOpacity=0.5 bdColor="#333" color="#fff" type="ball-spin-clockwise-fade" loadingText="Loading..."></ngx-spinner>
<div id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		<div class="position-relative">
			<section class="card">
				<div class="col-12 card-body">
					<div class="row">
						<div class="col-12 apprve-date">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 text-right" (click)="backClick()" title="Close">
									<i class="fa fa-times-circle btn-close-committe-lite" aria-hidden="true"></i>
								</div>
								<div class="col-md-5 col-sm-4 col-12">
									<h4 class="txt-large txt-dark normal">
										Committee Id # :
										<span class="text-danger">{{result?.committee?.committeeId}}</span>
									</h4>
									<p class="txt-dark txt-large normal">
										Home Unit :
										<span class="text-danger">{{result?.committee?.homeUnitName}}</span>
									</p>
								</div>
								<div class="col-md-4 col-sm-4 col-12">
									<p class="txt-dark txt-large normal">
											Committee Name :
										<span class="text-danger">{{result?.committee?.committeeName}}</span>
										<br /> Last updated User :
										<span class="text-danger">{{result?.committee?.updateUser}}</span>
									</p>
								</div>
								<div class="col-md-3 col-sm-4 col-12">
									<p class="txt-dark txt-large normal">
											Committee Type:
										<span class="text-danger">{{result?.committee?.committeeType?.description}}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section class="row">
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<section class="row btn-row-med-lite sect-padding-lite bg-clr mt-10">
					<button class="btn btn-primary tab_btn" (click)="show_current_tab($event,'committee_home')" [ngClass]="{'nav-active':currentTab=='committee_home'}">
						<i class="fa fa-university" aria-hidden="true"></i>Committee
					</button>
					<button class="btn btn-primary " type="submit" [ngClass]="{'nav-active':currentTab=='committee_schedule',
                    							'tab_btn':isCreateNewCommittee==false}" [disabled]="isCreateNewCommittee" (click)="show_current_tab($event,'committee_schedule')">
						<i class="fa fa-calendar"></i>Meetings
					</button>
					<button class="btn btn-primary " type="submit" [ngClass]="{'nav-active':currentTab=='committee_members',
                    							'tab_btn':isCreateNewCommittee==false}" [disabled]="isCreateNewCommittee" (click)="show_current_tab($event,'committee_members')">
						<i class="fa fa-users"></i>Members
					</button>
				</section>
			</div>
		</section>
		<router-outlet (activate)="onActivate($event)"></router-outlet>
		<!-- modal for showing warnings -->
		<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup" id="warningModalMain" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
		 aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content modal-text-color">
					<div class="modal-header popup-header">
						<h5 class="modal-title modal-text-color" *ngIf="middleOfEdit || middleOfSave || isOnEditMembers" id="exampleModalLongTitle">Alert!</h5>
						<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p *ngIf="middleOfEdit">{{ alertMsgMiddleOfEdit }}</p>
						<p *ngIf="middleOfSave">{{ alertMsgNotSaved }}</p>
						<p *ngIf="isOnEditMembers">{{ alertMsgMemberMiddleOfEdit }}</p>
					</div>
					<div class="modal-footer" *ngIf="middleOfEdit">
						<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" (click)="stayOnCommittee()">Ok</button>
						<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" (click)="saveAndContinue(this.activatedRoute)" data-dismiss="modal">Save and continue</button>
					</div>
					<div class="modal-footer" *ngIf="alertMsgNotSaved">
						<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal">Ok</button>
					</div>
					<div class="modal-footer btn-row-med" *ngIf="isOnEditMembers">
						<button type="button" class="btn btn-primary tab_btn" data-dismiss="modal" (click)="saveMemberAndContinue(memberData)">Cancel and Exit</button>
						<button type="button" class="btn btn-primary tab_btn" data-dismiss="modal" (click)="stayOnPage()">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<div class="footerPush"></div>
	</div>
</div>