<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		<section class="row">
			<div id="myawa"
				class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<br>
				<div class="h6">COMMITTEE</div>
			</div>
			<div
				class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
						<label><span class="mandatory">*</span> Id</label> <span><input
							type="text" class="committeeBoxNotEditable"
							[(ngModel)]="result.committee.committeeId" disabled /></span>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
						<label><span class="mandatory">*</span> Name</label> <span><input
							type="text" [ngClass]="class"
							[(ngModel)]="result.committee.committeeName"
							[disabled]="mode=='view' && editFlag == false" /></span>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
						<label><span class="mandatory">*</span> Type</label> <span><input
							type="text" [ngClass]="constantClass"
							[(ngModel)]="result.committee.committeeType.description"
							[disabled]="mode=='view'" /></span>
					</div>
					<div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 col-6">
						<label><span class="mandatory">*</span> Home Unit</label> <span>
							<ng2-completer *ngIf="editFlag" title="Enter Home Unit"
								[(ngModel)]="result.committee.homeUnitName"
								[datasource]="dataServiceHomeUnit" [minSearchLength]="0"
								(ngModelChange)="homeChangeFunction(result.committee.homeUnitName)"
								(selected)="onHomeSelect()"></ng2-completer>
						</span> <span *ngIf="editFlag == false &&  mode =='view'"> <input
							type="text" [disabled]="mode=='view' && editFlag == false"
							class="committeeBoxNotEditable"
							[(ngModel)]="result.committee.homeUnitName" disabled /></span>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
						<label>Last Updated User</label> <span><input type="text"
							class="committeeBoxNotEditable" [(ngModel)]="lastUpdated"
							disabled /></span>
					</div>
				</div>
			</div>
			<!-- tabs in committee view -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<section class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<ul class="tabsIcon" style="margin-top: 10px;">
							<li class="active" data-toggle="modal" data-target="#warningModalMain"
								[ngClass]="{'active':currentTab=='committee_home'}"><a
								style="padding-top: -5px;" href="#"
								(click)="show_current_tab($event,'committee_home');"><i
									class="fa fa-calendar"></i><span>Committee</span></a></li>
							<li [ngClass]="{'active':currentTab=='committee_members'}"><a
								href="#" data-toggle="modal" data-target="#warningModalMain"
								(click)="show_current_tab($event,'committee_members');"><i
									class="fa fa-users"></i><span>Members</span></a></li>
						</ul>
					</div>
				</section>
			</div>
		</section>
		<router-outlet (activate)="onActivate($event)"></router-outlet>
		<!-- modal for showing warnings -->
		<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup"
			id="warningModalMain" tabindex="-1" role="dialog"
			aria-labelledby="deleteModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" *ngIf="middleOfEdit || middleOfSave || isOnEditMembers"
							id="exampleModalLongTitle">Alert!</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p *ngIf="middleOfEdit">{{ alertMsgMiddleOfEdit }}</p>
						<p *ngIf="middleOfSave">{{ alertMsgNotSaved }}</p>
						<p *ngIf="isOnEditMembers">{{ alertMsgMemberMiddleOfEdit }}</p>
					</div>
					<div class="modal-footer" *ngIf="middleOfEdit">
						<button type="button" class="btnSkin btn-secondary" 
							data-dismiss="modal" (click)="stayOnCommittee()">Ok</button>
						<button type="button" class="btnSkin btnSkinPrimary"
							(click)="saveAndContinue(this.activatedRoute)" data-dismiss="modal">Save
							and continue</button>
					</div>
					<div class="modal-footer" *ngIf="alertMsgNotSaved">
						<button type="button" class="btnSkin btnSkinPrimary"
							data-dismiss="modal">Ok</button>
					</div>
					<div class="modal-footer" *ngIf="isOnEditMembers">
						<button type="button" class="btnSkin btn-secondary"
							(click)="saveMemberAndContinue(memberData)">Cancel and Exit</button>
						<button type="button" class="btnSkin btnSkinPrimary"
							data-dismiss="modal" (click)="stayOnPage()">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<div class="footerPush"></div>
	</div>
</div>
