<div class="row logout">
	<div class="tabCover col s12 m8 offset-m2 l4 offset-l4">
		<!-- <div class="ContentHeading">Thank you</div> -->
		<form id="/" name='login' action="login" method='GET'>
			<table align="center">
				<tr>
					<td valign="top">
						<div id="container" align="center" class="col s12 m12 l12">													
							<div class="row">
								<div class=" col-12 logout-box">
									<div class="row">
										<div class="container"><img src="assets/images/logo2.png">
											<hr>
										</div>
									</div>																		
								<div id="logout" style="font-size:1.3em;">You have logged out of COUHES CONNECT.<br>
									<a (click)="login()"class=" pointer logout" style="color: #56a92e;font-size:.7em;">Click here to login again</a>
								</div>
								</div>
							</div>									
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>