<!-- <ngx-spinner bdOpacity=0.5 bdColor="#333" color="#fff" type="ball-spin-clockwise-fade" loadingText="Loading..."></ngx-spinner> -->
<div>
  <div class="card history-card border-radius-1">
    <div class="card-header history-header">
      <nav class="nav navbar-pg3">
        <h5>General</h5>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </nav>
    </div>
    <div class="card-body card-paddng">
      <div class="col-12  search-eidted-p padding-15">
        <div class="alert alert-danger " *ngIf="invalidData.invalidGeneralInfo" [innerHTML]="warningMessage">
        </div>
      </div>
      <div class="col-12  search-eidted-p padding-15">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label>Type
                <span class="mandatory">*</span>
              </label>
              <select [disabled]="isGeneralInfoEditable == false" class="custom-select  mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="generalInfo.protocolTypeCode" (ngModelChange)="protocolTypeChange(generalInfo.protocolTypeCode)">
                <option selected value=null>Please Select</option>
                <option *ngFor="let type of protocolType" value="{{type.protocolTypeCode}}">{{type.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Anticipated Start Date</label>
              <div class="input-group  mb-2">
                <input [disabled]="isGeneralInfoEditable == false" type="text" class="form-control" [owlDateTime]="dt1" placeholder="mm/dd/yyyy" [(ngModel)]="generalInfo.protocolStartDate"
                  (ngModelChange)="validateStartDate()">
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                <div class="input-group-append input-span-1" *ngIf="isGeneralInfoEditable" [owlDateTimeTrigger]="dt1">
                  <!-- <span class="input-group-text"> -->
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  <!-- </span> -->
                </div>
              </div>
              <span *ngIf="invalidData.invalidStartDate" class="error">Start Date should be less than End Date</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Anticipated End Date</label>
              <div class="input-group mb-2">
                <input [disabled]="isGeneralInfoEditable == false" type="text" class="form-control" [owlDateTime]="dt2" placeholder="mm/dd/yyyy" [(ngModel)]="generalInfo.protocolEndDate"
                  (ngModelChange)="validateEndDate()">
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                <div class="input-group-append input-span-1" *ngIf="isGeneralInfoEditable" [owlDateTimeTrigger]="dt2">
                  <!-- <span class="input-group-text"> -->
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  <!-- </span> -->
                </div>
              </div>
              <span *ngIf="invalidData.invalidEndDate" class="error">End Date should be greater than Start Date</span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isGeneralInfoSaved">
          <div class="col-md-6">
            <div class="form-group">
              <label>PI
                <span class="mandatory">*</span>
              </label>
              <input [attr.disabled]="isGeneralInfoEditable == false?' ': null" [(ngModel)]="ProtocolPI.personName" (input)="clearSelectedPIdata()" [class.poping-border]="isPersonalInfoEdit" type="text"
                class="form-control input-field-size" placeholder="{{personPlaceHolder}}" [formControl]="personSearchText"
                (focus)="isElasticResultPerson = true" (focusout)="isElasticResultPerson = false" (keydown.arrowdown) ="keyPressEvent.onKeyDown($event,'PIDropDown')" (keydown.arrowup) ="keyPressEvent.onKeyDown($event,'PIDropDown')" (keydown.Enter) ="keyPressEvent.onKeyDown($event,'PIDropDown')" />
              <div class="sb-seachresults top-margin" id ="PIDropDown">
                <ul class="sb-results-dropdown-menu" *ngIf="isElasticResultPerson">
                  <li *ngFor="let result of _results | async" (mousedown)="selectedPiResult(result)" (click)="selectedPiResult(result)">
                    <span [innerHTML]="result.label"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Lead Unit
                <span class="mandatory">*</span>
              </label>
              <!-- <ng2-completer [class.normal-border]="!isPersonalInfoEdit" [(ngModel)]="ProtocolPI.LeadUnitName" (ngModelChange)="setPiLeadUnit(ProtocolPI.LeadUnitName)"
                [datasource]="protocolPersonLeadUnitsCopy" [minSearchLength]="0" class="input-field-size person-unit leadUnit-holder"
                placeholder="Lead unit"></ng2-completer> -->
                <input [disabled]="isGeneralInfoEditable == false" type="text"  class="form-control input-field-size" placeholder="Search Unit" [(ngModel)]="ProtocolPI.LeadUnitName" (ngModelChange)="getUnitList()" (focus)="isLeadUnitSearch = true" (focusout)="isLeadUnitSearch = false" (keydown.arrowdown) ="keyPressEvent.onKeyDown($event,'leadUnitDropDown')" (keydown.arrowup) ="keyPressEvent.onKeyDown($event,'leadUnitDropDown')" (keydown.Enter) ="keyPressEvent.onKeyDown($event,'leadUnitDropDown')">
                <div class="sb-seachresults top-margin research-dropDown-width " id="leadUnitDropDown">
                  <ul class="sb-results-dropdown-menu" *ngIf="isLeadUnitSearch">
                    <li *ngFor="let result of unitSearchResult" (mousedown)="selectedUnit(result.unitName, result.unitNumber)" (click)="selectedUnit(result.unitName, result.unitNumber)"><span> {{result.unitNumber}} - {{result.unitName}}</span></li>
                  </ul>
                  </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Title
                <span class="mandatory">*</span>
              </label>
              <textarea [disabled]="isGeneralInfoEditable == false" class="form-control txt-area-fnt" placeholder="Title" [(ngModel)]="generalInfo.protocolTitle"></textarea>
            </div>
          </div>
        </div>
        <div class="row bottom-margin">
          <div class="col-md-12">
            <div class="form-group">
              <label>Purpose of Study </label>
              <span class="sub-label"> ({{remainingLength}} characters left)</span>
              <textarea [disabled]="isGeneralInfoEditable == false" rows="12" class="form-control txt-area-fnt" maxlength="7500" id="purposeOfStudy" placeholder="Please provide a concise statement of the background, nature and reasons for the proposed study. Use non-technical language that can be understood by non-scientist members of COUHES. This section cannot exceed 7500 characters."
                [(ngModel)]="generalInfo.prtocolDescription" (ngModelChange)="remainingChar(generalInfo.prtocolDescription.length)"></textarea>
            </div>
          </div>
        </div>
        <div class="row bottom-margin">
          <div class="col-md-2">
            <button *ngIf="isGeneralInfoEditable" type="button margin-class" class="btn btn-success" (click)="saveGeneralInfo()">
              <span *ngIf="!isGeneralInfoSaved">Proceed</span>
              <span *ngIf="isGeneralInfoSaved">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>