<div class="pageMinHeight qst-background">
  <div class="container-fluid pushFixedHeaderFooter ">
    <div class="headerPush"></div>
      <section class="row" style="margin-top: 20px;">
        <div class="col-12">
          <div class="row">
            <div class=" col-lg-2 col-2 ">
              <app-questionnaire-tree [nodes]='nodes' [data]='data' [editIndex]= "editIndex" [errorList]= "errorList" (viewQuestion)="viewQuestion($event)"></app-questionnaire-tree>
          </div>
          <div class="col-9">
            <div class="row qst-preview-qstn-header">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active irb-qst-active': currentTab == 'basic'}"
                    (click)="changeCurrentTab('basic')" >Header</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active irb-qst-active': currentTab == 'create'}"
                      (click)="changeCurrentTab('create')">Questions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active irb-qst-active': currentTab == 'preview'}"
                      (click)="changeCurrentTab('preview')">Preview</a>
                  </li>
                </ul>
            </div>
            <ng-container *ngIf="currentTab == 'basic'">
                <app-basic-details [data]="data"></app-basic-details>
            </ng-container>
            <ng-container *ngIf="currentTab == 'create'">
              <app-create-questionnaire [questionnaire]="data.questionnaire" [commonValues]="QuestionnaireCommonValues"
                [nodes]="nodes" [groupLabels]="groupLabels" [errorList] = "errorList" [isFinal] ="data.header.IS_FINAL" (saveQuestionniare)="confirmSave($event)"
                (createTree)="createTreeNodes($event)" (previewTab)="changeCurrentTab($event)">
              </app-create-questionnaire>
            </ng-container>
            <ng-container *ngIf="currentTab == 'preview'">
              <app-preview-questionnaire [questionnaire]="data.questionnaire"></app-preview-questionnaire>
            </ng-container>
        </div>
        <div class="col-1" *ngIf="!isViewmode">
            <span class="button-list fixed-save" id="floater">
              <button type="button" class="btn btn-primary custom-button irb-qst-addbtn-clr" title="Add New Question"
                (click)="addNewQuestion('G0')"><i class="fa fa-plus"></i></button>
              <button type="button" class="btn btn-primary custom-button qst-save-button irb-qst-savebtn-clr" title="Save"
                (click)="confirmSave()"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-primary custom-button preview-btn"  [routerLink]="[ '../../questionnaire/list']"
                title="Preview"><i class="fa fa-reply"></i></button>
            </span>
        </div>
      </div>
    </div>
      </section>
      <button type="button" class="btn btn-primary custom-button qst-disp-none" id="saveQuestionniare"
        data-toggle="modal" data-target="#confirmSave"></button>
      <div class="modal fade" id="confirmSave" tabindex="-1" role="dialog" aria-labelledby="confirmSave"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              Do you want to save ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btnSkin" data-dismiss="modal">No</button>
              <button type="button" (click)="validateQuestionniare()" data-dismiss="modal"
                class="btn btnSkin btnSkinPrimary">Yes</button>
            </div>
          </div>
        </div>
      </div>
    <div class="footerPush"></div>
  </div>
</div>
<button id="app-spinner" class="btn btn-success spinner-label" style="display:none" type="button" disabled>
  <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true"></span>
  saving please wait..
</button>
<div id="toast-success">  {{toast_message}}</div>
