                <div>
                  <table class="table table-responsive tableSkin" *ngIf="result?.committeeSchedule?.protocolSubmissions?.length !== 0">
                      <tr>
                          <th title="">Protocol Number</th>
                          <th title="">PI</th>
                          <th title="">Protocol Title</th>
                          <th title="">Submission Type</th>
                          <th title="">Sub. Type Qualifier</th>
                          <th title="">Sub. Review Type</th>
                          <th title="">Submission Status</th>
                          <th title="">Submission Date</th>
                          <th title="">Action</th>
                      </tr>
                      <tr *ngFor="let protocolsubm of this.result?.committeeSchedule?.protocolSubmissions">
                          <td>{{protocolsubm.protocolNumber}}</td>
                          <td>{{protocolsubm.piPersonName}}</td>
                          <td>{{protocolsubm.protocolTitle}}</td>
                          <td>{{protocolsubm.protocolSubmissionType.description}}</td>
                          <td>{{protocolsubm.qualifierType.description}}</td>
                          <td>{{protocolsubm.protocolReviewType.description}}</td>
                          <td>{{protocolsubm.submissionStatus.description}}</td>
                          <td>{{protocolsubm.submissionDate}}</td>
                          <td>
                          <ul class="actionButtonGroup"><li>
                          &nbsp;&nbsp;<a title="Open {{protocolsubm.protocolNumber}}" [href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+protocolsubm.documentNumber+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i class="fa fa-eye"></i></a>
                          </li></ul>
                          </td>
                      </tr>
                  </table>
                  <div class="noDataOnChart" *ngIf="result?.committeeSchedule?.protocolSubmissions?.length == 0">
                  		No protocols associated with this schedule
                  </div>
              </div>
              