<div class="pushFixedHeaderFooter">
  <section class="row nav_toggle">
    <div class="card mt-5">

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


          <div class="col-12">
            <div class="row">
              <div class="col-8">
              <ul class="nav nav-pills" role="tablist" style="background: none;">
                <li class="nav-item" (click)="tabSelected='MEMBER_DETAILS'">
                  <a class="nav-link active txt-small button-red-tab" [ngClass]="{active:(tabSelected=='MEMBER_DETAILS')}">
                    <i class="fa fa-file-text-o txt-large mr-5" aria-hidden="true"></i>Member Details</a>
                </li>
                <li class="nav-item border-left1" (click)="tabSelected='STATUS_HISTORY'">
                  <a class="nav-link txt-small button-red-tab" [ngClass]="{active:(tabSelected=='STATUS_HISTORY')}">
                    <i class="fa fa-history txt-large mr-5" aria-hidden="true"></i>Status History
                  </a>
                </li>
                <li class="nav-item border-left1" (click)="tabSelected='TRAINING_DETAILS'">
                  <a class="nav-link txt-small button-red-tab" [ngClass]="{active:(tabSelected=='TRAINING_DETAILS')}">
                    <i class="fa fa-graduation-cap txt-large mr-5" aria-hidden="true"></i>Training Details
                  </a>
                </li>
              </ul>
              </div>
              <div class="col-4">
               <span class="thick txt-large" style="float: right;"><span  routerLink='/irb/committee/committeeMembers' [queryParams]="{mode :'view', id: committeeId}" class="pointer text-danger p-2"><u style="font-size: 14px;"><i class="fa fa-mail-reply">&nbsp;</i>Return To Member List</u></span></span>
              </div>
              </div>
          </div>
          <app-member-details *ngIf="tabSelected=='MEMBER_DETAILS'"></app-member-details>
          <app-status-history *ngIf="tabSelected=='STATUS_HISTORY'"></app-status-history>
          <app-training-details *ngIf="tabSelected=='TRAINING_DETAILS'"></app-training-details>
        </div>
      </div>
    </div>
  </section>
</div>