<section class="row nav_toggle">
	<div class="navigate">
		<ul class="navbarmed" *ngIf="roleType == 'PI' || roleType == 'DEPT_ADMIN'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ACTIVE')}">
				<a (click)="getIrbListData('ACTIVE')">Active Protocols</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'INPROGRESS')}">
				<a (click)="getIrbListData('INPROGRESS')">In Progress Protocols</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}">
				<a (click)="getIrbListData('ALL')">All Protocols</a>
			</li>
			<!--<li [ngClass]="{activenav:(lastClickedTab == 'PENDING')}">
						<a (click)="getIrbListData('PENDING')">Pending Action</a>
					</li>
					<li [ngClass]="{activenav:(lastClickedTab == 'DRAFT')}">
						<a (click)="getIrbListData('DRAFT')">In Progress</a>
					</li> -->
			<li [ngClass]="{activenav:(lastClickedTab == 'EXEMPT')}">
				<a (click)="getExemptListData('EXEMPT')">Exempt Evaluations</a>
			</li>
			<span>
				<a (click)="showAdvanceSearch()">
					<i *ngIf="isAdvancesearch" class="fa fa-minus-circle"></i>
					<i *ngIf="!isAdvancesearch" class="fa fa-plus-circle"></i> Advanced Search
				</a>
			</span>
		</ul>
		<ul class="navbarmed" *ngIf="roleType == 'ADMIN' || roleType == 'CHAIR'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}">
				<a (click)="getIrbListData('ALL')">My Protocols</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'NEW_SUBMISSION')}">
				<a (click)="getIrbListData('NEW_SUBMISSION')">New Submission </a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'PI_ACTION')}">
				<a (click)="getIrbListData('PI_ACTION')">PI Actions</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ADMINISTRATOR')}">
				<a (click)="getIrbListData('ADMINISTRATOR')">Administrator</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'REVIEWER')}">
				<a (click)="getIrbListData('REVIEWER')">Reviewer</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'EXEMPT')}">
				<a (click)="getExemptListData('EXEMPT')">Exempt Evaluations</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'COMMITTEE')}">
				<a (click)="getCommitteeScheduleListData('COMMITTEE')">Committees</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'SCHEDULE')}">
				<a (click)="getCommitteeScheduleListData('SCHEDULE')">Schedules</a>
			</li>
			<span *ngIf="lastClickedTab != 'COMMITTEE' && lastClickedTab != 'SCHEDULE'">
				<a (click)="showAdvanceSearch()">
					<i *ngIf="isAdvancesearch" class="fa fa-minus-circle"></i>
					<i *ngIf="!isAdvancesearch" class="fa fa-plus-circle"></i> Advanced Search
				</a>
			</span>
		</ul>
		<div class="navigate_ot tab-content" id="nav-tabContent">
			<div class="toggle_navgate">
				<div class="col-sm-12 top-form" *ngIf="isAdvancesearch && lastClickedTab != 'EXEMPT'">
					<div class="form-inline">
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.protocolNumber" class="form-control" placeholder="Protocol Number" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.title" class="form-control" placeholder="Title" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
						</div>
						<div class="form-group">
							<!-- <input class="form-control" type="text" *ngIf="!continueBtnClicked" (input)="clearSelectedPIdata()" [(ngModel)]="requestObject.irbExemptForm.personName"
								(keydown.arrowdown) ="keyPressEvent.onKeyDown($event,'pIDropDown')" (keydown.arrowup) ="keyPressEvent.onKeyDown($event,'pIDropDown')" (keydown.Enter) ="onKeyEnterElastic('pIDropDown')" 
								placeholder="Search: PI Name" [formControl]="piSearchText" (focus)="IsElasticResultPI = true" (focusout)="IsElasticResultPI = false"> -->
							<input type="text" [(ngModel)]="requestObject.piName" class="form-control input-width" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'pIDropDown')"
							 (keydown.arrowup)="keyPressEvent.onKeyDown($event,'pIDropDown')" (keydown.Enter)="onKeyEnterElastic('pIDropDown')"
							 placeholder="Search: PI Name" [formControl]="piSearchText" (focus)="IsElasticResultPI = true" (focusout)="IsElasticResultPI = false">
							<div class="sb-seachresults results-margin advancedSearchPiElastic" id="pIDropDown">
								<ul class="sb-results-dropdown-menu test mt-15" *ngIf="IsElasticResultPI">
									<li *ngFor="let result of _piResults | async" (mousedown)="selectedPiResult(result)" (click)="selectedPiResult(result)">
										<span [innerHTML]="result.label"></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<select class="form-control selectBoxShade select-width" placeholder="Protocol Type" [(ngModel)]="requestObject.protocolTypeCode"
							 (ngModelChange)="getAdvanceSearch(lastClickedTab)" id="inlineFormCustomSelect">
								<option value="" hidden>Protocol Type</option>
								<option *ngFor="let type of protocolTypeList" value="{{type.PROTOCOL_TYPE_CODE}}">{{type.PROTOCOL_TYPE}}</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Protocol Status" [(ngModel)]="protocolStatus" (click)="openStatusModal(false)"
							 (keyup.tab)="openStatusModal(false)" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Submission Status" [(ngModel)]="submissionStatus" (click)="openStatusModal(true)"
							 (keyup.tab)="openStatusModal(true)" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.fundingSource" class="form-control" placeholder="Funding Source" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">


						</div>
						<div class="form-group">
							<input class="form-control date-width" [owlDateTime]="dt3" placeholder="Approval Date From" [(ngModel)]="approvalDate" (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
							<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt3">
								<span title="Choose Approval Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control date-width" [owlDateTime]="dt4" placeholder="Expiration Date To" [(ngModel)]="expirationDate"
							 (keydown.Enter)="getAdvanceSearch(lastClickedTab)">
							<owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt4">
								<span title="Choose Expiration Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-default btn-search" (click)="getAdvanceSearch(lastClickedTab)">
								<i class="fa fa-search"></i>Search
							</button>
							<button class="btn btn-default btn-close" (click)="clear()">
								<i class="fa fa-close"></i>Clear
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 checkbox-right">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="searchBox" *ngIf="lastClickedTab == 'ALL'">




								<!-- <app-elastic [options]="options" [placeHolder]="elasticPlaceHolder"  [clearField]="true"
									(selectedResult)="selectProposalElasticResult($event)"></app-elastic> -->



								<input type="text" placeholder="Search: Protocol#, Type, Title, PI Name, Status" [formControl]="searchText" [(ngModel)]="searchTextModel"
								 (ngModelChange)="protocolSearchValueChange()" (focus)="IsElasticResult = true" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'protocolDropDown')"
								 (keydown.arrowup)="keyPressEvent.onKeyDown($event,'protocolDropDown')" (keydown.Enter)="onKeyEnterElastic('protocolDropDown')"
								/>
								<a href="#" class="searchButton" (click)="clearsearchBox($event)">
									<i [ngClass]="iconClass"></i>
								</a>
								<div class="sb-seachresults" id="protocolDropDown">
									<ul class="sb-results-dropdown-menu test" *ngIf="IsElasticResult">
										<li *ngFor="let result of _results | async" (mousedown)="selectedResult(result)" (click)="selectedResult(result)">
											<span [innerHTML]="result.label"></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 viewMode resultCard " *ngIf="elasticResultTab && lastClickedTab == 'ALL'">
					<button class="closeResultCard" (click)="closeResultTab()">
						<i class="fa fa-times"></i>
					</button>
					<div class="row">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Protocol# </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocol }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Expiration Date </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{expiry_date }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Protocol Type </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocolType }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Status </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{status }}</a>
							</span>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{piName }}</a>
							</span>
						</div>
						<div class="col-xl-1 col-lg-12 col-md-12 col-sm-12 col-12 align-view-btn">
							<a class="pointer">
								<button type="button" class="btn btn-outline-secondary button-view mb-0 elastic-view-margin" (click)="openIrb(protocol)">
									<i class="fa fa-eye"></i>View
								</button>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 sort-labels">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12" *ngIf="(lastClickedTab !== 'EXEMPT' && lastClickedTab !== 'COMMITTEE' && lastClickedTab !== 'SCHEDULE')">
							<div class="form-check form-check-inline sort-fields">
								<label>SORT BY:</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_NUMBER'}" (click)="sortField = 'PROTOCOL_NUMBER';updateSortOrder()">PROTOCOL NUMBER
									<i class="fa" *ngIf="sortField == 'PROTOCOL_NUMBER'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_STATUS'}" (click)="sortField = 'PROTOCOL_STATUS';updateSortOrder()">STATUS
									<i class="fa" *ngIf="sortField == 'PROTOCOL_STATUS'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'TITLE'}" (click)="sortField = 'TITLE';updateSortOrder()">TITLE
									<i class="fa" *ngIf="sortField == 'TITLE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_TYPE'}" (click)="sortField = 'PROTOCOL_TYPE';updateSortOrder()">TYPE
									<i class="fa" *ngIf="sortField == 'PROTOCOL_TYPE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'SUBMISSION_STATUS'}" (click)="sortField = 'SUBMISSION_STATUS';updateSortOrder()">SUBMISSION STATUS
									<i class="fa" *ngIf="sortField == 'SUBMISSION_STATUS'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'LAST_APPROVAL_DATE'}" (click)="sortField = 'LAST_APPROVAL_DATE';updateSortOrder()">APPROVAL DATE
									<i class="fa" *ngIf="sortField == 'LAST_APPROVAL_DATE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'EXPIRATION_DATE'}" (click)="sortField = 'EXPIRATION_DATE';updateSortOrder()">EXPIRATION DATE
									<i class="fa" *ngIf="sortField == 'EXPIRATION_DATE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'UPDATE_TIMESTAMP'}" (click)="sortField = 'UPDATE_TIMESTAMP';updateSortOrder()">UPDATE TIMESTAMP
									<i class="fa" *ngIf="sortField == 'UPDATE_TIMESTAMP'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-arrow-up':'fa-arrow-down'"
									 aria-hidden="true"></i>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 top-form" *ngIf="isAdvancesearch && lastClickedTab == 'EXEMPT'">
					<div class="form-inline">
						<div class="form-group">
							<input type="number" [(ngModel)]="requestObject.exemptFormId" class="form-control search-input input-width" placeholder="Exempt-ID" (keydown.Enter)="getExemptListData('EXEMPT')">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.title" class="form-control search-input input-width" placeholder="Title" (keydown.Enter)="getExemptListData('EXEMPT')">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.piName" class="form-control input-width" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'pIDropDown')"
							 (keydown.arrowup)="keyPressEvent.onKeyDown($event,'pIDropDown')" (keydown.Enter)="onKeyEnterElastic('pIDropDown')"
							 placeholder="Search: PI Name" [formControl]="piSearchText" (focus)="IsElasticResultPI = true" (focusout)="IsElasticResultPI = false">
							<div class="sb-seachresults results-margin advancedSearchPiElastic" id="pIDropDown">
								<ul class="sb-results-dropdown-menu test mt-15" *ngIf="IsElasticResultPI">
									<li *ngFor="let result of _piResults | async" (mousedown)="selectedPiResult(result)" (click)="selectedPiResult(result)">
										<span [innerHTML]="result.label"></span>
									</li>
								</ul>
							</div>
							<!-- <input type="text" [(ngModel)]="requestObject.piName" class="form-control search-input input-width" placeholder="PI Name" (keydown.Enter)="getExemptListData('EXEMPT')"> -->
						</div>
						<div class="form-group">
							<!-- <input type="text" [(ngModel)]="requestObject.exemptFormfacultySponsorName" class="form-control search-input input-width"
							 placeholder="Faculty Sponsor" (keydown.Enter)="getExemptListData('EXEMPT')"> -->
							<input type="text" [(ngModel)]="requestObject.exemptFormfacultySponsorName" class="form-control input-width" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'fSDropDown')"
							 (keydown.arrowup)="keyPressEvent.onKeyDown($event,'fSDropDown')" (keydown.Enter)="onKeyEnterElastic('fSDropDown')"
							 placeholder="Search: Faculty Sponsor Name" [formControl]="fsSearchText" (focus)="IsElasticResultFS = true" (focusout)="IsElasticResultFS = false">
							<div class="sb-seachresults results-margin advancedSearchPiElastic" id="fSDropDown">
								<ul class="sb-results-dropdown-menu test mt-15" *ngIf="IsElasticResultFS">
									<li *ngFor="let result of _piResults | async" (mousedown)="selectedFsResult(result)" (click)="selectedFsResult(result)">
										<span [innerHTML]="result.label"></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<select class="form-control selectBoxShade search-input input-width" placeholder="Determination" [(ngModel)]="requestObject.determination"
							 (ngModelChange)="getExemptListData('EXEMPT')" id="inlineFormCustomSelect">
								<option value="" hidden>Determination</option>
								<option value="Y">Exempt</option>
								<option value="N">Not Exempt</option>
								<option value="O">Review Not Required</option>
							</select>
						</div>

						<div class="form-group">
							<input class="form-control search-input input-width-date" [owlDateTime]="dt1" placeholder="Start Date" [(ngModel)]="requestObject.exemptFormStartDate"
							 (keydown.Enter)="getExemptListData('EXEMPT')">
							<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt1">
								<span title="Choose Start Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control search-input input-width-date" [owlDateTime]="dt2" placeholder="End Date" [(ngModel)]="requestObject.exemptFormEndDate"
							 (keydown.Enter)="getExemptListData('EXEMPT')">
							<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt2">
								<span title="Choose End Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>

						<div class="form-group">
							<button class="btn btn-default btn-search" (click)="getExemptListData('EXEMPT')">
								<i class="fa fa-search"></i>Search
							</button>
							<button class="btn btn-default btn-close" (click)="clearExemptSearch()">
								<i class="fa fa-close"></i>Clear
							</button>
						</div>
					</div>
				</div>
			</div>

			<ng-container *ngIf="lastClickedTab != 'EXEMPT' && lastClickedTab != 'COMMITTEE' && lastClickedTab != 'SCHEDULE'">
				<div class="col-sm-12" *ngIf="noIrbList">No IRB protocol found for this status</div>
				<div *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
								|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')">
					<app-card-details [irbList]="paginatedIrbListData  | orderBy: {property: column, direction: direction}"></app-card-details>
					<!-- PAGINATION - START -->
					<div class="text-right pagiSkin margin8" style="float:right" *ngIf="paginatedIrbListData.length > 0">
						<nav class="paginationSkin text-right pagination">
							<div class="margin8">
								<b>{{paginationData.page_number * paginationData.limit - paginationData.limit + 1}} - {{paginationData.page_number *
									paginationData.limit - paginationData.limit + paginatedIrbListData.length}} of {{protocolCount}} Records</b>
							</div>
							<ngb-pagination [boundaryLinks]="true" [maxSize]="4" [collectionSize]="protocolCount" [(page)]="paginationData.page_number"
							 paginationData.page_number=page [pageSize]="paginationData.limit" [rotate]="true" (pageChange)="protocolListPerPage(paginationData.page_number)">
							</ngb-pagination>
						</nav>
					</div>
					<!-- PAGINATION - END -->
				</div>
			</ng-container>

			<ng-container *ngIf="lastClickedTab == 'COMMITTEE'">
				<div class="col-sm-12" *ngIf="noIrbList">No COMMITTEE found</div>
				<!-- <app-committee-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
					|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="paginatedIrbListData  | orderBy: {property: column, direction: direction}"></app-committee-card> -->
				<app-committee-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
					|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="paginatedIrbListData"></app-committee-card>
				<!-- PAGINATION - START -->
				<div class="text-right pagiSkin margin8" style="float:right" *ngIf="paginatedIrbListData.length > 0">
					<nav class="paginationSkin text-right pagination">
						<div class="margin8">
							<b>{{paginationData.page_number * paginationData.limit - paginationData.limit + 1}} - {{paginationData.page_number *
								paginationData.limit - paginationData.limit + paginatedIrbListData.length}} of {{protocolCount}} Records</b>
						</div>
						<ngb-pagination [boundaryLinks]="true" [maxSize]="4" [collectionSize]="protocolCount" [(page)]="paginationData.page_number"
						 paginationData.page_number=page [pageSize]="paginationData.limit" [rotate]="true" (pageChange)="protocolListPerPage(paginationData.page_number)">
						</ngb-pagination>
					</nav>
				</div>
				<!-- PAGINATION - END -->
			</ng-container>

			<ng-container *ngIf="lastClickedTab == 'SCHEDULE'">
				<div class="col-sm-12" *ngIf="noIrbList">No SCHEDULE found</div>
				<!-- <app-schedule-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
						|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="paginatedIrbListData  | orderBy: {property: column, direction: direction}"></app-schedule-card> -->
				<app-schedule-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
						|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="paginatedIrbListData"></app-schedule-card>
				<!-- PAGINATION - START -->
				<div class="text-right pagiSkin margin8" style="float:right" *ngIf="paginatedIrbListData.length > 0">
					<nav class="paginationSkin text-right pagination">
						<div class="margin8">
							<b>{{paginationData.page_number * paginationData.limit - paginationData.limit + 1}} - {{paginationData.page_number *
								paginationData.limit - paginationData.limit + paginatedIrbListData.length}} of {{protocolCount}} Records</b>
						</div>
						<ngb-pagination [boundaryLinks]="true" [maxSize]="4" [collectionSize]="protocolCount" [(page)]="paginationData.page_number"
						 paginationData.page_number=page [pageSize]="paginationData.limit" [rotate]="true" (pageChange)="protocolListPerPage(paginationData.page_number)">
						</ngb-pagination>
					</nav>
				</div>
				<!-- PAGINATION - END -->
			</ng-container>

			<ng-container *ngIf="lastClickedTab == 'EXEMPT'">
				<div class="col-sm-12" *ngIf="noIrbList">No Exempt studies found </div>
				<app-exempt-card #childExempt [exemptList]="exemptListData" [userDTO]="userDTO" [showBtn]="noIrbList"></app-exempt-card>
				<!-- PAGINATION - EXEMPT - START -->
				<div class="text-right pagiSkin margin8" style="float:right" *ngIf="childExempt.paginatedExemptList.length > 0">
					<nav class="paginationSkin text-right pagination">
						<div class="margin8">
							<b>{{childExempt.paginationData.page_number * childExempt.paginationData.limit - childExempt.paginationData.limit + 1}}
								- {{childExempt.paginationData.page_number * childExempt.paginationData.limit - childExempt.paginationData.limit
								+ childExempt.paginatedExemptList.length}} of {{childExempt.protocolCount}} Records</b>
						</div>
						<ngb-pagination [boundaryLinks]="true" [maxSize]="4" [collectionSize]="childExempt.protocolCount" [(page)]="childExempt.paginationData.page_number"
						 childExempt.paginationData.page_number=page [pageSize]="childExempt.paginationData.limit" [rotate]="true" (pageChange)="childExempt.paginateExempList(childExempt.paginationData.page_number)">
						</ngb-pagination>
					</nav>
				</div>
				<!-- PAGINATION - EXEMPT - END -->
			</ng-container>

		</div>
	</div>
</section>

<div class="modal fade mySkinDialog modalFallBack" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModal"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content modal-text-color">
			<div class="modal-header popup-header">
				<h5 class="modal-title modal-text-color">Alert!</h5>

				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-popup">
				<!-- section1 -->
				<div class="modal-padding">
					<div class="row">
						<div class="col-md-12 col-12 lg-12 col-sm-12 col-12">
							<h4 class=" questionnaire-popups">
								<p>You do not have the right to view this protocol</p>
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>
<!-- Status search modal -->
<div class="modal fade bd-example-modal-lg" id="statusSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header popup-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Select the Status to be Searched</h5>
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-popup">
				<div class="modal-header-label">
					<div class="status-input-search searchBox">
						<input type="text" placeholder="Search Status of Protocols here" [(ngModel)]="statusSearchText" (ngModelChange)="statusSearchChange()"
						/>
						<a href="#" class="searchButton" (click)="clearStatusSearch($event)">
							<i [ngClass]="statusSearchText?'fa fa-times fa-med':'fa fa-search fa-med'"></i>
						</a>
					</div>
					<h4 class="popup-sub-head">Status</h4>
				</div>
				<!-- section1 -->
				<div class="modal-padding">
					<div class="row">
						<div class="col-lg-4 status-links pdf" *ngFor="let protocolStatus of protocolStatusesCopy">
							<input *ngIf="!isSubmittedStatusSearch" type="checkbox" [(ngModel)]="isCheckBoxChecked[protocolStatus?.PROTOCOL_STATUS]"
							/>
							<input *ngIf="isSubmittedStatusSearch" type="checkbox" [(ngModel)]="isCheckBoxCheckedSubmit[protocolStatus?.description]"
							/>
							<a>
								<span *ngIf="!isSubmittedStatusSearch">{{protocolStatus?.PROTOCOL_STATUS}}</span>
								<span *ngIf="isSubmittedStatusSearch">{{protocolStatus?.description}}</span>
							</a>
						</div>
					</div>


				</div>
				<div class="modal-footer">
					<section class="row btn-row-med sect-padding">
						<button class="btn btn-primary tab_btn" (click)="setProtocolStatus()" data-dismiss="modal">Search</button>
						<button class="btn btn-default btn-close ml-0" (click)="clearStatus()">Clear</button>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!--Hidden Button for warning modal-->
	<button id="openWarningModalButton" [hidden]="true" data-toggle="modal" data-target="#warningModal"></button>
	<button id="openStatusModalButton" [hidden]="true" data-toggle="modal" data-target="#statusSearchModal"></button>