<section class="row nav_toggle">
	<div class="navigate">
		<ul class="navbarmed" *ngIf="roleType == 'PI' || roleType == 'DEPT_ADMIN'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}">
				<a (click)="getIrbListData('ALL')">My Protocols</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'PENDING')}">
				<a (click)="getIrbListData('PENDING')">Pending Action</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'DRAFT')}">
				<a (click)="getIrbListData('DRAFT')">In Progress</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'INPROGRESS')}">
				<a (click)="getIrbListData('INPROGRESS')">Submitted</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ACTIVE')}">
				<a (click)="getIrbListData('ACTIVE')">Active</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'EXEMPT')}">
				<a (click)="getExemptListData('EXEMPT')">Exempt Determinations</a>
			</li>
			<span>
				<a (click)="showAdvanceSearch()">
					<i *ngIf="isAdvancesearch" class="fa fa-minus-circle"></i>
					<i *ngIf="!isAdvancesearch" class="fa fa-plus-circle"></i> Advanced Search
				</a>
			</span>
		</ul>
		<ul class="navbarmed" *ngIf="roleType == 'ADMIN' || roleType == 'CHAIR'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}">
				<a (click)="getIrbListData('ALL')">My Protocols</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'NEW_SUBMISSION')}">
				<a (click)="getIrbListData('NEW_SUBMISSION')">New Submission </a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'PI_ACTION')}">
				<a (click)="getIrbListData('PI_ACTION')">PI Actions</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ADMINISTRATOR')}">
				<a (click)="getIrbListData('ADMINISTRATOR')">Administrator</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'REVIEWER')}">
				<a (click)="getIrbListData('REVIEWER')">Reviewer</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'EXEMPT')}">
				<a (click)="getExemptListData('EXEMPT')">Exempt Determinations</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'COMMITTEE')}">
				<a (click)="getCommitteeScheduleListData('COMMITTEE')">Committees</a>
			</li>
			<li [ngClass]="{activenav:(lastClickedTab == 'SCHEDULE')}">
				<a (click)="getCommitteeScheduleListData('SCHEDULE')">Schedules</a>
			</li>
			<span *ngIf="lastClickedTab != 'COMMITTEE' && lastClickedTab != 'SCHEDULE'">
				<a (click)="showAdvanceSearch()">
					<i *ngIf="isAdvancesearch" class="fa fa-minus-circle"></i>
					<i *ngIf="!isAdvancesearch" class="fa fa-plus-circle"></i> Advanced Search
				</a>
			</span>
		</ul>
		<div class="navigate_ot tab-content" id="nav-tabContent">
			<div class="toggle_navgate">
				<div class="col-sm-12 top-form" *ngIf="isAdvancesearch && lastClickedTab != 'EXEMPT'">
					<div class="form-inline">
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.protocolNumber" class="form-control" placeholder="Protocol Number">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.title" class="form-control" placeholder="Title">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.piName" class="form-control" placeholder="PI Name">
						</div>
						<div class="form-group">
							<select class="form-control selectBoxShade" placeholder="Protocol Type" [(ngModel)]="requestObject.protocolTypeCode" id="inlineFormCustomSelect">
								<option value="" hidden>Protocol Type</option>
								<option *ngFor="let type of protocolTypeList" value="{{type.PROTOCOL_TYPE_CODE}}">{{type.PROTOCOL_TYPE}}</option>
							</select>
						</div>
						<div class="form-group">
							<button class="btn btn-default btn-search" (click)="getAdvanceSearch(lastClickedTab)">
								<i class="fa fa-search"></i>Search
							</button>
							<button class="btn btn-default btn-close" (click)="clear()">
								<i class="fa fa-close"></i>Clear
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 checkbox-right">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="searchBox" *ngIf="lastClickedTab == 'ALL'">
								<input type="text" placeholder="Search: Protocol#, Type, Title, PI Name, Status" [formControl]="searchText" [(ngModel)]="searchTextModel"
								 (ngModelChange)="protocolSearchValueChange()" (focus)="IsElasticResult = true" />
								<a href="#" class="searchButton" (click)="clearsearchBox($event)">
									<i [ngClass]="iconClass"></i>
								</a>
								<div class="sb-seachresults">
									<ul class="sb-results-dropdown-menu test" *ngIf="IsElasticResult">
										<li *ngFor="let result of _results | async" (mousedown)="selectedResult(result)">
											<span [innerHTML]="result.label"></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 viewMode resultCard " *ngIf="elasticResultTab && lastClickedTab == 'ALL'">
					<button class="closeResultCard" (click)="closeResultTab()">
						<i class="fa fa-times"></i>
					</button>
					<div class="row">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Protocol# </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocol }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Expiration Date </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{expiry_date }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Protocol Type </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocolType }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Status </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{status }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI </label>
							<span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{piName }}</a>
							</span>
						</div>
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-view-btn">
							<a href="#/irb/irb-view/irbOverview?protocolNumber={{protocol}}">
								<button type="button" class="btn btn-outline-secondary button-view mb-0 elastic-view-margin" (click)="openIrb(protocol)">
									<i class="fa fa-eye"></i>View Details
								</button>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 sort-labels">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12" *ngIf="(lastClickedTab !== 'EXEMPT')">
							<div class="form-check form-check-inline sort-fields">
								<label>SORT BY:</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_NUMBER'}" (click)="sortField = 'PROTOCOL_NUMBER';updateSortOrder()">PROTOCOL NUMBER
									<i class="fa" *ngIf="sortField == 'PROTOCOL_NUMBER'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_STATUS'}" (click)="sortField = 'PROTOCOL_STATUS';updateSortOrder()">STATUS
									<i class="fa" *ngIf="sortField == 'PROTOCOL_STATUS'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'TITLE'}" (click)="sortField = 'TITLE';updateSortOrder()">TITLE
									<i class="fa" *ngIf="sortField == 'TITLE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'PROTOCOL_TYPE'}" (click)="sortField = 'PROTOCOL_TYPE';updateSortOrder()">TYPE
									<i class="fa" *ngIf="sortField == 'PROTOCOL_TYPE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'SUBMISSION_STATUS'}" (click)="sortField = 'SUBMISSION_STATUS';updateSortOrder()">SUBMISSION STATUS
									<i class="fa" *ngIf="sortField == 'SUBMISSION_STATUS'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'LAST_APPROVAL_DATE'}" (click)="sortField = 'LAST_APPROVAL_DATE';updateSortOrder()">APPROVAL DATE
									<i class="fa" *ngIf="sortField == 'LAST_APPROVAL_DATE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'EXPIRATION_DATE'}" (click)="sortField = 'EXPIRATION_DATE';updateSortOrder()">EXPIRATION DATE
									<i class="fa" *ngIf="sortField == 'EXPIRATION_DATE'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
								<label class="sort-fields-padding" [ngClass]="{'sort-field-selected': sortField == 'UPDATE_TIMESTAMP'}" (click)="sortField = 'UPDATE_TIMESTAMP';updateSortOrder()">UPDATE TIMESTAMP
									<i class="fa" *ngIf="sortField == 'UPDATE_TIMESTAMP'" (click)="updateSortOrder();" [ngClass]="(sortOrder == '-1')?'fa-long-arrow-up':'fa-long-arrow-down'"
									 aria-hidden="true"></i>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 top-form" *ngIf="isAdvancesearch && lastClickedTab == 'EXEMPT'">
					<div class="form-inline">
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.title" class="form-control search-input input-width" placeholder="Title">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.piName" class="form-control search-input input-width" placeholder="PI Name">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.exemptFormfacultySponsorName" class="form-control search-input input-width"
							 placeholder="Faculty Sponsor">
						</div>
						<div class="form-group">
							<select class="form-control selectBoxShade search-input input-width" placeholder="Determination" [(ngModel)]="requestObject.determination"
							 id="inlineFormCustomSelect">
								<option value="" hidden>Determination</option>
								<option value="Y">Exempt</option>
								<option value="N">Not Exempt</option>
							</select>
						</div>

						<div class="form-group">
							<input class="form-control search-input input-width-date" [owlDateTime]="dt1" placeholder="Start Date" [(ngModel)]="requestObject.exemptFormStartDate">
							<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt1">
								<span title="Choose Start Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control search-input input-width-date" [owlDateTime]="dt2" placeholder="End Date" [(ngModel)]="requestObject.exemptFormEndDate">
							<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
							<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt2">
								<span title="Choose End Date" class="input-group-text">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
							</div>
						</div>

						<div class="form-group">
							<button class="btn btn-default btn-search" (click)="getExemptListData('EXEMPT')">
								<i class="fa fa-search"></i>Search
							</button>
							<button class="btn btn-default btn-close" (click)="clearExemptSearch()">
								<i class="fa fa-close"></i>Clear
							</button>
						</div>
					</div>
				</div>
			</div>
			<ng-container *ngIf="lastClickedTab != 'EXEMPT' && lastClickedTab != 'COMMITTEE' && lastClickedTab != 'SCHEDULE'">
				<div class="col-sm-12" *ngIf="noIrbList">No Irb protocol found for this status</div>
				<app-card-details *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
				|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="irbListData  | orderBy: {property: column, direction: direction}"></app-card-details>
			</ng-container>
			<ng-container *ngIf="lastClickedTab == 'COMMITTEE'">
				<div class="col-sm-12" *ngIf="noIrbList">No COMMITTEE found</div>
				<app-committee-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
					|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="irbListData"></app-committee-card>
			</ng-container>
			<ng-container *ngIf="lastClickedTab == 'SCHEDULE'">
				<div class="col-sm-12" *ngIf="noIrbList">No SCHEDULE found</div>
				<app-schedule-card *ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
						|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI' || roleType == 'DEPT_ADMIN')"
				 [irbList]="irbListData"></app-schedule-card>
			</ng-container>
			<ng-container *ngIf="lastClickedTab == 'EXEMPT'">
				<div class="col-sm-12" *ngIf="noIrbList">No Exempt studies found </div>
				<app-exempt-card [exemptList]="exemptListData" [userDTO]="userDTO" [showBtn]="noIrbList"></app-exempt-card>
			</ng-container>
		</div>
	</div>
</section>