<section class="row nav_toggle">
	<div class="navigate">
		<ul class="navbarmed" *ngIf="roleType == 'PI'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}"><a
				(click)="getIrbListData('ALL')">All My Protocols</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'PENDING')}"><a
				(click)="getIrbListData('PENDING')">Pending Action</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'DRAFT')}"><a
				(click)="getIrbListData('DRAFT')">In Progress</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'INPROGRESS')}"><a
				(click)="getIrbListData('INPROGRESS')">Submitted</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ACTIVE')}"><a
				(click)="getIrbListData('ACTIVE')">Active</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'EXEMPT')}"><a
				(click)="getExemptListData('EXEMPT')">Exempt Studies</a></li>
			<span *ngIf="(lastClickedTab !== 'EXEMPT')"> <a (click)="showAdvanceSearch()"><i
					class="fa fa-glass"></i></a>
			</span>
		</ul>
		<ul class="navbarmed"
			*ngIf="roleType == 'ADMIN' || roleType == 'CHAIR'">
			<li [ngClass]="{activenav:(lastClickedTab == 'ALL')}"><a
				(click)="getIrbListData('ALL')">All My Protocols</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'NEW_SUBMISSION')}"><a
				(click)="getIrbListData('NEW_SUBMISSION')">New Submission </a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'PI_ACTION')}"><a
				(click)="getIrbListData('PI_ACTION')">PI Actions</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'ADMINISTRATOR')}"><a
				(click)="getIrbListData('ADMINISTRATOR')">Administrator</a></li>
			<li [ngClass]="{activenav:(lastClickedTab == 'REVIEWER')}"><a
				(click)="getIrbListData('REVIEWER')">Reviewer</a></li>
			<span> <a (click)="showAdvanceSearch()"><i
					class="fa fa-glass"></i></a>
			</span>
		</ul>
		<div class="navigate_ot tab-content" id="nav-tabContent">
			<div class="toggle_navgate">
				<div class="col-sm-12 top-form" *ngIf="isAdvancesearch">
					<div class="form-inline">
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.protocolNumber"
								class="form-control" placeholder="Protocol Number">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.title"
								class="form-control" placeholder="Title">
						</div>
						<div class="form-group">
							<input type="text" [(ngModel)]="requestObject.piName"
								class="form-control" placeholder="PI Name">
						</div>
						<div class="form-group">
							<select class="form-control selectBoxShade"
								placeholder="Protocol Type"
								[(ngModel)]="requestObject.protocolTypeCode"
								id="inlineFormCustomSelect">
								<option value="" hidden>Protocol Type</option>
								<option *ngFor="let type of protocolTypeList"
									value="{{type.PROTOCOL_TYPE_CODE}}">{{type.PROTOCOL_TYPE}}</option>
							</select>
						</div>
						<div class="form-group">
							<button class="btn btn-default btn-search"
								(click)="getAdvanceSearch(lastClickedTab)">
								<i class="fa fa-search"></i>Search
							</button>
							<button class="btn btn-default btn-close" (click)="clear()">
								<i class="fa fa-close"></i>Clear
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 checkbox-right">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-lg-8">
							<div class="searchBox" *ngIf="lastClickedTab == 'ALL'">
								<input type="text"
									placeholder="Search: Protocol#, Type, Title, PI Name, Status"
									[formControl]="searchText" [(ngModel)]="seachTextModel"
									(focus)="IsElasticResult = true" /> <a href="#"
									class="searchButton" (click)="clearsearchBox($event)"><i
									[ngClass]="iconClass"></i></a>
								<div class="sb-seachresults">
									<ul class="sb-results-dropdown-menu" *ngIf="IsElasticResult">
										<li *ngFor="let result of _results | async"
											(mousedown)="selectedResult(result)"><span
											[innerHTML]="result.label"></span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-4" *ngIf="(lastClickedTab !== 'EXEMPT')">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="sortOrder"
									[(ngModel)]="sortOrder" (ngModelChange)="sortBy()"
									id="inlineCheckbox1" value="-1"> <label
									class="form-check-label radio-label" for="inlineCheckbox1">ASC</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									id="inlineCheckbox2" [(ngModel)]="sortOrder" name="sortOrder"
									(ngModelChange)="sortBy()" value="1"> <label
									class="form-check-label radio-label" for="inlineCheckbox2">DSC</label>
							</div>
							<div class="form-check form-check-inline">
								<select class="custom-select mr-sm-2" [(ngModel)]="sortField"
									(ngModelChange)="sortBy()" id="inlineFormCustomSelect">
									<!-- <option *ngFor="let keys of arrayOfKeys" value="{{keys}}">{{keys}}</option> -->
									<option value="UPDATE_TIMESTAMP">UPDATE TIMESTAMP</option>
									<option value="PROTOCOL_STATUS">PROTOCOL STATUS</option>
									<option value="PROTOCOL_NUMBER">PROTOCOL NUMBER</option>
									<option value="TITLE">TITLE</option>
									<option value="PROTOCOL_TYPE">PROTOCOL TYPE</option>
									<option value="SUBMISSION_STATUS">SUBMISSION STATUS</option>
									<option value="LAST_APPROVAL_DATE">LAST APPROVAL DATE</option>
									<option value="EXPIRATION_DATE">EXPIRATION DATE</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 viewMode resultCard "
					*ngIf="elasticResultTab && lastClickedTab == 'ALL'">
					<button class="closeResultCard" (click)="closeResultTab()">
						<i class="fa fa-times"></i>
					</button>
					<div class="row">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Protocol# </label> <span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocol }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label> <span class="nav-advance-search"> <a
								(click)="openIrb(protocol)">{{title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Expiration Date </label> <span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{expiry_date }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Protocol Type </label> <span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{protocolType }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Status </label> <span class="nav-advance-search">
								<a (click)="openIrb(protocol)">{{status }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI </label> <span class="nav-advance-search"> <a
								(click)="openIrb(protocol)">{{piName }}</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<ng-container *ngIf = "lastClickedTab != 'EXEMPT'">
				<div class="col-sm-12" *ngIf="noIrbList">No Irb protocol found for this status</div>
				<app-card-details
				*ngIf="(lastClickedTab !== 'ALL'&&(roleType !== 'CHAIR' || roleType !== 'ADMIN'))
			|| (lastClickedTab == 'ALL'&&(roleType == 'CHAIR' || roleType == 'ADMIN') && isAdvancsearchPerformed == true) ||(roleType == 'PI')"
				[irbList]="irbListData  | orderBy: {property: column, direction: direction}"></app-card-details>
			</ng-container>	
			<ng-container *ngIf = "lastClickedTab == 'EXEMPT'">
				<div class="col-sm-12" *ngIf="noIrbList">No Exempt studies found </div>
				<app-exempt-card
				[exemptList]="exemptListData"></app-exempt-card>
			</ng-container>
		</div>
	</div>
</section>