<div class="container-fluid">
  <div class="row">
    <!--General-s-->
    <div class="col-12">
      <app-general-details></app-general-details>
    </div>
    <!--Personnel-s-->
    <div class="col-12">
      <app-personnel-info></app-personnel-info>
    </div>
    <!--Funding-s-->
    <div class="col-12">
      <app-funding-source></app-funding-source>
    </div>
    <!--Subjects-->
    <div class="col-12">
      <app-subjects></app-subjects>
    </div>
    <!--Collaborator-s-->
    <div class="col-12">
      <app-collaborators></app-collaborators>
    </div>
  </div>
</div>