<!-- Start from here -->

<div class="container-fluid">
    <div class="row">

	  <div class="col-12">
		  <div class="row cards-in">
			<div class="col-12 mb-10">
			  <div class="card mt-5">
	  
				<div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<h4 class="card-hedding dotted-bottom">Protocol
					  <span style="float: right;">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
				  </span>
					</h4>
				  </div>
				</div>

				<div class="card-body card-paddng">
						<div class="col-12  search-eidted-p padding-20">
								<div class="alert alert-danger " *ngIf="isProtocolScienceEmpty">
										Please add the science of protocol to proceed
								</div>
							<ck-editor id= "editor1" name="editor1" [config]="ckEditorConfig" [(ngModel)]="protocolScience" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
							<section class="col-12 btn-row-med sect-confirm-padding proceed-btn-align">
								<button title="Save" class="btn btn-outline-success txt-small hvr-icon-back center-button" [hidden]="isProtocolSaved" (click)="saveProtocolScience()"
								 aria-label="Close">Save</button>
							</section>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>
		</div>
				</div>		

<!-- End at here -->

