<div class="top-distance" *ngIf="isGeneralInfoSaved">
  <div class="card history-card border-radius-1">
    <div class="card-header history-header">
      <nav class="nav navbar-pg3">
        <h5>Subjects</h5>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </nav>
    </div>
    <div class="card-body card-paddng">
      <div class="col-12  search-eidted-p padding-15">
        <div class="alert alert-danger " *ngIf="invalidData.invalidSubjectInfo">
          Please fill all mandatory fields marked
          <strong>*</strong>
        </div>
      </div>
      <div class="col-12 search-eidted-p padding-15">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Type
                <span class="mandatory">*</span>
              </label>
              <select [class.poping-border]="isSubjectInfoEdit" class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                [(ngModel)]="protocolSubject.vulnerableSubjectTypeCode" (ngModelChange)="setSubjectType(protocolSubject.vulnerableSubjectTypeCode)">
                <option selected value="null">Please Select</option>
                <option *ngFor="let subjectType of protocolSubjectTypes" value="{{subjectType.vulnerableSubjectTypeCode}}">{{subjectType.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Age Group
                <span class="mandatory">*</span>
              </label>
              <select [class.poping-border]="isSubjectInfoEdit" class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                [(ngModel)]="protocolSubject.ageGroupCode" (ngModelChange)="setAgeGroup(protocolSubject.ageGroupCode)">
                <option selected value="null">Please Select</option>
                <option *ngFor="let ageGroup of protocolSubjectAgeGroupCategory" value="{{ageGroup.ageGroupCode}}">{{ageGroup.ageGroup}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Count
                <span class="mandatory">*</span>
              </label>
              <input type="text" [class.poping-border]="isSubjectInfoEdit" class="form-control input-field-size" maxlength="9" placeholder="Count"
                [(ngModel)]="protocolSubject.subjectCount">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 search-eidted-p padding-15">
        <div class="row">
          <div class="col-md-11">
            <div class="form-group">
              <label>Description
              </label>
              <textarea class="form-control txt-area-fnt" [class.poping-border]="isSubjectInfoEdit" placeholder="Description" [(ngModel)]="protocolSubject.description"></textarea>
            </div>
          </div>
          <div class="col-md-1 add-btn-1">
            <button title="Add" *ngIf="!isSubjectInfoEdit" type="button" class="btn btn-success" (click)="addSubjectDetails('ADD')">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button title="Save" *ngIf="isSubjectInfoEdit" type="button" class="btn btn-success" (click)="addSubjectDetails('EDIT')">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 users-list-tbl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped tbl-p-clr" *ngIf="protocolSubjectList?.length > 0">
              <thead class="tbl-head-clr thead-font-size">
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Age Group</th>
                  <th scope="col">Count</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="tbody-font-size">
                <tr *ngFor="let item of protocolSubjectList let k=index" [class.poping-border]="k == subjectEditIndex">
                  <td>{{item.protocolSubjectTypes?.description}}</td>
                  <td>{{item.ageGroups?.ageGroup}}</td>
                  <td>{{item.subjectCount}}</td>
                  <td title="{{item.description}}">{{item.description| slice:0:25}} <span *ngIf="item.description != null && item.description.length > 25"> ...</span></td>
                    <td class="action-btn-list">
                      <button title="Edit" type="button" class="btn btn-primary edit-btn-1" (click)="editSubjectDetails(item,k)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button title="Delete" type="button" class="btn btn-primary delete-btn-1" (click)="deleteSubjectDetails(k)" data-toggle="modal" data-target="#deleteSubjectDetails">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeletePopup" id="deleteSubjectDetails" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-text-color">
      <div class="modal-header popup-header">
        <h5 class="modal-title modal-text-color">Want to delete?</h5>

        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" data-toggle="modal" (click)="showDeletePopup = false">No</button>
        <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" (click)="saveSubjectDetails('DELETE')" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>