<div class="top-distance" *ngIf="isGeneralInfoSaved">
  <div class="card history-card border-radius-1">
    <div class="card-header history-header">
      <nav class="nav navbar-pg3">
        <h5>Funding Source</h5>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </nav>
    </div>

    <div class="card-body card-paddng">
      <div class="col-12  search-eidted-p padding-15">
        <div class="alert alert-danger " *ngIf="invalidData.invalidFundingInfo">
          Please fill all mandatory fields marked
          <strong>*</strong>
        </div>
      </div>
      <div class="col-12 search-eidted-p padding-15">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Funding Type
                <span class="mandatory">*</span>
              </label>
              <select [class.poping-border]="isFundingInfoEdit" class="custom-select mr-sm-2 form-control-sm" id="inlineFormCustomSelect"
                [(ngModel)]="fundingSource.fundingSourceTypeCode" (ngModelChange)="setFundingSourceType(fundingSource.fundingSourceTypeCode)">
                <option selected value="null">Please Select</option>
                <option *ngFor="let fundingSource of protocolFundingSourceTypes" value="{{fundingSource.fundingSourceTypeCode}}">{{fundingSource.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Source
                <span class="mandatory">*</span>
              </label>
              <input type="text" placeholder="{{sourceType.placeholder}}" [class.poping-border]="isFundingInfoEdit" class="form-control form-control-sm" placeholder="Source" [(ngModel)]="fundingSource.fundingSource">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [class.poping-border]="isFundingInfoEdit" class="form-control form-control-sm" placeholder="Description"
                [(ngModel)]="fundingSource.description">
            </div>
          </div>
          <div class="col-md-1 add-btn-1-fund">
            <button title="Add" *ngIf="!isFundingInfoEdit" type="button" class="btn btn-success f-btn-top" (click)="addFundingDetails('ADD')">
              <i class="fa fa-plus add-button" aria-hidden="true"></i>
            </button>
            <button title="Save" *ngIf="isFundingInfoEdit" type="button" class="btn btn-success f-btn-top" (click)="addFundingDetails('EDIT')">
              <i class="fa fa-floppy-o add-button" aria-hidden="true"></i>
            </button>

          </div>
        </div>

      </div>
      <div class="col-md-12 users-list-tbl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-font-size" *ngIf="protocolFundingSourceList.length > 0">
              <thead class="tbl-head-clr">
                <tr>
                  <th scope="col">Funding Type</th>
                  <th scope="col">Source</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of protocolFundingSourceList let j=index" [class.poping-border]="j == fundingEditIndex">
                  <td>{{item.protocolFundingSourceTypes?.description}}</td>
                  <td>{{item.fundingSource}}</td>
                  <td>{{item.description}}</td>

                  <td class="action-btn-list">
                    <button title="Edit" type="button" class="btn btn-primary edit-btn-1" (click)="editFundingDetails(item,j)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button title="Delete" type="button" class="btn btn-primary delete-btn-1" (click)="deleteFundingDetails(j)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>