<div class="top-distance" *ngIf="isGeneralInfoSaved">
  <div class="card history-card border-radius-1">
    <div class="card-header history-header">
      <nav class="nav navbar-pg3">
        <h5>Funding Source</h5>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </nav>
    </div>
    <div class="card-body card-paddng">
      <div class="col-12  search-eidted-p padding-15">
        <div class="alert alert-danger " *ngIf="invalidData.invalidFundingInfo">
          Please fill all mandatory fields marked
          <strong>*</strong>
        </div>
      </div>
      <div class="col-12 search-eidted-p padding-15">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Funding Type
                <span class="mandatory">*</span>
              </label>
              <select [class.poping-border]="isFundingInfoEdit" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="fundingSource.fundingSourceTypeCode"
                (ngModelChange)="setFundingSourceType(fundingSource.fundingSourceTypeCode)">
                <option selected value="null">Please Select</option>
                <option *ngFor="let fundingSource of protocolFundingSourceTypes" value="{{fundingSource.fundingSourceTypeCode}}">{{fundingSource.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Source
                <span class="mandatory">*</span>
              </label>
              <!-- Sponsor Search Box -->
              <!-- <ng2-completer *ngIf="sourceType.typeCode == '1'" [class.normal-border]="!isFundingInfoEdit" [(ngModel)]="fundingSource.sourceName" (change)="getSponsorList($event)"
                (ngModelChange)="selectedSponsor(fundingSource.sourceName)" [datasource]="sponsorList" [minSearchLength]="0" (click)="getCompleteSponsorList()"
                class="input-field-size person-unit leadUnit-holder" placeholder="{{sourceType.placeholder}}"></ng2-completer> -->
                <!-- <div class="searchBox"> -->
                <input type="text" *ngIf="sourceType.typeCode == '1'" [class.poping-border]="isFundingInfoEdit" class="form-control input-field-size" placeholder="{{sourceType.placeholder}}" [(ngModel)]="fundingSource.sourceName" (ngModelChange)="getSponsorList()" (focus)="isSponsorFundingSearch = true" (focusout)="isSponsorFundingSearch = false">
                <!-- <a href="#" class="searchButton" (click)="clearsearchBox($event)">
                    <i [ngClass]="iconClass"></i>
                    </a> -->
                  <div class="sb-seachresults top-margin">
                    <ul class="sb-results-dropdown-menu" *ngIf="isSponsorFundingSearch">
                      <li *ngFor="let result of sponsorSearchResult" (mousedown)="selectedSponsor(result.sponsorName)"><span [innerHTML]="result.sponsorName"></span></li>
                    </ul>
                  </div>
                  <!-- </div> -->

              <!-- Unit Search Box -->
              <ng2-completer *ngIf="sourceType.typeCode == '2'" [class.normal-border]="!isFundingInfoEdit" [(ngModel)]="fundingSource.sourceName"
                (ngModelChange)="selectedDepartment(fundingSource.sourceName)" [datasource]="protocolPersonLeadUnits" [minSearchLength]="0"
                class="input-field-size person-unit leadUnit-holder" placeholder="{{sourceType.placeholder}}"></ng2-completer>
              <!-- Normal Input Field -->
              <input *ngIf="sourceType.typeCode != '4' && sourceType.typeCode != '5' && sourceType.typeCode != '6' && sourceType.typeCode != '1' && sourceType.typeCode != '2'"
                type="text" placeholder="{{sourceType.placeholder}}" [class.poping-border]="isFundingInfoEdit" class="form-control input-field-size"
                placeholder="Source" [(ngModel)]="fundingSource.fundingSource">
              <!-- Award and Proposal Elastic field -->
              <input *ngIf="sourceType.typeCode == '4' || sourceType.typeCode == '5' || sourceType.typeCode == '6'" placeholder="{{sourceType.placeholder}}"
                [(ngModel)]="fundingSource.sourceName" [class.poping-border]="isFundingInfoEdit" type="text"
                class="form-control input-field-size" [formControl]="elasticSearchText" (focus)="isElasticResultPerson = true"
                (focusout)="isElasticResultPerson = false" />
              <div class="sb-seachresults top-margin">
                <ul class="sb-results-dropdown-menu" *ngIf="isElasticResultPerson">
                  <li *ngFor="let result of _results | async" (mousedown)="selectedFundingSource(result,sourceType.typeCode)">
                    <span [innerHTML]="result.label"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [class.poping-border]="isFundingInfoEdit" class="form-control input-field-size" placeholder="Description"
                [(ngModel)]="fundingSource.description">
            </div>
          </div>
          <div class="col-md-1 add-btn-1-fund">
            <button title="Add" *ngIf="!isFundingInfoEdit" type="button" class="btn btn-success f-btn-top" (click)="addFundingDetails('ADD')">
              <i class="fa fa-plus add-button" aria-hidden="true"></i>
            </button>
            <button title="Save" *ngIf="isFundingInfoEdit" type="button" class="btn btn-success f-btn-top" (click)="addFundingDetails('EDIT')">
              <i class="fa fa-floppy-o add-button" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 padding-030" *ngIf="showElasticBand" (click)="openKcFromElastic(sponsorDetails)">
        <div class="row">
          <div class="col-12 band-s">
            <div class="col-12 padding0 close-bt" (click)="showElasticBand = false">X</div>
            <div class="row" *ngIf="sourceType.typeCode =='6'">
              <div class="col-12">
                <label>Award#:</label>
                <span>{{sponsorDetails?.award_number}}</span>
              </div>
              <div class="col-12">
                <label>Acct#:</label>
                <span>{{sponsorDetails?.account_number}}</span>
                <label>Sponsor:</label>
                <span>{{sponsorDetails?.sponsor_name}}</span>
                <label>PI:</label>
                <span>{{sponsorDetails?.pi_name}}</span>
                <label>Lead Unit:</label>
                <span>{{sponsorDetails?.lead_unit_name}}</span>
              </div>
              <div class="col-12">
                <label>Title:</label>
                <span>{{sponsorDetails?.title}}</span>
              </div>
            </div>
            <div class="row" *ngIf="sourceType.typeCode =='4' || sourceType.typeCode =='5'">
              <div class="col-12">
                <label>IP#:</label>
                <span>{{sponsorDetails?.proposal_number}}</span>
              </div>
              <div class="col-12">
                <label>Sponsor:</label>
                <span *ngIf="sourceType.typeCode =='4'">{{sponsorDetails?.sponsor}}</span>
                <span *ngIf="sourceType.typeCode !='4'">{{sponsorDetails?.sponsor_name}}</span>
                <label>PI:</label>
                <span>{{sponsorDetails?.pi_name}}</span>
                <label>Lead Unit:</label>
                <span>{{sponsorDetails?.lead_unit_name}}</span>
              </div>
              <div class="col-12">
                <label>Title:</label>
                <span>{{sponsorDetails?.title}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 users-list-tbl">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped tbl-p-clr" *ngIf="protocolFundingSourceList.length > 0">
              <thead class="tbl-head-clr thead-font-size">
                <tr>
                  <th scope="col">Funding Type</th>
                  <th scope="col">Source</th>
                  <th scope="col">Funding Number/Code</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="tbody-font-size">
                <tr *ngFor="let item of protocolFundingSourceList let j=index" [class.poping-border]="j == fundingEditIndex">
                  <td>{{item.protocolFundingSourceTypes?.description}}</td>
                  <td>{{item.sourceName}}</td>
                  <td>{{item.protocolFundingSourceId}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>
                  <td class="action-btn-list">
                    <button title="Edit" type="button" class="btn btn-primary edit-btn-1" (click)="editFundingDetails(item,j)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button title="View" type="button" class="btn btn-primary view-btn-1" (click)="openKcLink(item)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button title="Delete" type="button" class="btn btn-primary delete-btn-1" (click)="deleteFundingDetails(j)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>