<div id="top-card" class="col-sm-12" [ngClass]="{'main-list': irbList?.length >1}">
	<div class="row list-rows" *ngFor="let irb of irbList let i=index">
		<div class="col-md-3 col-sm-12 col-12 list-view">
			<span (click)="openIrb(irb.PROTOCOL_NUMBER)" class="pointer"
				[ngClass]="{
					'active-status': (irb.PROTOCOL_STATUS_CODE=='200'||
									 irb.PROTOCOL_STATUS_CODE== '201'||
									 irb.PROTOCOL_STATUS_CODE== '202'||
									 irb.PROTOCOL_STATUS_CODE== '901'||
									 irb.PROTOCOL_STATUS_CODE== '400'||
									 irb.PROTOCOL_STATUS_CODE== '401'||
									 irb.PROTOCOL_STATUS_CODE== '203'),
					'in-drafts': (irb.PROTOCOL_STATUS_CODE=='309'||
									 irb.PROTOCOL_STATUS_CODE=='310'),
					'pending-action': (irb.PROTOCOL_STATUS_CODE=='100'||
									 irb.PROTOCOL_STATUS_CODE== '103'||
									 irb.PROTOCOL_STATUS_CODE=='105'||
									 irb.PROTOCOL_STATUS_CODE=='106'||
									 irb.PROTOCOL_STATUS_CODE=='107'||
									 irb.PROTOCOL_STATUS_CODE=='900'),
					'revision-required': (irb.PROTOCOL_STATUS_CODE=='102'||
									 irb.PROTOCOL_STATUS_CODE== '104'),
					'submitted' :   irb.PROTOCOL_STATUS_CODE=='101',
					'completed-closed': (irb.PROTOCOL_STATUS_CODE=='103'||
									irb.PROTOCOL_STATUS_CODE== '300'||
									irb.PROTOCOL_STATUS_CODE== '301'||
									irb.PROTOCOL_STATUS_CODE== '304'||
									irb.PROTOCOL_STATUS_CODE== '305'||
									irb.PROTOCOL_STATUS_CODE== '306'||
									irb.PROTOCOL_STATUS_CODE== '307'||
									irb.PROTOCOL_STATUS_CODE== '313'),
				'suspended': (irb.PROTOCOL_STATUS_CODE=='302'||
									irb.PROTOCOL_STATUS_CODE== '308'||
									irb.PROTOCOL_STATUS_CODE== '311')}"><p>{{irb.PROTOCOL_STATUS}}</p></span>
									<i class="fa fa-exclamation-triangle ml-10" *ngIf="irb.IS_NEW_RULE=='N'" 
									title="Follows OLD-RULE" aria-hidden="true"></i>
		</div>
		<div class="col-md-7 col-sm-12 col-12 list-des">
			<h5>{{irb.PROTOCOL_NUMBER}} - {{irb.TITLE}}</h5>
			<div>
				<div class="row">
					<div class="col-md-6">
						<span>Type : </span>{{irb.PROTOCOL_TYPE}}
					</div>
					<div class="col-md-6">
						<span>Submission Status : </span>{{irb.SUBMISSION_STATUS}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<span>Approval Date : </span>{{(irb.APPROVAL_DATE === ' ' || irb.APPROVAL_DATE === null ) ? ' ':(irb.APPROVAL_DATE | date: 'MM/dd/yyyy')}}
				</div>
				<div class="col-md-6">
					<span>Expiration Date : </span>{{(irb.EXPIRATION_DATE === ' ' || irb.EXPIRATION_DATE === null ) ?  ' ':(irb.EXPIRATION_DATE | date: 'MM/dd/yyyy')}}
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-md-6">
						<span>PI : </span>{{irb.PI_NAME}}
					</div>
					<div class="col-md-6">
						<span>Last Update : </span>{{(irb.UPDATE_TIMESTAMP === ' ' || irb.UPDATE_TIMESTAMP === null ) ? ' ':(irb.UPDATE_TIMESTAMP | date: 'MM/dd/yyyy')}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-12 col-12 list-des button-responsive">
		<a href="#/irb/irb-view/irbOverview?protocolNumber={{irb.PROTOCOL_NUMBER}}">
			<button type="button" class="btn btn-outline-secondary button-view"
				(click)="openIrb(irb.PROTOCOL_NUMBER)">
				<i class="fa fa-eye"></i>View
			</button>
		</a>
		<a *ngIf="irb.PROTOCOL_STATUS_CODE == 100 || irb.PROTOCOL_STATUS_CODE == 104 || irb.PROTOCOL_STATUS_CODE == 105">
			<button type="button" class="btn btn-outline-secondary button-view"
				(click)="EditIrb(irb.PROTOCOL_NUMBER,irb.PROTOCOL_ID)">
				<i class="fa fa-pencil"></i>Edit
			</button>
		</a>
		</div>
	</div>
	<!-- <a *ngIf="irbList?.length >1" href="#"(click)="scrollToTop()">scroll to top</a> -->
</div>
<!-- 
<div class="col-sm-12" *ngIf="irbList.length==0"> No Irb protocol found for this status</div> -->
<!-- list of exempt protocols-->
