<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="row">
		<div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		</div>
		<div *ngIf="result?.committeeSchedule"
			class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div>
				<h4 class="borderBoxHeading">
					<div class="row">
						<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							{{result?.committeeSchedule?.committeeName}} #
							{{result?.committeeSchedule?.committeeId}} Meeting
							{{result?.committeeSchedule?.meetingDate}}</div>
						<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 ">
							Last Agenda Generated : 01/15/2017</div>
						<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 ">
							<a title="back to committee" id="returnToCommiteeLink" routerLink='/committee'
								[queryParams]="{mode:'view','id':this.result?.committeeSchedule?.committeeId}">
								<i class="fa fa-mail-reply">&nbsp;</i>Return to Committee</a>
						</div>
						<div class="text-right">
							<button class="editBtn" *ngIf="editDetails == false"
								(click)="showEditDetails(result.committeeSchedule)">
								<i title="edit schedule details" class="fa fa-pencil"></i>
							</button>
							<button class="addBtn" *ngIf="editDetails" (click)="updateDetails()">
								<i class="fa fa-floppy-o"></i>
							</button>
							<button class="editBtn" *ngIf="editDetails"
								(click)="cancelEditDetails()">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
				</h4>
				<div class="borderBox">
					<table class="table tableSkin grid2">
						<tbody>
							<tr>
								<td><label> Schedule Date</label><br>{{result?.committeeSchedule?.scheduledDate}}</td>
								<td><label>Meeting Date</label><br> <input
									[owlDateTimeTrigger]="meetingDt" [owlDateTime]="meetingDt"
									[(ngModel)]="result.committeeSchedule.meetingDate"
									[disabled]="!editDetails == true"
									[ngClass]="(editDetails == true)? 'scheduleBoxes' : 'committeeBoxNotEditable'" />
									<owl-date-time #meetingDt [pickerType]="'calendar'"
										[pickerMode]="'dialog'"></owl-date-time></td>
								<td><label>Status</label><br> <select
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true" name="SelectType"
									[(ngModel)]="scheduleStatusSelected">
										<option *ngFor="let status of scheduleStatus" [value] = "status.description">{{
											status.description }}</option>
								</select></td>
								<td><label>Place</label><br> <input type="text"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true"
									[(ngModel)]="result.committeeSchedule.place"></td>
								<td><label>Time</label><br> <input
									[owlDateTimeTrigger]="time" [owlDateTime]="time"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true" [(ngModel)]="scheduleTime">
									<owl-date-time #time [pickerType]="'timer'" [hour12Timer]=true
										[pickerMode]="'dialog'"></owl-date-time></td>

							</tr>
							<tr>
								<td><label>Submission Deadline</label><br> <input
									[owlDateTimeTrigger]="deadlineDt" [owlDateTime]="deadlineDt"
									[(ngModel)]="result.committeeSchedule.protocolSubDeadline"
									[disabled]="!editDetails == true"
									[ngClass]="(editDetails == true)? 'scheduleBoxes' : 'committeeBoxNotEditable'" />
									<owl-date-time #deadlineDt [pickerType]="'calendar'"
										[pickerMode]="'dialog'"></owl-date-time></td>
								<td><label>Max Protocols</label><br> <input
									type="text"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true"
									[(ngModel)]="result.committeeSchedule.maxProtocols"></td>

								<td><label>Start Time</label><br> <input
									[owlDateTimeTrigger]="startTime" [owlDateTime]="startTime"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true"
									[(ngModel)]="scheduleStartTime" /> <owl-date-time #startTime
										[pickerType]="'timer'" [hour12Timer]=true
										[pickerMode]="'dialog'"></owl-date-time></td>
								<td><label>End Time</label><br> <input
									[owlDateTimeTrigger]="endTime" [owlDateTime]="endTime"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true" [(ngModel)]="scheduleEndTime">
									<owl-date-time #endTime [pickerType]="'timer'"
										[hour12Timer]=true [pickerMode]="'dialog'"></owl-date-time></td>
								<td><label>Available to reviewers</label><br> <input
									*ngIf="(!editDetails == false)" type="checkbox"
									[checked]="result.committeeSchedule.availableToReviewers"
									(change)="result.committeeSchedule.availableToReviewers = !result.committeeSchedule.availableToReviewers"
									name="availableToReviewer" /> <i
									*ngIf="(!editDetails == true)"
									[ngClass]="(result.committeeSchedule.availableToReviewers == true) ? 'fa fa-check-square-o fa-large':'fa fa-times fa-large' "
									aria-hidden="true"></i></td>
							</tr>
							<tr>
								<td colspan="8"><label>Comments</label><br> <input
									type="text"
									[ngClass]="(!editDetails == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'"
									[disabled]="!editDetails == true"
									[(ngModel)]="result.committeeSchedule.comments"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div>
				<div>
					<div>
						<div class="setHead">
							<span>Protocol Submitted</span><a href="#"
								(click)="showProtocolsTab($event)"><i
								[ngClass]="(showProtocol == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
						</div>
						<div class="setBody" *ngIf="showProtocol">
							<app-protocol-submitted></app-protocol-submitted>
						</div>
					</div>
				</div>
				<div class="setHead">
					<span>Attendance</span><a href="#"
						(click)="showAttendanceTab($event)"><i
						[ngClass]="(showAttendance == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttendance">
					<app-schedule-attendance></app-schedule-attendance>
				</div>

				<div class="setHead">
					<span>Other Actions</span><a href="#"
						(click)="showOtherActionsTab($event)"><i
						[ngClass]="(showOtherActions == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showOtherActions">
					<app-schedule-other-actions></app-schedule-other-actions>
				</div>
				<div class="setHead">
					<span>Attachment</span><a href="#"
						(click)="showAttachmentTab($event)"><i
						[ngClass]="(showAttachment == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttachment">
					<app-schedule-attachments></app-schedule-attachments>
				</div>
			</div>
		</div>
	</div>
</div>
