<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="row">
		<div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		</div>
		<div *ngIf="result?.committeeSchedule" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div>
				<h4 class="borderBoxHeading">
					<div class="row">
						<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 padding0">
							{{result?.committeeSchedule?.committeeName}} # {{result?.committeeSchedule?.committeeId}} Meeting {{result?.committeeSchedule?.meetingDate}}
						</div>
						<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 ">
							Last Agenda Generated : 01/15/2017</div>
						<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 ">
							<a title="back to committee" id="returnToCommiteeLink" class="return-committee-color" routerLink='/irb//committee' [queryParams]="{mode:'view','id':this.result?.committeeSchedule?.committeeId}">
								<i class="fa fa-mail-reply">&nbsp;</i>Return to Committee</a>
						</div>
					</div>
				</h4>
				<div class="borderBox schedule-box">
					<div class="col-12">
						<div class="row">
							<div class="col-2">
								<div class="form-group ">
									<label>Schedule Date
									</label>
									<div>{{result?.committeeSchedule?.scheduledDate}}</div>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group ">
									<label>Meeting Date
									</label>
									<div class="input-group  mb-2">
										<input type="text" class="form-control input-field-size" [owlDateTime]="meetingDt" placeholder="mm/dd/yyyy" [disabled]="!editDetails == true"
										 [(ngModel)]="result.committeeSchedule.meetingDate">
										<owl-date-time [pickerType]="'calendar'" #meetingDt></owl-date-time>
										<div class="input-group-append input-span-1" *ngIf="editDetails == true" [owlDateTimeTrigger]="meetingDt">
											<span class="input-group-text">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="col-3">
								<div class="form-group ">
									<label>Status
									</label>
									<select [disabled]="!editDetails == true" name="SelectType" [(ngModel)]="scheduleStatusSelected" class="custom-select  mr-sm-2 fontsize-persondetails">

										<option *ngFor="let status of scheduleStatus" [value]="status.description">{{ status.description }}</option>

									</select>
								</div>
							</div>
							<div class="col-3">
								<div class="form-group">
									<label>Place</label>
									<input type="text" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.place" class="form-control input-field-size">
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label> Time </label>
									<div class="input-group  mb-2">
										<input type="text" class="form-control" [owlDateTime]="time" [disabled]="!editDetails == true" [(ngModel)]="scheduleTime">
										<owl-date-time #time [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
										<div class="input-group-append input-span-1" *ngIf="editDetails == true" [owlDateTimeTrigger]="time">
											<span class="input-group-text">
												<i class="fa fa fa-clock-o" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group ">
									<label>Submission Deadline
									</label>
									<div class="input-group  mb-2">
										<input type="text" class="form-control input-field-size" [owlDateTime]="deadlineDt" placeholder="mm/dd/yyyy" [(ngModel)]="result.committeeSchedule.protocolSubDeadline"
										 [disabled]="!editDetails == true">
										<owl-date-time [pickerType]="'calendar'" #deadlineDt></owl-date-time>
										<div class="input-group-append input-span-1" *ngIf="editDetails == true" [owlDateTimeTrigger]="deadlineDt">
											<span class="input-group-text">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label>Max Protocols</label>
									<input type="text" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.maxProtocols" class="form-control input-field-size">
								</div>
							</div>
							<div class="col-3">
								<div class="form-group">
									<label> Start Time </label>
									<div class="input-group  mb-2">
										<input type="text" class="form-control" [owlDateTime]="startTime" [disabled]="!editDetails == true" [(ngModel)]="scheduleStartTime">
										<owl-date-time #startTime [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
										<div class="input-group-append input-span-1" *ngIf="editDetails == true" [owlDateTimeTrigger]="startTime">
											<span class="input-group-text">
												<i class="fa fa fa-clock-o" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-3">
								<div class="form-group">
									<label> End Time </label>
									<div class="input-group  mb-2">
										<input type="text" class="form-control" [owlDateTime]="endTime" [disabled]="!editDetails == true" [(ngModel)]="scheduleEndTime">
										<owl-date-time #endTime [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
										<div class="input-group-append input-span-1" *ngIf="editDetails == true" [owlDateTimeTrigger]="endTime">
											<span class="input-group-text">
												<i class="fa fa fa-clock-o" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="form-group">
									<label>Available to reviewers</label>
									<div>
										<input *ngIf="(!editDetails == false)" type="checkbox" [checked]="result.committeeSchedule.availableToReviewers" (change)="result.committeeSchedule.availableToReviewers = !result.committeeSchedule.availableToReviewers"
										 name="availableToReviewer" />
										<i *ngIf="(!editDetails == true)" [ngClass]="(result.committeeSchedule.availableToReviewers == true) ? 'fa fa-check-square-o fa-large':'fa fa-times fa-large' "
										 aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="col-11">
								<div class="form-group">
									<label>Comments</label>
									<input type="text" class="form-control input-field-size" placeholder="Description" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.comments">
								</div>
							</div>

							<div class="col-1 action-btn-list add-btn-1 pt-35">
								<button *ngIf="editDetails == false" (click)="showEditDetails(result.committeeSchedule)" title="Edit Schedule details" type="button"
								 class="btn btn-primary edit-btn-1">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</button>
								<button *ngIf="editDetails" (click)="updateDetails()" class="btn btn-primary edit-btn-1">
									<i class="fa fa-floppy-o" aria-hidden="true"></i>
								</button>
								<button title="Save" *ngIf="editDetails" (click)="cancelEditDetails()" type="button" class="btn btn-primary edit-btn-1">
									<i class="fa fa-times"></i>
								</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div>
				<div>
					<div>
						<div class="setHead">
							<span>Protocol Submitted</span>
							<a href="#" (click)="showProtocolsTab($event)">
								<i [ngClass]="(showProtocol == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
							</a>
						</div>
						<div class="setBody" *ngIf="showProtocol">
							<app-protocol-submitted></app-protocol-submitted>
						</div>
					</div>
				</div>
				<div class="setHead">
					<span>Attendance</span>
					<a href="#" (click)="showAttendanceTab($event)">
						<i [ngClass]="(showAttendance == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
					</a>
				</div>
				<div class="setBody" *ngIf="showAttendance">
					<app-schedule-attendance></app-schedule-attendance>
				</div>

				<div class="setHead">
					<span>Other Actions</span>
					<a href="#" (click)="showOtherActionsTab($event)">
						<i [ngClass]="(showOtherActions == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
					</a>
				</div>
				<div class="setBody" *ngIf="showOtherActions">
					<app-schedule-other-actions></app-schedule-other-actions>
				</div>
				<div class="setHead">
					<span>Attachment</span>
					<a href="#" (click)="showAttachmentTab($event)">
						<i [ngClass]="(showAttachment == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
					</a>
				</div>
				<div class="setBody" *ngIf="showAttachment">
					<app-schedule-attachments></app-schedule-attachments>
				</div>
			</div>
		</div>
	</div>
</div>