
<div class="pushFixedHeaderFooter">
	<div class="row nav_toggle">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		</div>
		<div *ngIf="result?.committeeSchedule" class="card mt-5">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<h4 class="card-hedding dotted-bottom">Details
						<!-- <div class="row">
						<div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12 ">
							<a title="back to committee" id="returnToCommiteeLink" class="return-committee-color" routerLink='/irb//committee' [queryParams]="{mode:'view','id':this.result?.committeeSchedule?.committeeId}">
								<i class="fa fa-mail-reply">&nbsp;</i>Return to Committee</a>
						</div>
					</div> -->
					</h4>



					<div class="col-12  search-eidted-p padding-15">
						<div class="row bottom-margin">
								<div class="col-2">
										<div class="form-group ">
											<span class="text-secondary txt-medium">Schedule Date
											</span>
											<div>{{result?.committeeSchedule?.scheduledDate | date :'MM/dd/yyyy'}}</div>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group ">
											<span class="text-secondary txt-medium">Meeting Date
											</span>
											<div class="input-group  mb-2">
												<input type="text" class="form-control input-field-size" [owlDateTime]="meetingDt" placeholder="mm/dd/yyyy" [disabled]="!editDetails == true"
												 [(ngModel)]="result.committeeSchedule.meetingDate">
												<owl-date-time [pickerType]="'calendar'" #meetingDt></owl-date-time>
												<div class="input-group-append" *ngIf="editDetails == true" [owlDateTimeTrigger]="meetingDt">
													<span class="input-group-text input-span-1">
														<i class="fa fa-calendar" aria-hidden="true"></i>
													</span>
												</div>
											</div>
	
										</div>
									</div>
									<div class="col-3">
										<div class="form-group ">
											<span class="text-secondary txt-medium">Status
											</span>
											<select [disabled]="!editDetails == true" name="SelectType" [(ngModel)]="scheduleStatusSelected" class="custom-select  mr-sm-2 fontsize-persondetails">
	
												<option *ngFor="let status of scheduleStatus" [value]="status.description">{{ status.description }}</option>
	
											</select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<span class="text-secondary txt-medium">Place</span>
											<input type="text" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.place" class="form-control input-field-size">
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<span class="text-secondary txt-medium"> Time </span>
											<div class="input-group  mb-2">
												<input type="text" class="form-control" [owlDateTime]="time" [disabled]="!editDetails == true" [(ngModel)]="scheduleTime">
												<owl-date-time #time [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
												<div class="input-group-append" *ngIf="editDetails == true" [owlDateTimeTrigger]="time">
													<span class="input-group-text input-span-1">
														<i class="fa fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
						</div>

						<div class="row bottom-margin">
								<div class="col-2">
										<div class="form-group ">
											<span class="text-secondary txt-medium">Submission Deadline
											</span>
											<div class="input-group  mb-2">
												<input type="text" class="form-control input-field-size" [owlDateTime]="deadlineDt" placeholder="mm/dd/yyyy" [(ngModel)]="result.committeeSchedule.protocolSubDeadline"
												 [disabled]="!editDetails == true">
												<owl-date-time [pickerType]="'calendar'" #deadlineDt></owl-date-time>
												<div class="input-group-append" *ngIf="editDetails == true" [owlDateTimeTrigger]="deadlineDt">
													<span class="input-group-text input-span-1">
														<i class="fa fa-calendar" aria-hidden="true"></i>
													</span>
												</div>
											</div>
	
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<span class="text-secondary txt-medium">Max Protocols</span>
											<input type="text" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.maxProtocols" class="form-control input-field-size">
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<span class="text-secondary txt-medium"> Start Time </span>
											<div class="input-group  mb-2">
												<input type="text" class="form-control" [owlDateTime]="startTime" [disabled]="!editDetails == true" [(ngModel)]="scheduleStartTime">
												<owl-date-time #startTime [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
												<div class="input-group-append" *ngIf="editDetails == true" [owlDateTimeTrigger]="startTime">
													<span class="input-group-text input-span-1">
														<i class="fa fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<span class="text-secondary txt-medium"> End Time </span>
											<div class="input-group  mb-2">
												<input type="text" class="form-control" [owlDateTime]="endTime" [disabled]="!editDetails == true" [(ngModel)]="scheduleEndTime">
												<owl-date-time #endTime [pickerType]="'timer'" [hour12Timer]=true></owl-date-time>
												<div class="input-group-append" *ngIf="editDetails == true" [owlDateTimeTrigger]="endTime">
													<span class="input-group-text input-span-1">
														<i class="fa fa fa-clock-o" aria-hidden="true"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<span class="text-secondary txt-medium">Available to reviewers</span>
											<div>
												<input *ngIf="(!editDetails == false)" type="checkbox" [checked]="result.committeeSchedule.availableToReviewers" (change)="result.committeeSchedule.availableToReviewers = !result.committeeSchedule.availableToReviewers"
												 name="availableToReviewer" />
												<i *ngIf="(!editDetails == true)" [ngClass]="(result.committeeSchedule.availableToReviewers == true) ? 'fa fa-check-square-o fa-large':'fa fa-times fa-large' "
												 aria-hidden="true"></i>
											</div>
										</div>
									</div>
						</div>

						<div class="row bottom-margin">
								<div class="col-12">
										<div class="form-group">
											<span class="text-secondary txt-medium">Comments</span>
											<input type="text" class="form-control input-field-size" placeholder="Description" [disabled]="!editDetails == true" [(ngModel)]="result.committeeSchedule.comments">
										</div>
									</div>
						</div>

						<div class="row bottom-margin">
								<div class="col-md-2">
											<button type="button margin-class" *ngIf="editDetails == false" title="Edit Schedule details" class="btn btn-outline-success txt-small" (click)="showEditDetails(result.committeeSchedule)">Edit
											</button>
											<button type="button margin-class" title="Save" *ngIf="editDetails" class="btn btn-outline-success txt-small" (click)="updateDetails()">Save
											</button>
										</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>