<ngx-spinner bdOpacity=0.5 bdColor="#333" color="#fff" type="ball-spin-clockwise-fade" loadingText="Loading..."></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card history-card border-radius-1">
        <div class="card-header history-header">
          <nav class="nav navbar-pg3">
            <h5>Attachments</h5>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </nav>
        </div>
      </div>
      <div class="card-body card-paddng">
        <div class="col-12  search-eidted-p padding-15">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row">
                <div class="col-md-12 col-12 lg-12 col-sm-12 col-12">
                  <a *ngIf="isAttachmentEditable" class="pdf a-right attachment-btn-position" data-toggle="modal" data-target="#attachmentModal" (click)="clearAttachmentPopup()">
                    <i class="fa fa-plus icon-padding"></i>Add Attachment
                  </a>
                  <div class="col-12 mt-10">
                    <div class="table-responsive" *ngIf="((noIrbAttachments==false)||(protocolCollaboratorAttachmentsList?.length!=0))">
                      <table class="table table-striped table-type-head">
                        <thead class="popup-sub-header">
                          <tr>
                            <!-- <th scope="col" class="pdf" (click)="sortBy('attachmentType.description')">Type
                              <i class="fa" [ngClass]="isUpArrow?'fa-caret-up':'fa-caret-down'" *ngIf="!isTimeStampSorting"></i>
                            </th>
                            <th scope="col">Description</th>
                            <th scope="col">File</th>
                            <th scope="col" class="pdf" (click)="sortBy('updateTimestamp')">Updated By
                              <i class="fa" [ngClass]="isUpArrow?'fa-caret-up':'fa-caret-down'" *ngIf="isTimeStampSorting"></i>
                            </th> -->
                            <!-- <th class="pointer" (click)="column = 'ATTACHMENT_TYPE';sortBy()">Type
                                <i class="fa" *ngIf="column == 'ATTACHMENT_TYPE'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
                                aria-hidden="true"></i></th> -->
                                <th>Type</th>
                          <th class="pointer" (click)="column = 'description';sortBy()">Description
                              <i class="fa" *ngIf="column == 'description'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
                              aria-hidden="true"></i></th>
                              <th>File</th>
                          <!-- <th class="pointer" (click)="column = 'FILE_NAME';sortBy()">File
                              <i class="fa" *ngIf="column == 'FILE_NAME'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
                              aria-hidden="true"></i></th> -->
                          <th class="pointer" (click)="column = 'updateTimestamp';sortBy()">Updated By
                              <i class="fa" *ngIf="column == 'updateTimestamp'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
                              aria-hidden="true"></i></th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody class="tdy-color">
                          <tr *ngFor="let attachments of irbAttachmentsList | orderBy: {property: column, direction: direction}; let i = index" [class.poping-border]="i == attachmentSelectedRow">
                            <td>{{attachments?.attachmentType?.description}}</td>
                            <td>{{attachments?.description}}</td>
                            <td style="width: 30%" class="padding-table-content">{{attachments?.protocolAttachment?.fileName}} </td>
                            <td class="padding-table-content">{{attachments?.updateUser}} {{(attachments?.updateTimestamp ===' ' || attachments.updateTimestamp
                              ===null) ? ' ':(attachments?.updateTimestamp | date: 'MM/dd/yyyy')}}</td>
                            <td>
                              <ul class="actionButtonGroup padding-icons">
                                <li>
                                  <a title="Delete Attachment" (click)="tempSave($event,attachments)" data-toggle="modal" data-target="#deleteAttachment">
                                    <i class="fa fa-trash-o delete-color"></i>
                                  </a>
                                </li>
                                <li>
                                  <a (click)="downloadAttachment(attachments.protocolAttachment)" title="Download Attachment">
                                    <i class="fa fa-download download-color" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a (click)="editAttachments(attachments,i,false)" data-toggle="modal" data-target="#attachmentModal" title="Edit Attachment">
                                    <i class="fa fa-edit edit-color"></i>
                                  </a>
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr *ngFor="let protocolCollaboratorAttachment of protocolCollaboratorAttachmentsList | orderBy: {property: column, direction: direction}; let i = index" [class.poping-border]="i == attachmentSelectedRowCollaborator">
                            <td>{{protocolCollaboratorAttachment?.attachmentType?.description}}</td>
                            <td>{{protocolCollaboratorAttachment?.description}}</td>
                            <td style="width: 30%" class="padding-table-content">{{protocolCollaboratorAttachment?.protocolAttachments?.fileName}}</td>
                            <td class="padding-table-content">{{protocolCollaboratorAttachment?.updateUser}} {{(protocolCollaboratorAttachment?.updateTimestamp
                              ===' ' || protocolCollaboratorAttachment.updateTimestamp ===null) ? ' ':(protocolCollaboratorAttachment.updateTimestamp
                              | date: 'MM/dd/yyyy')}}</td>
                            <td>
                              <ul class="actionButtonGroup padding-icons">
                                <li>
                                  <a *ngIf="isAttachmentEditable" title="Delete Attachment" (click)="tempSave($event,protocolCollaboratorAttachment)" data-toggle="modal" data-target="#deleteAttachmentsCollaborator">
                                    <i class="fa fa-trash-o delete-color"></i>
                                  </a>
                                </li>
                                <li>
                                  <a (click)="downloadAttachment(protocolCollaboratorAttachment.protocolAttachments)" title="Download Attachment">
                                    <i class="fa fa-download download-color" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                      <a *ngIf="isAttachmentEditable" (click)="editAttachments(protocolCollaboratorAttachment,i,true)" data-toggle="modal" data-target="#attachmentModal" title="Edit Attachment">
                                        <i class="fa fa-edit edit-color"></i>
                                      </a>
                                    </li>
                              </ul>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="((noIrbAttachments==true)&&(protocolCollaboratorAttachmentsList?.length==0))">
                    <p class="noAttachments">No attachments associated with this protocol.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- delete warning modal -->
            <div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup" id="deleteAttachment" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-text-color">
                  <div class="modal-header popup-header">
                    <h5 class="modal-title modal-text-color">Want to delete?</h5>

                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" data-toggle="modal" (click)="showPopup = false">No</button>
                    <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" (click)="deleteAttachments()" data-dismiss="modal">Yes</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- delete warning modal ends -->
            <!-- delete warning modal for colloborator attachment -->
            <div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup" id="deleteAttachmentsCollaborator" tabindex="-1" role="dialog"
              aria-labelledby="deleteModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-text-color">
                  <div class="modal-header popup-header">
                    <h5 class="modal-title modal-text-color">Want to delete?</h5>

                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" data-toggle="modal" (click)="showPopup = false">No</button>
                    <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" (click)="deleteAttachmentsCollaborator()" data-dismiss="modal">Yes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Add Attachment Modal-->
            <div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="helpModalCenterTitle" aria-hidden="true"
              data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                  <div class="modal-header popup-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Attachment</h5>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close" (click)="clearAttachmentPopup()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body modal-popup">
                    <div class="modal-padding">
                      <div class="alert alert-danger " *ngIf="!isMandatoryFilled">
                        Please fill all mandatory fields marked
                        <strong>*</strong>
                      </div>
                      <div class="alert alert-danger " *ngIf="multipleFile">
                        Cannot Add Multiple Files
                      </div>
                      <div class="row col-12 form-group">
                        <div class="col-4 apprve-date">
                          <h4>*Type</h4>
                          <select [class.poping-border]="isAttachmentedit" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="requestObject.attachmentTypeCode"
                            (ngModelChange)="setAttachmentType(requestObject.attachmentTypeCode)">
                            <option value=null selected>Please Select</option>
                            <option *ngFor="let attachmentType of attachmentTypes" value="{{attachmentType.typeCode}}">{{attachmentType.description}}</option>
                          </select>
                        </div>
                        <div class="col-8 apprve-date">
                          <h4 class="ml-10">*Description</h4>
                          <textarea [class.poping-border]="isAttachmentedit" rows="1" cols="2" class="form-control txt-area-fnt modal-table-padding "
                            placeholder="Description" [(ngModel)]="requestObject.attachmentDescription"></textarea>
                        </div>
                      </div>
                      <file-drop customstyle="file-drop-color" (onFileDrop)="dropped($event)">
                        <button title="Choose Files" class="btnSkin btnSkinPrimary mt-40" (click)="triggerAdd()">Choose Files
                        </button>
                        <input type="file" #file (change)="onChange(file.files)" id="addAttach" style="display: none" />
                        <div style="color: #a92034; margin-left: 10px;  margin-top: 40px;">OR Drop files here
                        </div>
                      </file-drop>
                      <div class="filechip">
                        <span *ngFor="let item of uploadedFile; let i=index">{{ item.name }}
                          <i class="fa fa-close pdf" title="Remove Attachment" (click)="deleteFromUploadedFileList(item)"></i>
                        </span>
                      </div>
                      <div class="filechip" *ngIf="isReplaceAttachment">
                        <span>{{ fileName }}
                          <i title="Replace Attachment" class="fa fa-close pdf" (click)="replaceAttachment()"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <section class="col-12 btn-row-med sect-confirm-padding proceed-btn-align">
                    <button title="Add Attachment" class="btn btn-primary tab_btn proceed-btn btn-mt-10 center-button" *ngIf="!isAttachmentEdit"
                      aria-label="Close" (click)="addAttachments()">Add</button>
                    <button title="Save Attachment" class="btn btn-primary tab_btn proceed-btn btn-mt-10 center-button" *ngIf="isAttachmentEdit"
                      aria-label="Close" (click)="saveEditedattachments()">Save</button>
                  </section>
                </div>
              </div>
            </div>
            <!--Add Attachment modal ends-->