<!--   Start from here  -->

<div class=""  *ngIf="isGeneralInfoSaved">
    <div class="row cards-in">
      <div class="col-12 mb-10">
        <div class="card mt-5">

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
              aria-labelledby="pills-home-tab">
              <h4 class="card-hedding dotted-bottom">Engaged Institutions

              </h4>
            </div>
          </div>

          <div class="card-body card-paddng">
              <div class="col-12  search-eidted-p ">
                <div class="alert alert-danger txt-medium" *ngIf="invalidData.invalidCollaboratorInfo" [innerHTML]="warningMessage">
                </div>
              </div>
              <div class="col-12  search-eidted-p" *ngIf="isCollaboratorEditable">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="txt-medium txt-dark">Organization
                        <span class="mandatory">*</span>
                      </span>
                      <!-- <ng2-completer [class.normal-border]="!isCollaboratorInfoEdit" [datasource]="collaboratorNames" [minSearchLength]="0" [(ngModel)]="collaboratorName"
                        (ngModelChange)="setCollaborator(collaboratorName)" class="input-field-size person-unit collaborator-holder"
                        placeholder="Name"></ng2-completer> -->
                        <input type="text" [class.poping-border]="isCollaboratorInfoEdit" class="txt-small form-control" placeholder="Search Organization"
                        [(ngModel)]="collaboratorName" (ngModelChange)="getOrganizationList()" (focus)="isOrganizationSearch = true"
                        (focusout)="isOrganizationSearch = false" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'OrganizationDropDown')"
                        (keydown.arrowup)="keyPressEvent.onKeyDown($event,'OrganizationDropDown')" (keydown.Enter)="keyPressEvent.onKeyDown($event,'OrganizationDropDown')">
                      <div class="sb-seachresults top-margin search-dropdown-position dropdown-width" id="OrganizationDropDown">
                        <ul class="sb-results-dropdown-menu1 box-shadow-1 search-position-fix-small" *ngIf="isOrganizationSearch">
                          <li class="block" *ngFor="let result of organizationSearchResult" (mousedown)="selectedOrganization(result.organizationName,result.organizationId)" (click)="selectedOrganization(result.organizationName,result.organizationName)">
                            <a>{{result.organizationId}} - {{result.organizationName}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="txt-medium txt-dark">Point of contact</span>
                      <input type="text" [class.poping-border]="isCollaboratorInfoEdit" class="txt-small form-control" [(ngModel)]="protocolCollaborator.pointOfContact"
                        placeholder="Point of contact">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <span class="txt-medium txt-dark">Approval Date</span>
                      <div class="input-group date-pickr-1 mb-3">
                        <input type="text" class="txt-small form-control" [class.poping-border]="isCollaboratorInfoEdit" [owlDateTime]="dt3" [(ngModel)]="protocolCollaborator.approvalDate"
                          (ngModelChange)="validateApprovalDate()" placeholder="mm/dd/yyyy">
                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                        <div class="input-group-append" [owlDateTimeTrigger]="dt3">
                           <span class="input-group-text">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                           </span>
                        </div>
                      </div>
                      <span *ngIf="invalidData.invalidApprovalDate" class="error">Approval Date should be less than Expiration Date</span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <span class="txt-medium txt-dark">Expiration Date </span>
                      <div class="input-group date-pickr-1 mb-3">
                        <input type="text" [class.poping-border]="isCollaboratorInfoEdit" class="txt-small form-control" [owlDateTime]="dt4" [(ngModel)]="protocolCollaborator.expirationDate"
                          (ngModelChange)="validateExpirationDate()" placeholder="mm/dd/yyyy">
                        <div class="input-group-append" [owlDateTimeTrigger]="dt4">
                           <span class="input-group-text">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                           </span>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                      </div>
                      <span *ngIf="invalidData.invalidExpirationDate" class="error">Expiration Date should be greater than Approval Date</span>
                    </div>
                  </div>
                  <div class="col-md-1 add-btn-1">
                    <button title="Add" *ngIf="!isCollaboratorInfoEdit" type="button" class="btn mt-3" (click)="addCollaboratorDetails('ADD')">
                      <i class="fa fa-plus-circle text-success half-size" aria-hidden="true"></i>
                    </button>
                    <button title="Save" *ngIf="isCollaboratorInfoEdit" (click)="addCollaboratorDetails('EDIT')" type="button" class="btn mt-3">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 users-list-tbl">
                <div class="w-100">
                  <div class="table">
                    <table id="collaboratorTable" class="table tbl-p-clr" *ngIf="protocolCollaboratorList.length > 0">
                      <thead class="tbl-head-clr thead-font-size">
                        <tr class="solid-bottom">
                          <th></th>
                          <th scope="col">Name</th>
                          <th scope="col">Point of contact</th>
                          <th scope="col">Approval Date</th>
                          <th scope="col">Expiration Date</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of protocolCollaboratorList let l=index" class="tbody-font-size">
                        <tr [class.poping-border]="l == collaboratorEditIndex" class="solid-bottom pull-up">
        
                          <td class="align-middle">
                            <span class="pdf" title="Click Here" (click)="toggle(item,l)">
                              <i class="fa accordion-toggle" [ngClass]="(iconValue==l)?'fa-minus':'fa-plus'" data-toggle="collapse"
                                [attr.data-target]="'#' + i"></i>
                            </span>
                          </td>
                          <td class="align-middle">{{item.collaboratorNames?.organizationName}}</td>
                          <td class="align-middle">{{item.pointOfContact}}</td>
                          <td class="align-middle">{{item.approvalDate| date:"MM/dd/yyyy"}}</td>
                          <td class="align-middle">{{item.expirationDate| date:"MM/dd/yyyy"}}</td>
                          <td class="action-btn-list align-middle">
                            <button *ngIf="isCollaboratorEditable" title="Edit" (click)="editCollaboratorDetails(item,l)" type="button" class="btn mb-3">
                              <i class="fa fa-pencil log-user-icon-lite" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="isCollaboratorEditable" title="More Details" type="button" (click)="setCollaboratorPersonDetails(item)" class="btn mb-3" data-toggle="modal"
                              data-target="#collaboratorPersonModal">
                              <i class="fa fa-eye log-user-icon-lite" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="isCollaboratorEditable" title="Delete" (click)="deleteCollaboratorDetails(l)" type="button" class="btn mb-3" data-toggle="modal" data-target="#deleteCollaboratorDetails">
                              <i class="fa fa-trash log-user-icon-lite" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="12" class="hiddenRow" *ngIf="iconValue==l">
                            <div id={{l}}>
                              <table id="collaboratorTable" class="table">
                                <tbody>
                                  <tr class="solid-bottom">
                                    <td></td>
                                    <td class="label-font align-middle">Persons</td>
                                    <td>
                                      <div class="filechipCollaborator" *ngIf="protocolCollaboratorPersons?.length > 0">
                                        <span *ngFor="let person of protocolCollaboratorPersons">{{person?.personnelInfo?.personName}}</span>
                                      </div>
                                      <div class="label-font" *ngIf="protocolCollaboratorPersons?.length == 0">No persons Added</div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td class="label-font">Approval Letter</td>
                                    <td>
                                      <div class="filechipCollaboratorAttachment pdf" *ngIf="protocolCollaboratorAttachmentsList?.length > 0">
                                        <span *ngFor="let protocolCollaboratorAttachment of protocolCollaboratorAttachmentsList" (click)="downloadAttachment(protocolCollaboratorAttachment)"
                                          title="download">{{protocolCollaboratorAttachment?.fileName}}<i class="fa fa-download"></i>
                                        </span>
                                      </div>
                                      <div class="label-font" *ngIf="protocolCollaboratorAttachmentsList?.length == 0">No Approval letter attached</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
</div>

<!--    end  at here  -->



<!-- modal -->
<div class="modal fade bd-example-modal-lg" id="collaboratorPersonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header popup-header dotted-bottom">
        <h5 class="modal-title thick" id="exampleModalLongTitle">Person Details
        </h5>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-popup txt-medium">
        <div class="modal-header-label">
          <h4 class="popup-sub-head thin">Engaged Institution</h4>
        </div>
        <!-- section1 -->
        <div class="modal-padding">
          <div class="row">
            <div class="col-md-6 col lg- 6 col-sm-6 col-6">
              <span class="modal-label text-secondary txt-medium"> Organization : </span>
              <span class="txt-medium text-danger">{{protocolCollaboratorSelected?.collaboratorNames?.organizationName}}</span>
            </div>
            <div class="col-md-6 col lg- 6 col-sm-6 col-6">
              <span class="modal-label text-secondary txt-medium">Point of contact : </span>
              <span class="txt-medium text-danger">{{protocolCollaboratorSelected?.pointOfContact}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col lg- 6 col-sm-6 col-6">
              <span class="modal-label text-secondary txt-medium"> Approval Date : </span>
              <span class="txt-medium text-danger">{{protocolCollaboratorSelected?.approvalDate| date:"MM/dd/yyyy"}}</span>
            </div>
            <div class="col-md-6 col lg- 6 col-sm-6 col-6">
              <span class="modal-label text-secondary txt-medium"> Expiration Date : </span>
              <span class="txt-medium text-danger">{{protocolCollaboratorSelected?.expirationDate| date:"MM/dd/yyyy"}}</span>
            </div>
          </div>
        </div>
        <!-- section2 -->
        <div class="modal-header-label">
          <h4 class="popup-sub-head sub-head-width">Persons</h4>
          <a class="cursor-hover" (click)="isShowAddPerson = !isShowAddPerson">
            <i class="fa fa-plus" aria-hidden="true"> Add Persons</i>
          </a>
        </div>
        <div class="modal-padding">
          <div *ngIf="isShowAddPerson">
              <div class="col-12  search-eidted-p ">
                  <div class="alert alert-danger " *ngIf="invalidData.invalidCollaboratorPersonInfo">
                    Please select the persons to be added
                  </div>
                </div>
            <div *ngIf="personalDataList != null && personalDataList.length > 0">
            <div class="row">
              <div class="col-md-1 col lg- 1 col-sm-1 col-6">
                <label class="modal-label thick" for="">Add </label>
              </div>
              <div class="col-md-3 col lg- 3 col-sm-3 col-6">
                <label class="modal-label thick" for="">Name </label>
              </div>
              <div class="col-md-3 col lg- 3 col-sm-4 col-6">
                <label class="modal-label thick" for="">Role </label>
              </div>
              <div class="col-md-3 col lg- 3 col-sm-3 col-6">
                <label class="modal-label thick" for="">Affiliation </label>
              </div>
            </div>
            <div class="row" *ngFor="let personalData of personalDataList let i=index">
              <div class="col-md-4 col lg- 4 col-sm-4 col-6 bottom-distance">
                <div class="row">
                  <div class="modal-label col-3 pr-0" for="">
                    <input type="checkbox" [(ngModel)]="isPersonSelected[i]" (Change)="isPersonSelected[i]=!isPersonSelected[i]"
                    /> </div>
                  <div class="col-9">
                    {{personalData.personName}}
                  </div>
                </div>
              </div>
              <div class="col-md-3 col lg- 3 col-sm-3 col-6">
                {{personalData.protocolPersonRoleTypes?.description}}

              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                {{personalData.protocolAffiliationTypes?.description}}
              </div>
            </div>
            <section class="col-12 btn-row-med sect-confirm-padding proceed-btn-align">
              <button title="Add Persons" class="btn btn-outline-success txt-medium btn-mt-10 center-button" aria-label="Close" (click)="addCollaboratorPerson()">Add</button>
            </section>
          </div>
          <div *ngIf="personalDataList == null || personalDataList?.length <= 0" class="alertMsg"><b>No more persons to Add.</b></div>
          </div>
          <div class="popup-div" *ngIf="protocolCollaboratorPersons?.length != 0">
            <table class="table ">
              <thead class="popup-header">
                <tr class="solid-bottom">
                  <th scope="col">Name</th>
                  <th scope="col">Role</th>
                  <!-- <th scope="col">Unit</th> -->
                  <th scope="col">Affiliation</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="solid-bottom pull-up" *ngFor="let protocolCollaboratorPerson of protocolCollaboratorPersons">
                  <td class="align-middle" scope="row">{{protocolCollaboratorPerson?.personnelInfo?.personName}}</td>
                  <td class="align-middle">{{protocolCollaboratorPerson?.personnelInfo?.protocolPersonRoleTypes?.description}}</td>
                  <!-- <td>{{protocolCollaboratorPerson?.personnelInfo?.protocolLeadUnits[0]?.protocolPersonLeadUnits?.unitName}}</td> -->
                  <td class="align-middle">{{protocolCollaboratorPerson?.personnelInfo?.protocolAffiliationTypes?.description}}</td>
                  <td class="align-middle"><ul class="actionButtonGroup padding-icons">
                      <li>
                        <a title="Remove Person" (click)="deletePerson(protocolCollaboratorPerson)">
                          <i class="fa fa-trash-o delete-color"></i>
                        </a>
                      </li>
                      </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- section3 -->
        <div class="modal-header-label">
          <h4 class="popup-sub-head sub-head-width">Attachments</h4>
          <a class="cursor-hover" (click)="isShowAddAttachment = !isShowAddAttachment">
            <i class="fa fa-plus" aria-hidden="true"> Add Attachments</i>
          </a>
        </div>
        <div class="modal-padding">
          <div class="row mb-15" *ngIf="isShowAddAttachment">
              <div class="col-12  search-eidted-p ">
                  <div class="alert alert-danger txt-medium" *ngIf="invalidData.invalidAttachmentInfo">
                    Please fill all mandatory fields marked
                    <strong>*</strong>
                  </div>
                </div>
            <div class="row col-12 form-group">
              <div class="col-4 apprve-date">
                <h4 class="txt-medium text-secondary">*Type</h4>
                <select class="custom-select mr-sm-2 form-control txt-small" id="inlineFormCustomSelect" [(ngModel)]="requestObject.attachmentTypeCode" (ngModelChange)="setAttachmentType(requestObject.attachmentTypeCode)">
                  <option value=null selected>Please Select</option>
                  <option *ngFor="let attachmentType of attachmentTypes" value="{{attachmentType.typeCode}}">{{attachmentType.description}}</option>
                </select>
              </div>
              <div class="col-8 apprve-date">
                <h4 class="ml-10 txt-medium text-secondary">*Description</h4>
                <textarea rows="1" cols="2" class="txt-small form-control txt-area-fnt modal-table-padding " placeholder="Description" [(ngModel)]="requestObject.attachmentDescription"></textarea>
              </div>
            </div>
            <div class="col-12 txt-medium">
              <file-drop customstyle="file-drop-color" (onFileDrop)="dropped($event)">
                <button title="Choose Files" class="btn btn-outline-danger txt-small mt-40" (click)="triggerAdd()">Choose Files
                </button>
                <input type="file" #file (change)="onChange(file.files)" multiple id="addAttach" style="display: none" />
                <div style="color: #a92034; margin-left: 10px;  margin-top: 40px;">OR Drop files here
                </div>
              </file-drop>
            </div>
            <div class="filechip pl-5">
              <span *ngFor="let item of uploadedFile; let i=index">{{ item.name }}
                <i class="fa fa-close pdf" title="Remove Attachment" (click)="deleteFromUploadedFileList(item)"></i>
              </span>
            </div>
            <section class="col-12 btn-row-med sect-confirm-padding proceed-btn-align">
              <button title="Add Attachment" class="btn btn-outline-success txt-small mt-10" *ngIf="!isAttachmentEdit"
                aria-label="Close" (click)="addAttachments()">Add</button>
            </section>
          </div>
          <div class="popup-div" *ngIf="protocolCollaboratorAttachmentsList?.length!=0">
            <table class="table">
              <thead class="popup-header">
                <tr class="solid-bottom">
                  <th scope="col">Type</th>
                  <th scope="col">Description</th>
                  <th scope="col" style="width: 30%" class="padding-table-content">File</th>
                  <th scope="col" class="padding-table-content">Updated By</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="solid-bottom pull-up" *ngFor="let protocolCollaboratorAttachment of protocolCollaboratorAttachmentsList">
                  <td class="align-middle">{{protocolCollaboratorAttachment?.attachmentType?.description}}</td>
                  <td class="align-middle">{{protocolCollaboratorAttachment?.description}}</td>
                  <td style="width: 30%" class="padding-table-content align-middle">{{protocolCollaboratorAttachment?.fileName}}</td>
                  <td class="padding-table-content align-middle">{{protocolCollaboratorAttachment?.updateUser}} {{(protocolCollaboratorAttachment?.updateTimestamp ==='
                    ' || protocolCollaboratorAttachment.updateTimestamp ===null) ? ' ':(protocolCollaboratorAttachment.updateTimestamp
                    | date: 'MM/dd/yyyy')}}</td>
                  <td class="align-middle">
                    <ul class="actionButtonGroup padding-icons">
					<li>
					<a (click)="downloadAttachment(protocolCollaboratorAttachment)" title="Download Attachment">
					  <i class="fa fa-download  icon-color" aria-hidden="true"></i>
					</a>
				  </li>
                      <li>
                        <a title="Delete Attachment" (click)="tempSave($event,protocolCollaboratorAttachment)" data-toggle="modal" data-target="#deleteAttachment">
                          <i class="fa fa-trash-o delete-color"></i>
                        </a>
                      </li>
                      
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal-end -->
<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup" id="deleteAttachment" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-text-color">
      <div class="modal-header popup-header dotted-bottom">
        <h5 class="thick txt-large text-black mb-0 mt-1">Want to delete?</h5>

        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body txt-medium dotted-bottom">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer p-2">
        <button type="button" class="btn btn-outline-danger txt-small" data-dismiss="modal" data-toggle="modal" (click)="showPopup = false">No</button>
        <button type="button" class="btn btn-outline-success txt-small" (click)="deleteAttachments()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!--delete warning modal-->
<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeletePopup" id="deleteCollaboratorDetails" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-text-color">
      <div class="modal-header popup-header dotted-bottom">
        <h5 class="thick txt-large text-black mb-0 mt-1">Want to delete?</h5>

        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dotted-bottom txt-small">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer p-2">
        <button type="button" class="btn btn-outline-danger txt-small" data-dismiss="modal" data-toggle="modal" (click)="showDeletePopup = false">No</button>
        <button type="button" class="btn btn-outline-success txt-small" (click)="saveCollaboratorDetails('DELETE');" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
