<!-- <ngx-spinner bdOpacity=0.5 bdColor="#333" color="#fff" type="ball-spin-clockwise-fade" loadingText="Loading..."></ngx-spinner> -->
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card history-card border-radius-1">
          <div class="card-header history-header">
            <nav class="nav navbar-pg3">
              <h5 *ngIf="!isAmendment">Renewal Summary</h5>
              <h5 *ngIf="isAmendment">Amendment Summary</h5>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </nav>
          </div>
          <div class="card-body card-paddng">
            <div class="col-12  search-eidted-p padding-15">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <!-- <label *ngIf="!isAmendment ">Renewal Summary</label>
                      <label *ngIf="isAmendment ">Amendment Summary</label> -->
                      <textarea class="form-control txt-area-fnt mb-15"  rows="5" [(ngModel)]="irbSummaryVo.comment"
                      [placeholder]="isAmendment  == true ? 'Amendment Summary':'Renewal Summary'"  [disabled]="((isAmendment  == true && protocolStatus != '105') || (isAmendment  == false && protocolStatus != '106')) "></textarea>
                    </div>
                  </div>
                  </div>
                  <div class="row"  *ngIf="isAmendment ">
                      <div class="col-lg-4 status-links pdf" *ngFor="let module of moduleAvailableForAmendment">
                          <input type="checkbox" [disabled]="module.IS_EDITABLE == 'N' || protocolStatus != '105'" [(ngModel)]="module.STATUS_FLAG" (ngModelChange)="module.AC_TYPE='U'"/>
                      
                          <span [ngStyle]="{'color': module.IS_EDITABLE == 'N' || protocolStatus != '105' ? 'grey' : ''}">{{module?.DESCRIPTION}}</span>
                    
                      </div>
                    </div>
                    <div class="modal-footer btn-row-med text-center">
                        <button type="button margin-class" class="btn btn-primary tab_btn" (click)="saveAmendmentDetails()" *ngIf="protocolStatus == '105' || protocolStatus == '106'">Save</button>
              
                      </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>