<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header nav-header-link">
					<nav class="nav navbar-pg3">
						<a class="nav-link active">Attachments</a>
						<a class="nav-link">Notes</a>
						<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_ATTACHMENTS_INFO}}" #protocolAttachmentInfo="ngbPopover"
						 (document:click)="protocolAttachmentInfo.close()" (click)="$event.stopPropagation()"></i>
					</nav>
				</div>

				<div class="card-body">
					<div class="mb-15">
					<button type="button" class="btn icon_tab" (click)="loadIrbAttachmentList()"
					[ngClass]="{icon_tab_active:(tabSelected=='STUDY')}">
					<i class="fa fa-book pr-8" aria-hidden="true"></i>Study Attachments</button>
				  <button type="button" class="btn btn-outline-secondary icon_tab" (click)="getInternalAttachment()"
					[ngClass]="{icon_tab_active:(tabSelected=='INTERNAL')}">
					<i class="fa fa-file-text-o pr-8" aria-hidden="true"></i>Internal Attachments</button>
					</div>
					<div class="col-12">
						
							<div class="col-12 mt-10" *ngIf="tabSelected=='STUDY'">
									<div class="table-responsive" *ngIf="noIrbAttachments==false">
									  <table class="table table-striped table-type-head">
										<thead class="popup-sub-header">
										  <tr>
												<th width="25%">Type</th>
										  <th  width="25%" class="pointer" (click)="column = 'description';sortBy()">Description
											  <i class="fa" *ngIf="column == 'description'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
											  aria-hidden="true"></i></th>
											  <th  width="15%" class="pointer" (click)="column = 'fileName';sortBy()">File
													<i class="fa" *ngIf="column == 'fileName'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
													aria-hidden="true"></i></th>
										  <th  width="15%" class="pointer" (click)="column = 'updateTimestamp';sortBy()">Updated By
											  <i class="fa" *ngIf="column == 'updateTimestamp'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
											  aria-hidden="true"></i></th>
											<th  scope="col">Action</th>
										  </tr>
										</thead>
										<tbody class="tdy-color">
										  <tr *ngFor="let attachments of irbAttachmentsList | orderBy: {property: column, direction: direction}; let i = index" [class.poping-border]="i == attachmentSelectedRow">
											  
											<td width="25%">{{attachments?.attachmentType?.description}}</td>
											<td width="25%" >{{attachments?.description}}</td>
											<td width="15%" class="padding-table-content">{{attachments?.fileName}} </td>
											<td width="15%"class="padding-table-content">{{attachments?.updateUser}} {{(attachments?.updateTimestamp ===' ' || attachments.updateTimestamp
											  ===null) ? ' ':(attachments?.updateTimestamp | date: 'MM/dd/yyyy')}}</td>
											<td>
											  <ul class="actionButtonGroup padding-icons">
												
												  <li (click)="downloadAttachment(attachments)" title="Download Attachment">
													  <a>
														<i class="fa fa-download icon-color" aria-hidden="true"></i>
													  </a>
													</li>
													<li>
														<a id="prop-doc-version-btn" (click)="getVersion(attachments, i)" title="Click here to view file versions"
														data-toggle="modal" data-target="#versionModal">
														<!-- <img class="version-icon" src="assets/images/version-icons.png" aria-hidden="true"> -->
														<img class="version-icon" src="/mit-irb/resources/dist/assets/images/version-icons.png"/>
														</a>
													  </li>
											  </ul>
											</td>
										  </tr>
				
										</tbody>
									  </table>
									</div>
									<div class="col-md-12" *ngIf="noIrbAttachments==true">
										<p class="noAttachments">No Study Attachments associated with this protocol.</p>
									  </div>
								  </div>
				
								  <div class="col-12 mt-10" *ngIf="tabSelected=='INTERNAL'">
									  <div class="table-responsive" *ngIf="internalProtocolAtachmentList.length > 0">
										<table class="table table-striped table-type-head">
										  <thead class="popup-sub-header">
												<tr>
															<th  class="pointer" (click)="column = 'fileName';sortBy()">File
																<i class="fa" *ngIf="column == 'fileName'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
																aria-hidden="true"></i></th>
													  <th class="pointer" (click)="column = 'updateTimeStamp';sortBy()">Updated By
														  <i class="fa" *ngIf="column == 'updateTimeStamp'" (click)="sortBy();" [ngClass]="(direction == '-1')?'fa-arrow-up':'fa-arrow-down'"
														  aria-hidden="true"></i></th>
														<th  scope="col">Action</th>
													  </tr>
										  </thead>
										  <tbody class="tdy-color">
											<tr *ngFor="let attachments of internalProtocolAtachmentList | orderBy: {property: column, direction: direction}; let i = index">
											  <td class="padding-table-content">{{attachments?.fileName}} </td>
											  <td class="padding-table-content">{{attachments?.updateUser}} {{(attachments?.updateTimeStamp ===' ' || attachments.updateTimeStamp
												===null) ? ' ':(attachments?.updateTimeStamp | date: 'MM/dd/yyyy')}}</td>
											  <td>
												<ul class="actionButtonGroup padding-icons">
												  
													<li (click)="downloadInternalAttachment(attachments)" title="Download Attachment">
														<a>
														  <i class="fa fa-download icon-color" aria-hidden="true"></i>
														</a>
													  </li>
												</ul>
											  </td>
											</tr>
				  
										  </tbody>
										</table>
									  </div>
									  <div class="col-md-12" *ngIf="internalProtocolAtachmentList?.length == 0">
										  <p class="noAttachments">No Internal attachments associated with this protocol.</p>
										</div>
									</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Version modal-->
<div class="modal fade" id="versionModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content border-radius-1">
	<div class="modal-header modal-head98 d-flex justify-content-center">
	  <h5 class="modal-title  text-center" id="exampleModalLabel">Attachment Versions</h5>
	  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close" (click)="attachmentSelectedRow = null">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	<div class="row" *ngIf="previousProtocolAttachmentList?.length > 0"> 
	  <div class="col-md-4">
	  <div class="form-group">
		<label>Type: </label><span> {{versionAttachmentChoosen?.attachmentType?.description}}</span>
	  </div>
	  </div>
	  <div class="col-md-8">
	  <div class="form-group">
		  <label>Description: </label><span> {{versionAttachmentChoosen?.description}}</span>
		</div>
		</div>
	</div>       
	<div class="table-responsive" *ngIf="previousProtocolAttachmentList?.length > 0">
		<table class="table table-striped table-type-head">
		  <thead class="popup-sub-header">
			<tr>
				<th>File</th>
			<th >Updated By</th>
			  <th  scope="col">Action</th>
			</tr>
		  </thead>
		  <tbody class="tdy-color">  
			  <tr *ngFor="let attachments of previousProtocolAttachmentList; let i = index">
				  <td class="padding-table-content">{{attachments?.fileName}} </td>
				  <td class="padding-table-content">{{attachments?.updateUser}} {{(attachments?.updateTimestamp ===' ' || attachments.updateTimestamp
					===null) ? ' ':(attachments?.updateTimestamp | date: 'MM/dd/yyyy')}}</td>
				  <td>
					<ul class="actionButtonGroup padding-icons">
					  
						<li (click)="downloadAttachment(attachments)" title="Download Attachment">
							<a>
							  <i class="fa fa-download icon-color" aria-hidden="true"></i>
							</a>
						  </li>
					</ul>
				  </td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="col-md-12" *ngIf="previousProtocolAttachmentList?.length == 0">
				<p class="noAttachments">No Previous versions of this Attachment.</p>
			  </div>
			</div>

	</div>

  </div>
</div>