<div class="container-fluid">
      <div class="row">
        <div class="col-12">
           <div class="card">
            <div class="card-header nav-header-link">
                <nav class="nav navbar-pg3">
                  <a class="nav-link active" href="#">Attachements</a>
                  <a class="nav-link" href="#">Notes</a>
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
              </nav>
            </div>
            
            <div class="card-body">
            	<div class="col-12 select-tag-form">
	            	<form>
					  <div class="form-row">
					    <div class="col-12 col-sm-6 col-md-3 check-b-right">
  					      <div class="form-check form-check-inline">
  							  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  							  <label class="form-check-label" for="inlineCheckbox1">ASC</label>
  							</div>
  							<div class="form-check form-check-inline">
  							  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  							  <label class="form-check-label" for="inlineCheckbox2">DSC</label>
  							</div>
					    </div>
					    <div class="col-12 col-sm-6 col-md-3">
					      <select class="custom-select select-bg mr-sm-2" id="inlineFormCustomSelect">
					        <option selected>Type</option>
					        <option value="1">One</option>
					        <option value="2">Two</option>
					        <option value="3">Three</option>
					      </select>
					    </div>
					    <div class="col-12 col-sm-6 col-md-3">
					      <select class="custom-select select-bg mr-sm-2" id="inlineFormCustomSelect">
					        <option selected>Type</option>
					        <option value="1">One</option>
					        <option value="2">Two</option>
					        <option value="3">Three</option>
					      </select>
					    </div>
					    <div class="col-12 col-sm-6 col-md-3 btn-ot">
					    	<button class="btn btn-primary search-btn1" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
					    	<button class="btn btn-primary close-btn1" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
					    </div>
					  </div>
					</form>
	            </div>
             		<div class="col-12">
                  <div class="table-responsive">
             				<table class="table table-striped table-type-head">
        					  <thead>
        					    <tr>
        					      <th scope="col">Type</th>
        					      <th scope="col">Description</th>
        					      <th scope="col">File</th>
        					      <th scope="col">Updated By</th>
        					    </tr>
        					  </thead>
        					  <tbody class="tdy-color">
        					    <tr>
        					      <td scope="row">Informed Consent document</td>
        					      <td>Consent From Adler Foster</td>
        					      <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span>iInformed consent document file</span></td>
        					      <td>Michael keohane 02-24-2018.11.30</td>
        					    </tr>
        					    <tr>
        					     <td scope="row">Informed Consent document</td>
                        <td>Consent From Adler Foster</td>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span>iInformed consent document file</span></td>
                        <td>Michael keohane 02-24-2018.11.30</td>
        					    </tr>
        					    <tr>
        					      <td scope="row">Informed Consent document</td>
                        <td>Consent From Adler Foster</td>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span>iInformed consent document file</span></td>
                        <td>Michael keohane 02-24-2018.11.30</td>
        					    </tr>
        					  </tbody>
        					 </table>
                  </div>
                </div>
             
            </div>
          </div>
      </div>
      </div>
</div>
