<div class="top-distance" *ngIf="isGeneralInfoSaved">

    <!-- start here-->
    
    <!-- tinu edit start-->
    <div class="">
        <div class="row">
          <!--collapse-->
      
      
          <div class="col-12">
            <div class="row cards-in">
              <div class="col-12 mb-10">
                <div class="card mt-5">
      
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <h4 class="card-hedding dotted-bottom">Points Of Contact
                      </h4>
                    </div>
                  </div>
                  <div class="card-body card-paddng">
                      <div class="col-12  search-eidted-p padding-15" *ngIf="mandatoryFieldMissing">
                        <div class="alert alert-danger txt-medium" [innerHTML]="warningMessage">
                        </div>
                      </div>
                      <div class="col-12  search-eidted-p" *ngIf="isAdminContactEditable">
                
                       <div class="row top-dis-15">
                          <div class="col-md-4">
                              <div class="form-group">
                                <div class="form-check-inline">
                                  <span class="form-check-label">
                                    <input type="radio" class="form-check-input" name="empOptradio" value="employee" [(ngModel)]="personType" (ngModelChange)="changePersonType(personType)"><span class="txt-medium text-secondary">Employee</span>
                                  </span>
                                </div>
                                <div class="form-check-inline">
                                  <span class="form-check-label">
                                    <input type="radio" class="form-check-input" name="nonEmpOptradio" value="non-employee" [(ngModel)]="personType" (ngModelChange)="changePersonType(personType)"><span class="txt-medium text-secondary">Non-Employee</span>
                                  </span>
                                  <span class="mandatory">*</span>
                                </div>
                                <app-elastic [options]="options" [placeHolder]="elasticPlaceHolder" [clearField]="clearField" (selectedResult)="selectPersonElasticResult($event)"></app-elastic>
                              </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                  <span class="txt-medium txt-dark">Role</span>
                                    <span class="mandatory">*</span>
                                    <select [class.poping-border]="isAdminContactEdit" class="txt-small form-control" id="inlineFormCustomSelect" [(ngModel)]="protocolAdminContact.adminContactTypeCode"
                                    (ngModelChange)="setAdminContactType(protocolAdminContact.adminContactTypeCode)">
                                    <option selected value=null>Please Select</option>
                                    <option *ngFor="let protocolAdminContact of protocolAdminContactType" value="{{protocolAdminContact.adminContactTypeCode}}">{{protocolAdminContact.description}}</option>
                                  </select>
                                  </div>
                                  </div>
                                  <!-- <div class="col-md-3">
                                      <div class="form-group">
                                        <span class="txt-medium txt-dark">Affiliation</span>
                                          <span class="mandatory">*</span>
                                          <select [class.poping-border]="isAdminContactEdit" class="txt-small form-control" id="inlineFormCustomSelect" [(ngModel)]="protocolAdminContact.affiliationTypeCode"
                                          (ngModelChange)="setPersonAffiliation(protocolAdminContact.affiliationTypeCode)">
                                          <option selected value=null>Please Select</option>
                                          <option *ngFor="let type of affiliationTypes" value="{{type.affiliationTypeCode}}">{{type.description}}</option>
                                        </select>
                                        </div>
                                        </div> -->
<!--                                  <div class="col-md-4">-->
<!--                                      <div class="form-group">-->
<!--                                          <span class="txt-medium txt-dark">Description</span>-->
<!--                                          <input type="text" [(ngModel)]="protocolAdminContact.description" placeholder="Description" class="txt-small form-control"-->
<!--                                          [class.poping-border]="isAdminContactEdit">-->
<!--                                    </div>
                                    </div>  -->
                                    <div class="col-md-1 ">
                                        <button title="Add" *ngIf="!isAdminContactEdit" type="button" class="btn btn-outline-success txt-small btn-size mt-25" (click)="addAdminContact('ADD')">
                                          Add
                                        </button>
                                        <button title="Save" *ngIf="isAdminContactEdit" type="button" class="btn top-butn" (click)="addAdminContact('EDIT')">
                                          <i class="fa fa-floppy-o log-user-icon-lite" aria-hidden="true"></i>
                                        </button>
                                      </div>
                            <div class="col-12" *ngIf="showPersonElasticBand">
                                <div class="row container-fluid">
                                  <div class="col-12 card search-card-view mb-2 mt-0 p-3">
                                    <div class="row">
                                      <div class="col-sm-12 col-md-12 col-lg-12 text-right" title="Remove" (click)="showPersonElasticBand = false">
                                        <i aria-hidden="true" class="fa fa-times-circle btn-close"></i>
                                      </div>
                                      <div class="col-12 mb-2">
                                        <span class="txt-medium text-secondary">Name:</span>
                                        <span class="text-danger txt-medium">{{selectedPerson?.full_name}} (<span *ngIf="options.type == 'person'" class="text-danger txt-medium">{{selectedPerson?.person_id}}</span><span *ngIf="options.type != 'person'" class="text-danger txt-medium">{{selectedPerson?.rolodex_id}}</span>)</span>
                                      </div>
                                      <div class="col-12">
                                        <span class="txt-medium text-secondary">Email:</span>
                                        <span class="text-danger txt-medium">{{selectedPerson?.email_address}}</span>
                                        <span class="txt-medium text-secondary">Title:</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type == 'person'">{{selectedPerson?.job_title}}</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type != 'person'">{{selectedPerson?.title}}</span>
                                        <span class="txt-medium text-secondary"> Unit:</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type == 'person'">{{selectedPerson?.home_unit_name}}</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type != 'person'">{{selectedPerson?.organization}}</span>
                                        <span class="txt-medium text-secondary">Address:</span>
                                        <span class="text-danger txt-medium">{{selectedPerson?.addr_line_1}}</span>
                                        <span class="txt-medium text-secondary">Phone:</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type == 'person'">{{selectedPerson?.phone_nbr}}</span>
                                        <span class="text-danger txt-medium" *ngIf="options.type != 'person'">{{selectedPerson?.phone_number}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          <!--<div class="col-md-4">
                            <div class="form-group">
                              <label>Department
                                <span class="mandatory">*</span>
                              </label>
                              <input type="text" [class.poping-border]="isProtocolUnitEdit" class="form-control input-field-size" placeholder="Search Unit"
                                [(ngModel)]="protocolUnit.unitName" (ngModelChange)="getHomeUnitList()" (focus)="isProtocolUnitSearch = true"
                                (focusout)="isProtocolUnitSearch = false" (keydown.arrowdown)="keyPressEvent.onKeyDown($event,'protocolUnitDropDown')"
                                (keydown.arrowup)="keyPressEvent.onKeyDown($event,'protocolUnitDropDown')" (keydown.Enter)="keyPressEvent.onKeyDown($event,'protocolUnitDropDown')">
                              <div class="sb-seachresults top-margin search-dropdown-position dropdown-width" id="protocolUnitDropDown">
                                <ul class="sb-results-dropdown-menu" *ngIf="isProtocolUnitSearch">
                                  <li *ngFor="let result of unitSearchResult" (mousedown)="selectedHomeUnit(result.unitName,result.unitNumber)" (click)="selectedHomeUnit(result.unitName,result.unitNumber)">
                                    <span>{{result.unitNumber}} - {{result.unitName}}</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Type
                                <span class="mandatory">*</span>
                              </label>
                              <select [class.poping-border]="isProtocolUnitEdit" class="custom-select mr-sm-2" id="customRoleSelect" [(ngModel)]="protocolUnit.unitTypeCode"
                                (ngModelChange)="setProtocolUnitType(protocolUnit.unitTypeCode)">
                                <option selected value="null">Please Select</option>
                                <option *ngFor="let protocolUnitType of protocolUnitTypes" value="{{protocolUnitType.unitTypeCode}}">{{protocolUnitType.description}}</option>
                              </select>
                              <span *ngIf="invalidData.isLeadUnitExist" class="error">Lead Unit already exists please choose a different type</span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Description
                              </label>
                              <input type="text" [class.poping-border]="isProtocolUnitEdit" class="form-control input-field-size" placeholder="Description"
                              [(ngModel)]="protocolUnit.description">
                            </div>
                          </div>
                          <div class="col-md-1 add-btn-1">
                            <button title="Add" *ngIf="!isProtocolUnitEdit" type="button" class="btn btn-success top-butn" (click)="addProtocolUnit('ADD')">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button title="Save" *ngIf="isProtocolUnitEdit" type="button" class="btn btn-success top-butn" (click)="addProtocolUnit('EDIT')">
                              <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                          </div>-->
                
                        </div>
                      </div>
              
              
                      <div class="col-12" *ngIf="protocolAdminContactList != null && protocolAdminContactList.length > 0">
                          <div class="form-group">
                            <div class="row alert-sp alert-warning mb-0">
                              <div class="txt-small m-0">
                                <div>
                                  <i class="fa fa-user-circle" aria-hidden="true"> &nbsp;</i>Employee &nbsp;
                                  <i class="fa fa-user-o" aria-hidden="true">&nbsp;</i>Non Employee
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
              
              
                      <div class="col-md-12 users-list-tbl"  *ngIf="protocolAdminContactList != null && protocolAdminContactList.length > 0">
                        <div class="row">
                          <div class="w-100">
                            <table class="table tbl-p-clr">
                              <thead class="tbl-head-clr thead-font-size">
                                <tr class="solid-bottom">
                                  <th class="align-middle" scope="col">Name</th>
                                  <th class="align-middle" scope="col">Role</th>
                                  <!-- <th class="align-middle" scope="col">Affiliation</th> -->
                                  <!-- <th  class="align-middle text-center" scope="col">Training Completed</th> -->
                                  <th class="align-middle" scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody class="tbody-font-size">
                                <tr *ngFor="let item of protocolAdminContactList let i =index" [class.poping-border]="i == adminContactSelectedRow"
                                  class="solid-bottom pull-up">
                                  <td  scope="col" class="align-middle"><i class="fa" [ngClass]="item.nonEmployeeFlag == 'N' ? 'fa-user-circle':'fa-user-o'" aria-hidden="true"></i> {{item?.personName}}</td>
                                  <td  scope="col" class="align-middle">{{item?.adminContactType?.description}}</td>
                                  <!-- <td  scope="col" class="align-middle">{{item?.protocolAffiliationTypes?.description}}</td> -->
                                  <!-- <td  scope="col" class="align-middle text-center">
                                      <i *ngIf="item?.trainingInfo =='COMPLETED'" class="training-complete-color fa fa-check"
                                      title="Complete" aria-hidden="true"></i>
                                    <i *ngIf="item?.trainingInfo =='INCOMPLETED'" class="training-incomplete-color fa fa-times"
                                      title="Not Complete" aria-hidden="true"></i>
                                  </td> -->
         
                                  <td  scope="col" class="action-btn-list align-middle">
                                    <a *ngIf="isAdminContactEditable" title="Edit" (click)="editAdminContact(item,i)" class="btn mb-2">
                                      <i class="fa fa-pencil log-user-icon-lite" aria-hidden="true"></i>
                                    </a>
                                    <button title="View" type="button" class="btn mb-2" data-toggle="modal"
                              data-target="#personModalAdmin" (click)="loadPersonDetailedList(item)">
                              <i class="fa fa-eye log-user-icon-lite" aria-hidden="true"></i>
                            </button>
                                    <a *ngIf="isAdminContactEditable" title="Delete" (click)="deleteAdminContact(i)" class="btn mb-2" data-toggle="modal"
                                      data-target="#deleteAdminDetails">
                                      <i class="fa fa-trash log-user-icon-lite" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    
    <!-- stop here-->
    
    
       
      
        <!--delete warning modal-->
        <div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeletePopup" id="deleteAdminDetails" tabindex="-1" role="dialog"
          aria-labelledby="deleteModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-text-color">
              <div class="modal-header popup-header dotted-bottom">
                <h5 class="thick txt-large text-black mb-0 mt-1">Want to delete?</h5>
      
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body dotted-bottom txt-medium">
                <p>Are you sure you want to delete this item?</p>
              </div>
              <div class="modal-footer p-2">
                <button type="button" class="btn btn-outline-danger txt-small" data-dismiss="modal" data-toggle="modal" (click)="showDeletePopup = false">No</button>
                <button type="button" class="btn btn-outline-success txt-small" (click)="saveAdminContact('DELETE')" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
    
        <!--delete warning modal-->
      <div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeletePopup" id="deleteUnitDetails" tabindex="-1" role="dialog"
      aria-labelledby="deleteModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-text-color">
          <div class="modal-header popup-header dotted-bottom">
            <h5 class="thick txt-large text-black mb-0 mt-1">Want to delete?</h5>
    
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body dotted-bottom txt-medium">
            <p>Are you sure you want to delete this item?</p>
          </div>
          <div class="modal-footer p-2">
            <button type="button" class="btn btn-outline-danger txt-small" data-dismiss="modal" data-toggle="modal" (click)="showDeletePopup = false">No</button>
            <button type="button" class="btn btn-outline-success txt-small" (click)="saveAdminContact('DELETE');" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="personModalAdmin" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header popup-header dotted-bottom">
          <h5 class="modal-title txt-large thick" id="exampleModalLongTitle">Person Details
          </h5>
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-popup ">
          <div class="modal-header-label dotted-bottom">
            <h4 class="popup-sub-head txt-medium">Basic</h4>
          </div>
          <!-- section1 -->
          <div class="modal-padding">
            <div class="row">
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Name : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.FULL_NAME}}</span>
  
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for="">Email : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.EMAIL_ADDRESS}}</span>
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Primary Title : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.PRIMARY_TITLE}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Address : </label> <span
                  class="txt-medium text-danger">{{irbPersonDetailedList?.ADDRESS_LINE_1}}</span>
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> City : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.CITY}}</span>
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Country : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.COUNTRY_CODE}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Office Location : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.OFFICE_LOCATION}}</span>
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Office Phone Number : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.OFFICE_PHONE }}</span>
              </div>
              <div class="col-md-4 col lg- 4 col-sm-4 col-6">
                <label class="modal-label" for=""> Postal Code : </label>
                <span class="txt-medium text-danger">{{irbPersonDetailedList?.POSTAL_CODE}}</span>
              </div>
            </div>
          </div>
          <!-- section2 -->
          <div class="row">
            <div class="col-6">
              <h4 class="popup-sub-head">Training -
                <span *ngIf="trainingStatus=='COMPLETED'" class="text-danger"> Completed</span>
                <span *ngIf="trainingStatus=='INCOMPLETE'" class="text-danger"> Not Completed</span>
              </h4>
            </div>
            <div class="col-6">
              <!-- <a class="pdf a-right attachment-btn-position" *ngIf="userHasRightToEditTraining == 1" data-dismiss="modal" (click)="openTrainingMaintainence(null,'ADD')">
                <i class="fa fa-plus icon-padding"></i>Add Training
              </a> -->
            </div>
          </div>
          <div class="modal-padding" *ngIf="irbPersonDetailedTraining?.length > 0">
            <div class="popup-div">
              <table id="trainingTable" class="table">
                <thead class="popup-header">
                  <tr>
                    <th class="table-align-head" scope="col">Description</th>
                    <!-- <th scope="col">Score</th> -->
                    <th scope="col">Expiration Date</th>
                    <!-- <th scope="col" class="submitted-header">Submitted Date</th> -->
                  </tr>
                </thead>
                <tbody *ngFor="let info of irbPersonDetailedTraining; let l=index" class="txt-medium">
                  <tr class="solid-bottom">
                    <td class="table-align" scope="row">{{info.TRAINING_DESCRIPTION}}
                    </td>
                    <!-- <td>{{info.SCORE}}</td> -->
                    <td>
                      {{(info.FOLLOWUP_DATE === ' ' || info.FOLLOWUP_DATE === null ) ? ' ':(info.FOLLOWUP_DATE | date: 'MM/dd/yyyy')}}
                    </td>
                    <!-- <td>{{(info.DATE_SUBMITTED === ' ' || info.DATE_SUBMITTED === null ) ? ' ':(info.DATE_SUBMITTED | date: 'MM/dd/yyyy')}}</td> -->
                    <td class="action-btn-list">
                      <!-- <button *ngIf="userHasRightToEditTraining == 1" (click)="openTrainingMaintainence(info,'EDIT')" data-dismiss="modal" title="Edit" type="button" class="btn btn-primary edit-btn-1" >
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </button> -->
                      <button *ngIf="info?.attachment?.length > 0" title="Attachments"
                        (click)="showTrainingAttachments(l)" type="button" class="btn">
                        <i class="fa fa-paperclip log-user-icon-lite" aria-hidden="true"></i>
                      </button>
                      <button *ngIf="info?.comments?.length > 0" title="Comments" (click)="showTrainingComments(l)"
                        type="button" class="btn">
                        <i class="fa fa-comments log-user-icon-lite" aria-hidden="true"></i>
                      </button>
  
                    </td>
                  </tr>
  
  
  
                  <tr>
                    <td colspan="12" class="hiddenRow padding0" *ngIf="attachmentIconValue==l">
                      <div style="background-color: #f5f3f3!important" id=attachment+{{l}}>
                        <table id="trainingTable" class="table table-striped">
                          <tbody>
                            <tr style="background-color: #f5f3f3!important">
                              <td width="15%" class="label-font align-middle">Attachments</td>
                              <td>
                                <div class=" pdf" *ngIf="trainingAttachments?.length > 0">
                                  <span title="download" *ngFor="let attachment of trainingAttachments"
                                    (click)="downloadAttachment(attachment)">{{attachment?.FILE_NAME}}<i
                                      class="fa fa-download log-user-icon-lite"></i></span>
                                </div>
                              </td>
                            </tr>
  
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="12" class="hiddenRow padding0" *ngIf="commentIconValue==l">
                      <div style="background-color: #f5f3f3!important" id=comment+{{l}}>
                        <table id="trainingTable" class="table table-striped">
                          <tbody>
                            <tr style="background-color: #f5f3f3!important">
                              <td width="15%" class="label-font align-middle">Comments</td>
                              <td>
                                <!-- <div *ngFor="let comment of trainingComments">{{comment?.COMMENT_DESCRIPTION}}
                                      </div> -->
                                <ul *ngFor="let comment of trainingComments">
                                  <li title="{{comment?.COMMENT_DESCRIPTION}}">
                                    {{comment?.COMMENT_DESCRIPTION| slice:0:50}} <span
                                      *ngIf="comment?.COMMENT_DESCRIPTION != null && comment?.COMMENT_DESCRIPTION.length > 50">
                                      ...</span></li>
                                </ul>
                              </td>
                            </tr>
  
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
  
  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <!-- modal-end -->
