/* @import '~angular-tree-component/dist/angular-tree-component.css';
.tree {
  width: 300px;
}

.node-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.node-content-wrapper {
  flex-grow: 1;
  position: relative;
}

.pull-right {
  position: absolute;
  right: 10px;
} */

/* .unit-tree-blocks {
	/* border: 1px #DADAD6 solid;
	width: 100% !important;
	margin-bottom: 5px;
  background: #e5f7fb;
} */
.unit-tree-blocks {
	/* border: 2px #DADAD6 solid; */
	width: 120px;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #f3f0f0;
  padding-right: 5px;
  padding-left: 5px;
}
.highlight-node{
  background: #c8f3ed;
}
.highlight-error-node{
  background: #ff7d7d;
}
.unit-tree li:first-child {
	list-style: none;
}

/*tree line */
.ui-tree {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .ui-tree li {
	position: relative;
	line-height: 1.5em;
  }
  .ui-tree ul {
	position: relative;
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
  }
  .ui-tree ul:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px groove  rgba(0, 0, 0, 0.3);
  }
  .ui-tree ul li {
	padding-left: 1.5em;
  }
  .ui-tree ul li:before {
	content: "";
	position: absolute;
	top: 1em;
	left: 0;
	width: 1.2em;
	height: 3px;
    border-top: 1px groove  rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .ui-tree ul li:last-child:before {
    background-color: white;
    height: auto;
    top: 1em;
    left: -1px;
    bottom: 0;
  }
  .ui-tree ul ul {
	margin-left: 0.5em;
  }
  /*tree-line-end*/

  .pointer{
    cursor: pointer;
  }
.qn-ft{
  font-size: .9rem
}
.expanded-treeblock{
  width:100%;
}