<div class="container-fluid">
      <div class="row"><!--collapse-->
        <div class="col-12">
         <div class="card coll-card-q">
          <h5 class="card-header collapse_hd">Questionnire <i class="fa fa-info-circle" aria-hidden="true"></i></h5>
          <div class="card-body collapse-card-body">
              <div id="accordion">
                <div class="card">
                  <div class="card-header collapse-bg" id="headingQuestionaire">
                    <h5 class="mb-0">
                       <span class="collapse-complete">Complete</span>
                      <span class="btn btn-link coll-click" data-toggle="collapse" data-target="#collapseQuestionaire" aria-expanded="true" aria-controls="collapseQuestionaire">
                       Confidentiality of Data and Privacy of Subjetcs   (Version I)
                      </span>
                          <i class="fa fa-chevron-circle-down btn btn-link cl-rotate" aria-hidden="true" data-toggle="collapse" data-target="#collapseQuestionaire" aria-expanded="true" aria-controls="collapseQuestionaire"></i>
                    </h5>
                  </div>

                  <div id="collapseQuestionaire" class="collapse show" aria-labelledby="headingQuestionaire" data-parent="#accordion">
                    <div class="card-body qs-bdy">
                        <ol class="quest-no">
                            <li>Are you collecting coded data and /or samples?
                              <p>No</p>
                            </li>
                            <li>What specific safeguards will be employed to protect confidentiality of data
                              <p>Every data recording is encrypted using algorithams. More details elaborated in a document and attached under attachment section.</p>
                            </li>
                            <li>Will data that identified individual subjects be published or in any way disclosed to third parties other than project personnel or the study sponsor?
                              <p>No</p>
                            </li>
                            <li>Will subjects have access to their reserach records while they are enrolled in study?
                              <p>No</p>
                            </li>
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapse-bg" id="headingTwo">
                    <h5 class="mb-0">
                      <span class="collapse-complete collapse-incomplete">Incomplete</span>
                      <span class="btn btn-link collapsed coll-click" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Subject Population and Recruitment Methods (Version II) 
                      </span>
                      <i class="fa fa-chevron-circle-down btn btn-link cl-rotate" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></i>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body qs-bdy">
                      <ol class="quest-no">
                            <li>Are you collecting coded data and /or samples?
                              <p>No</p>
                            </li>
                            <li>What specific safeguards will be employed to protect confidentiality of data
                              <p>Every data recording is encrypted using algorithams. More details elaborated in a document and attached under attachment section.</p>
                            </li>
                            <li>Will data that identified individual subjects be published or in any way disclosed to third parties other than project personnel or the study sponsor?
                              <p>No</p>
                            </li>
                            <li>Will subjects have access to their reserach records while they are enrolled in study?
                              <p>No</p>
                            </li>
                        </ol>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
</div>
