
/*newly added by ram*/
.nav-advance-search {
	cursor: pointer;
}
.pi-profile {
	content: url("../images/principl_avatar.png");
}
.pi-profile:after {
	content: url("../images/principl_avatar.png");
}
.coi-profile {
	content: url("../images/avatar.png");
}
.coi-profile:after {
	content: url("../images/avatar.png");
}
.card-list-no-data{
	border-top: none;
    padding: 50px;
    text-align: center;
    color: #000;
    font-size: 13px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
}
.ovrflow-no-data {
	margin-bottom: 20px;
}
.padding-row {
	padding: 0px !important;
}
.down-arrow{
	float: right;
      /* margin-top: 7px; */
    background-image: url(../images/down_arrow.png);
    width: 18px;
    height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: 14px;
    z-index: 1;
	bottom: -25px;
}
.coll-header{
	padding-left: 0px;
    font-weight: bold;
    color: #868585;
}
.coll-details p{
	font-weight: bold;
    color: #868585;
}
.coll-details p span{
	color:#a92034;
	font-weight: normal;
}
.card-bg-coll {
	background-color:#EFEEF3;
}
ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;   
    max-height: 400px;
    overflow-y: scroll; 
    background: white;
    border-left: 1px #a31f34 solid;
    border-right: 1px #a31f34 solid;
    border-radius: 10px;
    text-align: left;
}

ul.sb-results-dropdown-menu > li {    
    position: relative;
    border-bottom: 1px dotted #ccc;
    height: 47px;
    padding: 10px;
    list-style: none;
    color: #a31f34;
}
ul.sb-results-dropdown-menu > li:hover {
	 background: #e0eaff; 
	 color: #a31f34;
}

ul.sb-results-dropdown-menu > li span {
    line-height:27px;
    padding-left:5px;
    cursor:pointer;
    white-space: nowrap;
    display: block;
    font-size: 0.8em; /* 
    text-overflow: ellipsis;  
    overflow:hidden; */
    /* 
    color: #525252; */
}   

/* ul.sb-results-dropdown-menu > li:nth-child(odd) {
    background: #f7f7f7;       
} */
ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    top: 32px;   
    z-index: 5;
    width: 100%;    
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18); 
}
.expand-div{
	position: relative;
    padding-bottom: 31px;
}
/*end of newly added*/
/*page2style_start*/
.collapse_hd
{
    background: #a91f34;
    color:#fff;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.collapse_hd i
{
   float: right;
}
.collapse-card-body
{
    padding:0;
}
.collapse-bg
{
    background: #fff;
}
.collapse-complete
{
    /*! width: 129px; */
    background: #1fa933;
    color: #fffdfd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    text-align: left;
    padding: 10px 23px 10px;
    /*! display: block; */
    margin-top: 0px !important;
    /*! margin: auto; */
    margin-top: auto;
    text-align: center;
    /*! float: right; */
}
.coll-click
{
    color:#000;
}
.collapse-bg i
{
    float: right;
    color:#a91f34;
    line-height: 20px;
}
.collapse-bg i:hover
{
    text-decoration: none;
}
.quest-no p
{
    color: #a91f34;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
}
.qs-bdy
{
    background: #efeef3;
}
.coll-card-q
{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.collapse-incomplete
{
    background: #c82a00 !important;
   
}
/*pag2_media_start*/
@media (max-width: 664px)
{
    .coll-click
    {
        font-size: 13px;
    }
    .collapse-complete 
    {
        font-size: 12px;
        padding: 7px 10px 7px;
    }
    .btn-row-med .btn 
    {
       font-size: 14px;
    }
    .collapse_hd 
    {
        font-size: 14px;
    }
}
@media (max-width: 477px)
{
    .coll-click 
    {
       font-size: 10px!important;
       line-height: 55px;

    }
    .apprve-date .active-en 
    {
        width: 165px;
        padding: 5px 0 5px;
    }
    .i-icon-top i 
    {
        line-height: 60px;
        font-size: 18px;
    }
}
@media (max-width: 388px)
{
    .btn-row-med .btn 
    {
        font-size: 10px;
    }
}
@media (max-width: 317px)
{
    .btn-row-med .btn 
    {
       margin-bottom: 20px;
    }
}
/*pag2_media_end*/
/*page2style_end*/
/*page3style_start*/
.nav-header-link
{
    background: #ebeef3;
}
.navbar-pg3 
{
    position: relative;
}
.navbar-pg3 i
{
   position: absolute;
   right: 0;
   top: 10px;
   color: #a91f34;
   font-size: 20px;
}
.navbar-pg3 .nav-link
{
    color:#000;
}
.navbar-pg3 .active::before
{
    border: solid 3px #a91f34;
    content: "";
    position: absolute;
    width:100%;
    top: 47px;
    left: 0;
}
.navbar-pg3 .active
{
    position: relative;
}
.search-btn1
{
    background: #e64c68;
    border: solid 1px #e64c68;
}
.search-btn1:hover
{
    background: #e64c68;
    border: solid 1px #e64c68;
    cursor: pointer;
}
.close-btn1
{
    background: #b2b2b2;
    border: solid 1px #b2b2b2;
}
.close-btn1:hover
{
    background: #b2b2b2;
    border: solid 1px #b2b2b2;
    cursor: pointer;
}
.check-b-right
{
    text-align: right;
}

.select-bg
{
    
    background: #f7f7f7 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
}
.table-type-head thead
{
    background: #a92034;
    color: #fff;
}
.table-type-head tbody tr:nth-of-type(2n+1) {
    background-color: #ecedee;
}
.table-type-head i
{
    
    color: #a92034;
}
.btn-ot
{
    text-align: right;
}
.check-b-right .form-check
{
    margin-top:10px;
}
.tdy-color
{
    color:#696767;
}
.tdy-color span
{
    color:#a92034;
}
.table-type-head tbody
{
    font-size: 14px;
}
/*media-queries*/
@media (max-width: 942px)
{
    .search-btn1
    {
        margin-bottom: 20px;
    }
    .close-btn1
    {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px)
{
   .select-tag-form .col-md-3
    {
        margin-bottom: 20px;
    }
    
}
@media (max-width: 317px)
{
    .btn-row-med .btn
    {
        margin-bottom: 15px;
    }
}
/*media-queries*/
/*page3style_end*/
/*page4style_start*/
.history-header
{
    background: #a92034;
    color:#fff;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.history-header i
{
    color:#fff;
    line-height: 5px;
}
.history-header h5
{
    margin: 0;
}
.datepicker table 
{
  
    font-size: 12px !important;
}
.action-h h6
{
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.history-card
{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.card-paddng
{
    padding-left: 0 !important;
    padding-right: 0!important;
    padding-top: 0;
    padding-bottom: 0;
}
.datepicker-outer
{
    padding: 15px;
    background: #f6f6f8;
    padding-bottom: 1px;
}
.history-coll-header
{
    background-color: #fff;
    position: relative;
}
.history-coll-header p
{
    color:#a92034;
    font-size: 16px;
    margin: 0;
    line-height: 40px;
    font-weight: bold;
}
.history-coll-header p span
{
    color:#616161;
    font-size: 14px;
}
.icon-list-coll li
{
    display: inline-block;
    margin-left: 10px;
    padding: 0;
}
.icon-list-coll
{
    margin: 0;
}
.icon-list-coll li i, .review-comment-icon
{
	width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #8c8c8c;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 1rem;
}
.review-border
{
    padding: 10px;
    border-bottom: 1px solid #8C8C8C;
}
.review-modal-height {
    max-height: 490px;
    overflow-y: auto;
}
.history-link
{
    color:#a92034;
    position: absolute;
    top: 24px;

    right: 3px;
    font-size: 20px;
}
.history-link:hover
{
    text-decoration: none;
    cursor: pointer;
}
.history-card-body
{
    background: #fbf0dd!important;
}
.list-of-his li
{
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}
.list-of-his li span
{
    color: #656060;
    font-weight: 400;

}

/*mediaqueries*/
@media (max-width: 992px)
{
    .search-btn1 {
        margin-bottom: 20px;
    }
     .close-btn1 {
        margin-bottom: 20px;
    }
}
@media (max-width: 991px)
{
    .icon-list-coll li i 
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #aeaeae;
        text-align: center;
        line-height: 31px;
        color: #fff;
        font-size: 14px;
        margin-top: 15px;
    }
}

@media (max-width: 767px)
{
    .list-of-his li 
    {
        font-size: 12px;
    }
    .history-coll-header p span 
    {
        font-size: 12px;
    }
    .history-coll-header p 
    {
        font-size: 10px;
    }
    .datepicker-outer .col-md-3
    {
        margin-bottom: 20px;
    }
}
@media (max-width: 544px)
{
    .history-link 
    {
   
        top: 74px;
    }
}
@media (max-width: 317px)
{
    .btn-row-med .btn
    {
        margin-bottom: 15px;
    }
}
/*page4style_end*/


/*edited Stylesheet*/


.funding-card .row-1::before
{
	content:"";
	position:absolute;
	width:0;
	border:none !important;
}
.funding-card .row-1
{
	position:relative;
}
.row-1 span
{
	color:#a92034;
}
.row-2::before
{
	margin-bottom: 15px;
    border-bottom: solid 2px #e6e6e6;
    content: "";
    position: absolute;
    width: 95%;
    margin: 0;
    left: 13px;
    top: 148px!important;
}
.row-2
{
	position:relative;
}
.row-padng
{																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													  
	padding:0 !important;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													  
}
/* modal styles */
.modal-popup{
    padding: 15px;
}
.modal-header-label{
    font-weight: 600;
    border-bottom: 1px solid #dedbdb;
}
.modal-label{
    font-weight: 600;
}
.modal-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:14px;
}
.top-card-body-schedule{
    padding-left: 10px;
}
.popup-header{
    background: #a92034 !important;
    color: #fff !important;
    padding: 9px !important;
    /* border-top-right-radius: 25px; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.popup-sub-header{
    background: #a92034 !important;
    color: #fff !important;
    padding: 9px !important;
    /* border-top-right-radius: 25px; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.popup-sub-header i{
    background: #a92034 !important;
    color: #fff !important;
    padding-left: 10px;
    cursor: pointer;
}
.sub-head-width{
    display: inline-block;
    width: 80%;
}
.modal-close{
    color: #fff;
    opacity:12 !important;
    text-shadow: none;
}
.modal-close :hover{
    color: #000;
    cursor: pointer;
}
.black-overlay {
    opacity: 0.7;
}
/* login */
.loginPage .ground {
    overflow: visible;
    min-height: 300px;/* newly added*/
}
.loginPage header>div:first-child:before, .loginPage header>div:first-child:after {content: none;}
.loginPage .pageMinHeight{margin-top: 100px;}
.leftLoginArea{
    position: absolute;
    background: rgb(163, 31, 52);
    margin: -5px -15px 0 -15px;
    width: 100%;
    min-height: 275px;/*newly added*/
}
.leftLoginArea:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 25px;
    background: #A31F34;
}
.leftLoginArea + div {
    margin: 38% 0 0 0;
    text-align: center;
    position: relative;
}

.loginHere{
    padding: 20px;
}
.loginHere h3{
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 20px 0;
}
.loginHere label, .loginHere .loginBtn + a{font-weight: normal;font-size: .9em;color: rgba(000,000,000, .7);}
.loginHere input[type="text"], .loginHere input[type="password"]{    width: 100%;    border: 1px #C8C8C8 solid;    padding: 0 2px;}
.loginHere .loginBtn{display: block;    width: 100%;    }
.loginHere input, .loginHere .buttonGroup button{border-radius: 2px;margin: 0 0 15px;display: block;height: 30px;}
.miniLogin {
    position: absolute;
    top: -50px;
}

.ground {
   /* background: #fafafa; */
    padding: 5px 15px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px -2px #000;
    position: inherit;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}
/* end */

.schedule-p {
	margin: 0;
    font-size: 14px;
}
.schedule-heading {
	font-size: 20px;
}
.schedule-class ul{
	padding: 15px 15px !important;
}
.cap1 h4{
	 color: #fd6b80;
}
.card-spcl-padding {
    padding-bottom: 0;
}
/* .section-margin{
	margin-top: 20px;
} */
.popup-sub-head {
	font-size: 15px!important;
	color: #505050;
    font-weight: bold;
}
.modal-padding .row{
	color: #505050;
}
.modal-padding label{
	color: #a92034;
}
#exampleModalLongTitle{
	font-size: 1em;
}
#welcomeModalLongTitle{
    font-size:1.3rem;
}
.selectBoxShade {
    color: #8a8585;
    box-shadow: 1px 1px 5px -1px #0000004d;
    border-color: linen;
}
.fund-head {
	padding-left:20px;
	font-weight:bold!important;
	color:#505050!important;
}

.history-line{
	position: relative;
}
.history-line::before {
	position: absolute;
    content: "";
    border-bottom: solid 1px #ecdfb5;
    bottom: 6px;
    width: 98%;
    left: 6px;
}
.noHistory {
	padding: 25px !important;
}
.info-icon-header{
	position: absolute;
    right: 14px;
    top: 10px;
    color: #a92034;
    font-size: 18px;
}
.revision-req-card {
	border: 1px solid #fda46b;
    background: #fbf1eb;
}
.popup-div tbody {
    display:block;
    /* height:200px;height:200px; */
    overflow-y:auto;
}
.popup-div thead, .popup-div tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.popup-div table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
.table-align {
	width: 43%;	
}
.table-align-head {
	width: 41%;	
}
.submitted-header {
	padding-left: 5px!important;
}
.list div span {
	font-size: 14px;
	font-weight: 400;
}
.create-quest {
    padding: 0px 15px 10px !important;
    line-height: 22px;
    font-size: 14px;
    position: relative;
}
.hide-create{
	display: none;
}
.questionaire-height {
    height: 400px;
    overflow-y: scroll;
    padding-top: 20px; 
}
.questionaire-height-old {
	height: 150px;
	overflow-y: none; 
}
.title-head {
    display: inline-block;
}
.display {
    display: inline-block;
}
.padding-exempt {
	padding: 10px;
}
.width-exempt {
	width: 100%;
}
.padding-exempt h4 {
	line-height: 35px;
} 
.help-link i {
    font-size: 20px;
    padding-left: 9px;
    color: #FF9800;
    cursor: pointer;
}
.sect-padding {
	padding: 15px;
}
.list hr {
	width: 96%;
    margin-left: 0;
}
.results-margin {
    margin-top:10px;
}
.padding-pi-elastic {
    padding-right: 24px;
}
/* styles for login page*/
.container-login{
	margin-left: 250px;
}
.tagLine {
	color: #fff;
}
.maximum-height-container {
	max-height: 300px;
}
/*end of styles for login page*/

.completer-input {
    border-radius: .25rem !important;
    border: 1px #DEDEDE solid;
    width: 100%;
    padding-right: 35px;
    line-height: 27px;
    font-size: .8em;
    padding-left: 10px;
    margin-left: -7px;
}
.person-unit input {
    border-radius: .25rem !important;
    margin-left: 0 !important;
    font-size: 13px;
    padding: 4.3px 15px;
}
.completer-dropdown {
    margin: 0;
    max-height: 400px;
    overflow-y: scroll;
    background: white;
    border-left: 1px #a31f34 solid;
    border-right: 1px #a31f34 solid;
    border-radius: 10px;
    text-align: left;
    position: relative;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
    list-style: none;
    color: #a31f34!important;
    line-height:27px;
    cursor:pointer;
    white-space: nowrap;
    display: block;
    font-size: 0.8em;
    z-index: 5;
    width: 100%!important;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18)!important;
}
.eval-msg{
    color: #a91f34;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    font-style: italic;
}
.confirm-text {
    color: black;
    text-align: justify;
    font-style: italic;
}
.sect-confirm-padding {
    padding-right: 28px;
    padding-bottom: 10px;
}
.Welcome-msg {
    line-height: 25px;
    font-weight: 400;
    margin: 15px !important;
    margin-left: 0px !important;			
    color: #a92034;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}
.Welcome-alert
{
    line-height: 25px;
    margin: 15px !important;
    margin-left: 0px !important;			
    color: #a92034;
    /* text-align: center; */
    font-style: italic;
    font-size: 15px;
    border: 1px solid #a92034;
}
.welcome-popup
{
    text-decoration: underline;
    cursor: pointer;
}
.errorquestion{
    color: #721c24;
    background-color: #f7d4d9;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-left: -12px;
    margin-top: 15px;
    border-radius: 5px;
}
.exempt-id .btn {
    background: #a91f34;
    border: #a91f34;
    cursor: pointer;
	margin-top: 20px;	
}
.margin-fix {
    margin: 0!important;
}
.mb-15 {
    margin-bottom: 15px;
}
.unit-margin {
    margin-left: -7px!important;
}
.pl0 {
    padding-left: 0;
}
.sponsorFont {
    font-size: 13px!important;
}
.category {
    color: #fff!important;
    margin: 0!important;
    font-size: 15px!important;
    font-weight: bold !important;
    background-color: #ada1a3;
    padding: 10px 10px;
    width: 99%;
    border-radius: 5px;
}
.category-margin {
    margin-top: 10px!important;
}
.searchBox textarea{
    border-radius: .25rem !important;
    border: 1px #DEDEDE solid;
    width: 100%;
    padding-right: 35px;
    /* line-height: 18px; */
    font-size: 14px;
    padding-left: 10px;
}
.dsp-flex {
    display: inline-flex;
}
.modal-full {
    min-width: 75%;
}
.align {
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
}
.content-align {
    text-align: justify;
}
.margin-title {
    margin-left: 210px;
}
.quest-no ul {
    padding-left: 22px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-0 {
    padding-left: 0;
}
.helpMsg {
	padding: 10px 10px;
    background-color: #fff3d4;
    border-radius: 0;
    border-left: 3px solid #f6b73c;
    color: #000!important;
    font-size: 14px;
    font-weight: bold;
}
.close-help {
    right: 20px!important;
}
.welcome-text {
    text-align: justify;
    line-height: 25px;
    font-weight: 500;
    font-style: normal!important;
    font-size: 18px;

}
.proceed-btn-align {
    text-align: center;
}
.proceed-btn {
    padding: 10px 30px;
}
.not-exempt-message {
    border: 1px solid #f5c6cb;
    padding: 10px;
    background-color: #f8d7da;
    color: #a91f34;
    text-align: center;
}
.is-exempt-message {
    border: 1px solid #c3e6cb;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
}
.helpCard:hover  .closeResultCard{display: block;
transition: display .25s}

.mlFaculty-3 {
	margin-left: 3px;
}	  
.confirm-text {
   position: relative;
}
.confirm-text-padding {
	padding-right: 0 !important;
    padding-left: 0 !important;
}
.highlight-mandatory {
	border: 1px #F44336 solid!important;
}
.pb-0 {
	padding-bottom: 0px!important;
}
.questionnaire-popups {
	font-style: italic;
    text-align: center;
}
.search-input {
    width: 300px !important;
}
/* Newly added css for irb create module */

.search-eidted-p
{
	background: #fff;
}

.add-btn-1 .btn
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding:5px;
    cursor: pointer;
}
.users-list-tbl .row
{
	padding:15px;
	/* padding-bottom: 0; */
}
.action-btn-list .btn
{
	border-radius: 50%;
	padding: 0;
	width:30px;
	height: 30px;
	cursor: pointer;
    text-align: center;
    line-height: 1px;
}
.action-btn-list .btn i
{
	font-size: 12px;
}
.edit-btn-1
{
	background: #999999;
	border-color: #999999;
}
.edit-btn-1:hover
{
	background: #7d7c7c;
	border-color: #7d7c7c;
}
.view-btn-1
{
	background: #6a6969;
	border-color: #6a6969;
}
.view-btn-1:hover
{
	background: #505050;
	border-color: #505050;
}
.delete-btn-1
{
	background: #af2034;
	border-color: #af2034;
}
.delete-btn-1:hover
{
	background: #941b2c;
	border-color: #941b2c;
}
.users-list-tbl .table-responsive
{
	width:100%;
}
.top-distance
{
	margin-top: 20px;
}
.bottom-distance
{
    margin-bottom: 10px;
}
.add-btn-1-fund .btn
{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 0;
	text-align: center;
	padding: 0;
	cursor: pointer;
	margin-top: 21px;
}
.padding-15
{
	padding: 15px;
	padding-bottom: 0;
}
.padding-20
{
    padding: 20px;
}
.mb-15
{
    margin-bottom: 15px;
}
.add-btn-1-fund
{
	padding: 0;
	text-align: center;
}
.table-font-size
{
	font-size: 12px;
	margin-bottom: 0;
}
.table-striped tbody tr:nth-of-type(2n+2) {
    background-color: #f3f3f3;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.tbl-head-clr
{
    background: #dadada;

}
.search-eidted-p label
{
	font-size: 12px;
}
.table-font-size tbody
{
	color: #6e6e6e;
}
.tbl-p-clr tbody
{
	color: #6e6e6e;
}
.border-radius-1
{
	border-radius: 20px;
}
.add-btn-1-fund .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 3px #007bff00;
}
.input-field-size
{
	font-size: 13px;
	padding: 10px 14px;
	color: #373737;
}
.tbody-font-size
{
	font-size: 13px;
}
.input-span-1
{
	background: #f2e1e3;
	padding: 7px 11px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.z-index-frm
{
	z-index: 0 !important;
}
.txt-area-fnt
{
	font-size: 14px;
}

.btn-align-rght
{
	text-align: right;
}
.date-pickr-1
{
	margin-bottom: 0 !important;
}
.top-dis-15
{
	margin-top: 15px;
}
.top-15-distance
{
	margin-top: 15px;
}
.label-bottom
{
	margin-bottom:10px;
	display: block;
}
.top-butn
{
	margin-top: 20px;
}
.border-radius-1 h5
{
	font-size: 1em;
}
.padding-15 .form-group
{
	margin-bottom: 0;
}
.padding-15 label
{
	font-weight: 600;
	margin-bottom: .2rem;
}
.tbl-p-clr
{
	margin-bottom: 0;
}
.thead-font-size
{
	font-size: 0.80em;
}
.table td, .table th{

    border-top:none !important;
    border-bottom:none !important;
}
.poping-border{

    border: 1px solid #007bff !important;
}
.error-border{

    border: 1px solid red;
}
.resultCardBefore::before{
    height:auto !important ;
    top:10px;
}
.cardColor-1{
  background: #efefef !important;
  box-shadow: 0px 0px #ccc0 !important;
}
.cardTable
{
    padding: 15px;
    padding: 15px 24px;
}
.cardThead{
    font-size: 12px !important;
}
.cardTr{
    font-size: 12px !important;
}
.w100{
    width: 100%;
}
.ul-style
{
    list-style-type: none;
}
.file-drop-color{
    
    /*margin: auto;*/
     height: 130px;
      border: 2px dotted  #a91f34;
       border-radius: 10px;
     margin-top:10px;
     background-color: #fff6f6;
     width:96.5%;
     margin-left:13px;
    
     
}
.a-right
{
    float:right;
    color: #a92034!important;
    font-weight: bold;
   
}
.attachment-btn-position
{
    position: relative;
    z-index: 1;
}
.a-right:hover{
color: #5e5e5e !important;
}
.icon-padding
{
    margin-right: 5px;
}
.modal-table-padding
{
    margin-left: 10px;
   
}
.modal-type-width
{
    width: 250px;
}
.modal-desc-width
{
    width: 450px;
}
.pt0
{
    padding-top:0 !important;
}
.p15
{
    padding:15px !important;
}
.inner-tab-btn
{
    background-color: #999;
    cursor: pointer;
}
.pr5{
    padding-right: 5px !important;
}
.inner-tab-container{
   /* padding: 10px 25px;*/
    background-color: #fff;
    box-shadow: 1px 2px 8px #cac3c3;
}
.input-width
{
    width:320px !important;
}
.input-width-date{
    width:283px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pop-up-color
{
    background-color: #a92135 !important;
    color:white !important;

}
.modal-text-color
{
    color:white !important;
}
.checklistDescNotEditable {
	width: 90%;
	/* line-height: 27px; */
	padding: 10px 5px;
	border: none;
	background: transparent !important;
	/* opacity: 1 !important; */
    /* color: #424242; */
    color: #696767 !important;
    font-size: 14px !important;
}
.checklistEditable {
	border-radius: .25rem!important;
	border: 1px #DEDEDE solid;
	width: 100%;
	/* padding-right: 35px; */
	/* line-height: 27px; */
    padding-left: 10px;
    font-size: 14px !important;
}
.datePickerRadius{
    border-radius: .25rem !important;
    padding-right: 35px;
    line-height: 27px;
    font-size: .8em;
    padding-left: 10px;
}

.label-color
{
    color:#a92135 !important;
}
.submit-btn
{
    background-color: #367936;
    color: #fff;
   
}
/* .submit-btn:hover{
	background-color:#999!important ;
} */
.desc-warning
{
    color:red !important;
}

.pad-Top0
{
	    padding-top: 0px !important;
}
.pad-Bottom0
{
	    padding-bottom: 0px !important;
}
.alignLeft{
	text-align: left;
}
.margin-6
{
	margin-left: -6px;
}
.sect-warning-padding{
	    padding-right: 28px;
     padding-bottom: 0px;
}
@media (min-width: 576px){
.modal-dialog-Action {
    max-width: 750px !important;
}
}
.viewModeActionLog>div>div>span {  
    font-size: .9em !important;  
    font-weight: 600 !important;
}
.wComment
{
	width:26%;
}
.save-button {
    line-height: 90px;
    padding-left: 40px;
}
.error {
    /* margin-left: 5px; */
    color: #b50404;
    font-size: 14px !important;
    display: block;
    /* border: 1px solid #ca0303;
    padding: 2px 6px;
    border-radius: 10px; 
     background-color: #ffeded;
    width: 100%; */
}
.mandatory{
    color: red;
}
.leadUnit-holder input, .collaborator-holder input{
    border: 1px solid #007bff !important;
}
.normal-border input {
    border: 1px solid rgba(0,0,0,.15) !important;;
}

/* attachment styles */
.addTextBtn {
	border: 0;
	background: transparent;
	font-size: 0.85em;
	padding: 0;
	cursor: pointer;
	color: #a92135;
    font-weight: bold;
    outline: none;
}
.addTextBtn:hover {
    color: #a92135;
    text-decoration: none;
    
}
.mt-10
{
    margin-top: 10px;
}
.ml-600
{
    margin-left: 600px;
}
.ml-10
{
    margin-left: 10px !important;
}
.test li {
    display: block;
}
.filechip span {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    padding: 3px 8px 3px 12px;
    border-radius: 11px;
    background-color: #f9ecee;
    box-shadow: 2px 1px 1px #cecaca;
    
}
.filechipCollaborator span {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    padding: 3px 8px 3px 12px;
    border-radius: 11px;
    /* color:white;
    background-color: #505050; */
    border: 1px solid #a92135;
    color: #a92135;
    
}
.filechipCollaboratorAttachment span {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    padding: 3px 8px 3px 12px;
    border-radius: 11px;
    /* color:white;
    background-color: #505050; */
    border: 1px solid #a92135;   
    background-color: #a92135;
    color: #fff; 

}
.filechipCollaboratorAttachment span i {
    display: inline-block;
    margin: -1px -2px 0 3px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    color: red;
}	
.label-font{
    font-weight:bold;
}
.filechip span i {
    display: inline-block;
    margin: -1px -2px 0 3px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    color: red;
}	
.pl-5{
    padding-left: 5px !important;
}
.btn-mt-10
{
    margin-top: 10px;
}
.download-color
{
color: #FA7440 !important;
}
.edit-color
{
    color:#de9306!important;
}
.ml-550
{
        margin-left: 550px;

}
.delete-color
{
    color:#C92428 !important;
}
.save-color
{
    color:#007878 !important;
}
.cancel-color
{
    color:#851637 !important;
}

.ml-14
{
    margin-left: 475px;;

}
.padding-table-content
{
    padding: 18px 5px !important;
}
.padding-icons
{
    padding: 4px 5px !important;
}
.logo-size
{
    width: 100px;
    padding: 2px 0;
}
.margin-class
{
    width: 100%;
}
.add-button
{
    font-size: 15px;
    line-height: 30px;
}
.mt-40
{
	margin-top: 40px;
}

/* Actions page */

.blue-circle-cards
{
	background: #3f51b5 !important;
}
.green-circle-cards
{
	background:#4cb050;
}
.yellow-circle-cards
{
	background:#f67c01;
}
.red-circle-cards
{
	background:#ff5353;
}
.request-action-cards h5
{
	margin-top: 20px;
	font-size: 15px;
}
.cursor-hover
{
	cursor: pointer;
}
.request-action-cards p
{
	font-size: 14px;
}
.blue-card
{
	background: #e9ecfd;
	border: solid 1px #3f51b5;
}
.padding-top-bottom
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.bottom-space-15
{
	margin-bottom: 15px;
}
.bottom-space-20
{
	margin-bottom: 20px;
}
.request-action-cards .card-icon1
{
	margin-top: 0 !important;
    width: 85px;
    height: 85px;
}
.request-action-cards .card-icon1 i
{
    line-height: 88px;
    font-size: 30px;
}
.border-radius
{
	border-radius: 20px;
}
.padding0-t-b
{
	padding-top: 0;
	padding-bottom: 0;
}
.print-background
{
	background: #f5f5f5;
	border-bottom: none;
}
.col-hr
{
	padding: 0;
	margin: 0;
	/*! margin-left: 18px; */
	width: 98%;
	margin: auto;
}
.background-white
{
	background: #fff;
}
.print-table input[type='checkbox']
{
	margin-right: 10px;
}
.padding0
{
	padding: 0;
}
.padding10
{
	padding: 15px;
}
.print-table tbody tr:nth-of-type(2n) {
    background-color: #f5f5f5 !important;
}
.tbl-list1 .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #fcfcfc !important;
}
.print-table td
{
	border: none;
	font-size: 14px;
}
.marginright15
{
	margin-right: 15px;
}
.print-btn
{
	background: #57a2b3;
	border-color: #57a2b3;
	padding: 5px 14px 5px 14px;
	font-size: 14px;
}
.print-btn:hover
{
	background: #379fb7;
	border-color: #379fb7;
	cursor: pointer;
}
.paddingleft
{
	padding-left: 0 !important;
	padding-right: 0;
}
.cardhead
{
	color: #a92034;
	font-weight: 600;
}
.route-log-table thead
{
	background: #f49f8e;
}
.action-icons
{
	background: #6c6c6c;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	color: #fff;
	cursor: pointer;
}
.route-tbl-bgclr
{
	background: #ecdedf;
	color: #a92034;
	font-weight: 600;
}
.modal-checkbox-table td
{
	border:none;
	background: #efedee;
}
.modal-checkbox-table
{
	border:none;
	background: #efedee;
	font-size: 14px;
}
.modal-checkbox-table input[type='checkbox']
{
	margin-right: 10px;
}
.bold-600
{
	font-weight: 600;
}
.modal-head98
{
	background: #a92034;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.modal-head98
{
	color: #fff;
}
@media (min-width: 992px)
{
	.mdl-lg-01 
	{
    	max-width: 991px !important;
	}
}
.request-action-cards:hover
{
    background: #e9ecfd;
    border: solid 1px #3f51b5;
}
.request-action-cards-green:hover	
{	
   background: #e6f8e0;	
   border: solid 1px #569e03;	
}	
.request-action-cards-red:hover	
{	
   background: #fde9e9;	
   border: solid 1px #cf4302;	
}	
.request-action-cards-yellow:hover
{
   background: #fdf5e9;
   border: solid 1px #dda304;	
}
.action-popup-header{
    padding: 15px 30px 15px 30px;
}
.options-font select, .options-font option
{
    font-size: 12px;
}
/* Actions page End */
.width-date
{
    width: 88%;
    display: inline-block;
}
select#inlineFormCustomSelect
{
    padding-top: 0.39rem !important;
}
.bottom-margin
{
    margin-bottom: 15px;
}
.sub-label 
{
    font-size: 12px;
    font-weight: 600;
    color:grey;
}
	
.half-padding {
    padding: 0.5rem;		
 }
     
 .card-box-nw h5{		
 margin-top: 20px;
 }	
 .route-log-table td {	
    font-size: 14px !important;
 }	
 .ammend-table  thead{
 
    background-color: #F9DDDD !important;	
 }	
 .box-shawdow {	
    box-shadow: 1px 2px 1px #ccc;	
 }
 
 .center-button{
    display: block;	
    margin :auto;	
    margin-top: 10px !important;	
 }
     
 .noAttachments{	
    text-align: center;	
 }
/* irbProtocol styles */
.protocol-editor-padding-top
{
    margin-top: 10px !important;
}
.band-s
{
    
    margin-top: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    position: relative;
}
.padding-030
{
    padding:0 30px;
}
.band-s label
{
    font-size: 14px !important;
    line-height: 30px;
    margin: 0;
    color: #a92034;
    font-weight: bold !important;
}
.padding0
{
    padding: 0;
}
.close-bt
{
    right: 14px;
    line-height: 30px;
    font-weight: 900;
    color: #a5a2a2;
    cursor: pointer;
    position: absolute;
    width: 10px;
    z-index: 1;
}
.pr-0
{
    padding-right:0;
}
.add-small-mt
{
    margin-top:0 !important ;
}
input:disabled,textarea:disabled{
    color: #868e96;
    background-color: #e9ecef !important;
}
#toast-container {top: 50% !important;left: 50% !important;right: auto !important;transform: translate3d(-50%, 0, 0);}
#toast-container>div{width: 360px !important;}
/* .padding-0{
    padding: 0px!important;
} */
.person-label{
    margin-left: 30px;
    font-weight: bold;
}
.filechip-div{
    margin-left: 5px;
    margin-bottom: 5px;
}
.alertMsg {
    text-align: center;
}
.person-modal-scroll
{
     overflow-y: auto;
     max-height: 300px;/*newly added*/
     /* margin-bottom: 20px !important; */
}
/* committee styles */
.filter-btn-mt
{
    margin-top: 30px;

}
.tabCover ul
{
    list-style-type: none;
}
.padding-0
{
 padding: 0px;
 margin: 0;
}
.tablelayout li
{
    padding: 10px 15px;
}
.end-date-padding
{
    padding-left: 15px;
}
.generate-schedule
{
    color: #5e5e5e!important;
    font-weight: bold;
}
.generate-schedule:hover
{
    color: #a92034 !important;
}
.select-size
{
    display: inline-block;
    width: auto;
}
.padding-none
{
    padding: 0px;
}
.border-left-card::before 
{
 border: none !important;
 
}
.border-left-card .row {
    box-shadow: none !important;
}
.in-past
{
    background: #e40d0d!important; 
}
.add-btn-persondetails
{
    margin-top: 33px;
}
.padding0
{
    padding: 0px;
}
.fontsize-persondetails
{
    font-size: 12px;
}

.table-padding th:first-child, .table-padding td:first-child
{
    padding: .75rem !important;
}
.pt-35
{
    padding-top: 35px;
}
.plr-15
{
    padding: 0 15px !important;
}
.schedule-box
{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.p-75 th, .p-75 td
{
    padding: .75rem !important;
}
.text-color 
{
    color: #AF2034;
}
.mb15
{
    margin-bottom: 15px !important;
}
.mt15
{
    margin-top: 15px !important;
}
.return-committee-color
{
    color: #628e08;
    padding: 3px 20px;
    border-radius: 10px;
    border: 1px solid #628e08;
}
.return-committee-color:hover 
{
    color: #2c4d13 !important;
}
.snap-shot-view-btn 
{
    margin-top: 5px;
    border-color: #a92034;
    color: #a92034;
    background-color: #fff
}
.btn-outline-secondary:hover i 
{
    color: #fff;
}
.mt-12
{
    margin-top:12px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 51px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #6bd8fc;
    color: white;
    cursor: pointer;
    padding: 22px;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
 .top-arrow{
    position: relative;
    right: 7px;
    bottom: 12px;
    font-weight: bold;
    font-size: 25px;

  }
  .selected {
      background:#e0eaff 
   }
    .invalid h4
    {
        background: #FBD7DA;
        border-radius: 10px;
        border: 1px solid#f5c6cb;

    }
.font-size-15
{
    font-size: 15px;
}
.pagination li{
    padding: 0;
}
.page-link
{
    color:#a92034;
}
.page-item.active .page-link {
    background-color: #a92034;
    border-color: #a92034;
}
.margin8
{
    margin: 8px;

}
.exempt-description
{
    margin-top: 10px;
    color: #a92034;
}
.exempt-description hr
{
    border-top-color: #a92034;
}
.submit-alert
{
    margin-left: 15px !important;
}



