*,*:focus{outline: 0;}
@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('â˜º'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('â˜º'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,body{height: 100%;}
body{
    background: #fefefe;
    font-family: "Roboto", "Helvetica Neue", "Segoe UI", Arial, Sans-Serif;
}


.borderBox {
    border: 1px #E9E9E9 solid;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.borderBoxHeading {
    font-size: .8em;
    font-weight: bold;
    color: #5F5F5F;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px #E9E9E9 solid;
    
}
.borderBox>.borderBoxHeading{
    margin: -15px -10px 10px;
}
.borderBox>.tableSkin {
    margin-top: -10px;
}

.tableSkin thead th {
    color: #26A69A;
    font-size: .85em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px #b2dfdb solid;
    border-top: 0;
    vertical-align: middle;
    line-height: normal;
}

.tableSkin>tbody>tr>td {
    padding: 10px;
    font-size: .8em;
    border-color: #E9E9E9;
    color: #424242;
}
.pushFixedHeaderFooter{
    min-height: 100%;
}

/*table width fix*/
/*
.tableSkin>thead,.tableSkin>tbody {
    width: 100%;
    display: table;
}
*/




/* Qsearch result card */
.viewMode {}

.viewMode>div>div>label, .setBody label {
    color: #26A69A;
    font-weight: 700;

    margin-bottom: 2px;
}
 .setBody p{
  
     
    font-size: .8em; 
}

.viewMode>div>div>span {
    display: block;
    font-size: .8em;
    color: #505050;
}


.borderBox>.tableSkin>tbody>tr:nth-child(1)>td {
    border-top: 0;
}
.grid2 label{
    color: #26A69A;
    margin-bottom: .2em;font-weight:700;

    font-size: 1.1em;
}
.grid2>tbody>tr:nth-child(odd) td {
    background: #fafafa;
}
.grid2>tbody>tr:nth-child(odd) td {
    background: #fafafa;
}

.grid2 {
    margin-bottom: -14px;
}

.grid2>tbody>tr>td {
    color: #505050;
}


.setBody {
    margin-bottom: 1em;
    display: none;
}
.setBody>p {
    font-size: .8em;
    color: #636363;
    line-height: 17px;
    margin-bottom: 1.5rem;
}

.setBody>p>label {
    font-size: 1.1em;font-weight:700;
}

.setHead {
    margin: 0 0 5px;

    position: relative;
    cursor: pointer;
}

.setHead>span {
    font-size: .75em;
    background: #FEFEFE;
    display: inline-block;
    padding: 0px 5px 0px 0;
    font-weight: bold;
    color: #252525;
}

.setHead:after {
    content: "";
    height: 1px;
    background: #BDBDBD;
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    z-index: -1;
}

.setHead>a {
    color: #bdbdbd;
    position: absolute;
    right: 5px;
    top: -2px;
    background: #FEFEFE;
    border: 5px #FEFEFE solid;
    font-size: 1.1em;
    line-height: normal;
}

.setHead:hover a {
    color: #26A69A;
}

.setHead:hover:after {
    background: #9E9E9E;
}

.setBody th:first-child,.setBody td:first-child {
    padding-left: 0;
}

.setBody th:last-child,.setBody td:last-child {
    padding-right: 0;
}

.setBody .tableSkin thead th {
    color: #4C4C4C;
    text-transform: uppercase;
    font-size: .75em;
}
.subHeads tr:nth-child(odd) td {
    padding-top: 12px;
    padding-bottom: 0px;
}

.subHeads tr:nth-child(odd) td label {
    font-size: 1.1em;
}


.tree>li {
    min-width: 200px;
}
.tree, .tree li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree li a {
    display: block;
    padding: 0 0 0 20px;
    color: #000;
    position: relative;
}
.tree li a:before {
    position: absolute;left: 1px;
    content: "\2296";
    font-family: 'Glyphicons Halflings';
    color: #a2a2a2;
}
.tree li.parent.closed>a:before{content:"\e081"}
.tree li.parent.closed ul{display: none;}
.tree li a.current{color: #139E67;}
.tree li ul {
    padding-left: 15px;
}

.tree {
    overflow-x: auto;
    padding: 5px 0;
}

/*responsive*/
/*/ Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.slideMenu:hover {width: 225px}
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }




/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*/ Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
.userName, .brandText{display: none;}
.headerMenu{display: table;width: 100%;}
.headerMenu>li{display: table-cell;vertical-align: top;text-align: center;}
.headerMenu>li:first-child{float: none;}
.push4slideMenu{padding: 0;}


/*/ Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { ... }

/*/ Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) { ... }

/*/ Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/




/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }