<div class="card mt-5">
		<div class="col-md-12 col-sm-12 col-12 list-des button-responsive">
				<div class="text-right ">
				<a
				class="btn btn-blue btn-sm text-right txt-medium" (click)="showMemberDetails()">
	<i class="fa fa-users" aria-hidden="true"></i> Add All Members
  </a>
		</div>
		</div>


	  </div>
<div class="card mt-5" *ngIf="showAllMembers">
		<div class="tab-content">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<h4 class="card-hedding dotted-bottom">Members</h4>
			<!-- <span (click)="changeAttendence()">
					<i aria-hidden="true" class="fa" [ngClass]="{'fa-check-circle present-color': isPresent == true,
					'fa-times-circle-o training-incomplete-color': isPresent == false,
					'fa-check-circle color-grey': isPresent == null, 'fa-check-circle': isPresent == true || isPresent == null}"></i>
			</span> -->
			<div class="col-12" *ngIf="committeeMemberActiveList.length > 0">
				<div class="row alert-sp alert-warning mb-0 ml-0 mr-0 mt-15">
					<div class="txt-small m-0">
						<div>
							<i aria-hidden="true" class="fa fa-user-circle"> &nbsp;</i>Employee &nbsp;
							<i aria-hidden="true" class="fa fa-user-o">&nbsp;</i>Non Employee
						</div>
					</div>

				</div>
			</div>
			  <div class="col-md-12 users-list-tbl" *ngIf="committeeMemberActiveList.length > 0">
							  <div class="row">
								<div class="table-responsive">
								  <table class="table table-striped tbl-p-clr">
									<thead class="tbl-head-clr thead-font-size p-75">
										  <tr>
												  <th width="12%"><input type="checkbox" id="markPresent" [(ngModel)]="markAllPresent" (ngModelChange)="markAllMembers()" />  Mark All Present</th>
												  <th title="">Name</th>
												  <th title="">Comment</th>
												  <th title="">Action</th>
											  </tr>
											  </thead>
											  <tbody class="tbody-font-size p-75">
													  <tr *ngFor="let person of committeeMemberActiveList; let i=index">
															<td class="text-center" width="12%"><i aria-hidden="true" class="fa fontsize-20" title="Mark Attendence" (click)="markCommitteeAttendence(person, false)" [ngClass]="{'fa-check-circle present-color': person?.memberPresent == 'Y',
																'fa-times-circle-o training-incomplete-color': person?.memberPresent == 'N',
																'fa-check-circle color-grey': person?.memberPresent == null, 'fa-check-circle': person?.memberPresent == 'Y' || person?.memberPresent == null}"></i></td>
																
																	<td *ngIf="!person?.nonEmployeeFlag"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{ person?.personDetails?.fullName }}</td>
																<td *ngIf="person?.nonEmployeeFlag"> <i class="fa fa-user-o" aria-hidden="true"></i> {{ person?.rolodex?.fullName }}</td>
																	<td *ngIf="editCommitteeAttendenceIndex != i">{{person?.attendanceComment}}</td>
																	<td *ngIf="editCommitteeAttendenceIndex == i">
																		<textarea class="form-control txt-small txt-area-fnt"[(ngModel)]="guestMemberObj.comments"></textarea>
																	</td>
															  <td width="15%" class="action-btn-list align-middle">
																	<button  *ngIf="editCommitteeAttendenceIndex != i" title="Edit" type="button" class="btn mb-3" (click)="editAttendence(person,i)">
																	  <i class="fa fa-pencil log-user-icon-lite" aria-hidden="true"></i>
																	</button>
																	<button *ngIf="editCommitteeAttendenceIndex == i" title="Save" type="button" class="btn mb-3" (click)="saveEditAttendence()">
																	  <i class="fa fa-floppy-o log-user-icon-lite" aria-hidden="true"></i>
																	</button>
																  </td>
														  </tr>
											  </tbody>
									  
									  </table>
									  </div>
									  </div>
									  
									  
									  </div>
									  <div class="text-center p-2" *ngIf="committeeMemberActiveList?.length == 0">No Active Committee Members to show</div>
	  
		  </div>
		</div>
		</div>
		<!--Alternate for comment section-->

		<!-- <div class="card mt-5"  *ngIf="showAllMembers && alternateFor?.length > 0">
				<div class="tab-content">
				  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						<h4 class="card-hedding dotted-bottom">Alternates</h4>
						<div class="col-12" *ngIf="alternateMember?.length > 0">
							<div class="row alert-sp alert-warning mb-0 ml-0 mr-0 mt-15">
								<div class="txt-small m-0">
									<div>
										<i aria-hidden="true" class="fa fa-user-circle"> &nbsp;</i>Employee &nbsp;
										<i aria-hidden="true" class="fa fa-user-o">&nbsp;</i>Non Employee
									</div>
								</div>
			
							</div>
						</div>
					  <div class="col-md-12 users-list-tbl" *ngIf="alternateMember?.length > 0">
									  <div class="row">
										<div class="table-responsive">
										  <table class="table table-striped tbl-p-clr">
											<thead class="tbl-head-clr thead-font-size p-75">
												  <tr>
														  <th width="2%"></th>
														  <th title="">Name</th>
															<th width="20%" title="">Alternate For</th>
															<th title="">Comments</th>
														  <th title="">Action</th>
													  </tr>
													  </thead>
													  <tbody class="tbody-font-size p-75">
															  <tr *ngFor="let person of alternateMember; let i=index">
																	<td  width="2%"><i  (click)="markCommitteeAttendence(person, true)" title="Mark Attendence" aria-hidden="true" class="fa fontsize-20" [ngClass]="{'fa-check-circle present-color': person?.memberPresent == 'Y',
																		'fa-times-circle-o training-incomplete-color': person?.memberPresent == 'N',
																		'fa-check-circle color-grey': person?.memberPresent == null, 'fa-check-circle': person?.memberPresent == 'Y' || person?.memberPresent == null}"></i></td>
																	<td *ngIf="!person?.nonEmployeeFlag"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{ person?.personDetails?.fullName }}</td>
																<td *ngIf="person?.nonEmployeeFlag"> <i class="fa fa-user-o" aria-hidden="true"></i> {{ person?.rolodex?.fullName }}</td>
															
																<td width="20%" *ngIf="editAlternateAttendenceIndex != i"></td>
																<td width="20%" *ngIf="editAlternateAttendenceIndex == i">
																	<select class="custom-select font-size-13 mr-sm-2 txt-small" id="inlineFormCustomSelect"  [(ngModel)]="guestMemberObj.alternateFor">
																			<ng-container *ngFor="let alternate of alternateFor">
																					<option *ngIf="alternate?.nonEmployeeFlag == false" value="{{alternate?.personDetails?.fullName}}">
																						{{alternate?.personDetails?.fullName}}</option>
																						<option *ngIf="alternate?.nonEmployeeFlag == true" value="{{alternate?.rolodex?.fullName}}">
																								{{alternate?.rolodex?.fullName}}</option>
																								</ng-container>
																	</select>
																	</td>
																	<td *ngIf="editAlternateAttendenceIndex != i">{{person?.attendanceComment}}</td>
																	<td *ngIf="editAlternateAttendenceIndex == i">
																		<textarea class="form-control txt-small txt-area-fnt" [(ngModel)]="guestMemberObj.comments"></textarea>
																	</td>
																	<td width="15%" class="action-btn-list align-middle">
																		  <button *ngIf="editAlternateAttendenceIndex != i" title="Edit" type="button" class="btn mb-3" (click)="editAlternateAttendence(person,i)">
																			<i class="fa fa-pencil log-user-icon-lite" aria-hidden="true"></i>
																		  </button>
																		  <button *ngIf="editAlternateAttendenceIndex == i" title="Save" type="button" class="btn mb-3" (click)="markCommitteeAttendence(person, true)">
																			<i class="fa fa-floppy-o log-user-icon-lite" aria-hidden="true"></i>
																		  </button>
																		</td>
																  </tr>
													  </tbody>
											  
											  </table>
											  </div>
											  </div>
											  
											  
											  </div>
											  <div class="text-center p-2"*ngIf="alternateMember?.length == 0">No Members with Alternate Role to Show</div>
			  
			  
			  
					
				  </div>
				</div>
				</div> -->


				<div class="card mt-5"  *ngIf="showAllMembers">
						<div class="tab-content">
						  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h4 class="card-hedding dotted-bottom">Guests</h4>
								<!-- <span style="float: right;" >
									<span (click)="isAddGuest = !isAddGuest" class="pointer text-danger p-2">
										<u style="font-size: 14px;"><i class="fa fa-plus">&nbsp;</i>Add Guest</u>
									</span>
							 </span> -->
							 <div class="text-right">
									<span class="welcome-popup text-danger txt-medium p-2" 
									 (click)="isAddGuest = !isAddGuest;">
									  <i class="fa fa-plus icon-padding"></i>Add Guest
									</span>
								  </div>

							 <div class="col-md-12" *ngIf="isAddGuest">
								 <div class="row">
								 <div class="col-md-11">
									<div class="form-group">
									  <div class="form-check-inline">
										<label class="form-check-label">
										  <input type="radio" class="form-check-input" name="empOptradio" value="employee" [(ngModel)]="personType" (ngModelChange)="changePersonType(personType)">
										  <span class="txt-medium text-secondary">Employee</span>
										</label>
									  </div>
									  <div class="form-check-inline">
										<label class="form-check-label">
										  <input type="radio" class="form-check-input" name="nonEmpOptradio" value="non-employee" [(ngModel)]="personType" (ngModelChange)="changePersonType(personType)">
										  <span class="txt-medium text-secondary">Non-Employee</span>
										</label>
									  </div>
									  <app-elastic [options]="options" [placeHolder]="elasticPlaceHolder" [clearField]="clearField" (selectedResult)="selectPersonElasticResult($event)"></app-elastic>
									</div>
									</div>
									<div class="col-md-1">
											<button title="Add" (click)="addGuestAttendence()" type="button" class="btn btn-outline-success txt-small btn-size mt-25">
											  Add
											</button>
										  </div>
									</div>
									<div class="col-md-12" *ngIf="showPersonElasticBand">
											<div class="row">
									  <div class="col-md-12 card search-card-view mb-2 mt-0 p-3">
											<div class="row">
													<div class="col-sm-12 col-md-12 col-lg-12 text-right" title="Remove"
													(click)="showPersonElasticBand = false">
													<i aria-hidden="true" class="fa fa-times-circle btn-close-lite-sr"></i>
												  </div>
											  <div class="col-4">
												<span class="txt-medium text-secondary">Person Name:</span>
												<span class="txt-medium text-danger">{{selectedPerson?.fullName}}</span>
											  </div>
											  <div class="col-4">
												<span class="txt-medium text-secondary">Email:</span>
												<span class="txt-medium text-danger">{{selectedPerson?.emailAddress}}</span>
											  </div>
											  <div class="col-4">
												<span class="txt-medium text-secondary">Title:</span>
												<span class="txt-medium text-danger" *ngIf="guestMemberObj.nonEmployeeFlag">{{selectedPerson?.title}}</span>
												<span class="txt-medium text-danger" *ngIf="!guestMemberObj.nonEmployeeFlag">{{selectedPerson?.directoryTitle}}</span>
											  </div>
											</div>
											<div class="row">
											  <div class="col-4">
												<span class="txt-medium text-secondary">Unit:</span>
												<span class="txt-medium text-danger" *ngIf="guestMemberObj.nonEmployeeFlag">{{selectedPerson?.organization}}</span>
												<span class="txt-medium text-danger" *ngIf="!guestMemberObj.nonEmployeeFlag">{{selectedPerson?.unitName}}</span>
											  </div>
											  <div class="col-4">
												<span class="txt-medium text-secondary">Address:</span>
												<span class="txt-medium text-danger">{{selectedPerson?.addressLine1}}</span>
											  </div>
											  <div class="col-4">
												<span class="txt-medium text-secondary">Phone:</span>
												<span class="txt-medium text-danger">{{selectedPerson?.phoneNumber}}</span>
											  </div>
											</div>
										  </div>
										  </div>
										  </div>
								  </div>
								
								
									<div class="col-12" *ngIf="guestMembers?.length > 0">
										<div class="row alert-sp alert-warning mb-0 ml-0 mr-0 mt-15">
											<div class="txt-small m-0">
												<div>
													<i aria-hidden="true" class="fa fa-user-circle"> &nbsp;</i>Employee &nbsp;
													<i aria-hidden="true" class="fa fa-user-o">&nbsp;</i>Non Employee
												</div>
											</div>
						
										</div>
									</div>
							  <div class="col-md-12 users-list-tbl" *ngIf="guestMembers?.length > 0">
											  <div class="row">
												<div class="table-responsive">
												  <table class="table table-striped tbl-p-clr">
													<thead class="tbl-head-clr thead-font-size p-75">
														  <tr>
																  <th title="">Name</th>
																  <th title="">Comments</th>
																  <th title="">Action</th>
															  </tr>
															  </thead>
															  <tbody class="tbody-font-size p-75">
																	  <tr *ngFor="let person of guestMembers; let i=index">
																				<td> <i class="fa" [ngClass]="{'fa-user-circle': person?.nonEmployeeFlag == false,
																					'fa-user-o': person?.nonEmployeeFlag == true}" aria-hidden="true"></i> {{ person?.personName }}</td>
																					<td *ngIf="editGuestAttendenceIndex != i">{{person?.comments}}</td>
																					<td *ngIf="editGuestAttendenceIndex == i">
																						<textarea class="form-control txt-small txt-area-fnt" [(ngModel)]="guestMemberObj.comments"></textarea>
																					</td>
																			<td width="15%" class="action-btn-list align-middle">
																				  <button *ngIf="editGuestAttendenceIndex != i" title="Edit" type="button" class="btn mb-3" (click)="editGuestAttendence(person,i)">
																					<i class="fa fa-pencil log-user-icon-lite" aria-hidden="true"></i>
																				  </button>
																				  <button *ngIf="editGuestAttendenceIndex == i" title="Save" type="button" class="btn mb-3" (click)="saveGuestAttendence()">
																					<i class="fa fa-floppy-o log-user-icon-lite" aria-hidden="true"></i>
																				  </button>
																				  <button title="Delete" type="button" class="btn mb-3" (click)="deleteGuestAttendence(person)">
																					<i class="fa fa-trash log-user-icon-lite" aria-hidden="true"></i>
																				  </button>
																				</td>
																		  </tr>
															  </tbody>
													  
													  </table>
													  </div>
													  </div>
													  
													 
														</div>
														<div  class="text-center p-2" *ngIf="guestMembers?.length == 0">No Guest Members added to show</div>
					  
					  
					  
							<!-- <div class="col-12  search-eidted-p padding-15">
							  <div class="row bottom-margin">
								<div class="col-2">
								  <div class="form-group ">
									111111
								  </div>
								</div>
								<div class="col-2">
								  <div class="form-group ">
									22222
								  </div>
								</div>
								<div class="col-3">
								  <div class="form-group ">
									3333
								  </div>
								</div>
								<div class="col-3">
								  <div class="form-group">
									44444
								  </div>
								</div>
								<div class="col-2">
								  <div class="form-group">
									55555
								  </div>
								</div>
					  
							  </div>
							  <div class="row bottom-margin">
								<div class="col-2">
								  <div class="form-group ">
									6666
								  </div>
								</div>
								<div class="col-2">
								  <div class="form-group">
									7777
								  </div>
								</div>
								<div class="col-3">
								  <div class="form-group">
									8888
								  </div>
								</div>
								<div class="col-3">
								  <div class="form-group">
									999
								  </div>
								</div>
								<div class="col-2">
								  <div class="form-group">
									10
								  </div>
								</div>
							  </div>
					  
							  <div class="row bottom-margin">
								<div class="col-12">
								  <div class="form-group">
									aaa
								  </div>
								</div>
							  </div>
							</div> -->
						  </div>
						</div>
						</div>