<div class="headerPush"></div>
<div class="container-fluid">
	<section class="row" style="padding: 15px;">
		<div class="col-12 top-aprv-details">
			<div class="row">
				<div class="col-12 apprve-date">
					<div class="row">
						<div class="col-4">
							<h4>
								Name : <span></span>
							</h4>
							<p>
								Date Created : <span></span> <br /> Update By : <span> </span>
						</div>

						<div class="col-3">
							<p>
								<br /> Date Completed: <span></span><br />
							</p>
						</div>
					</div>
				</div>
				<hr class="hr-line">
			</div>
		</div>
	</section>
</div>
<div class="container-fluid">
	<div class="row">
		<!--collapse-->
		<div class="col-12">
			<div class="card coll-card-q">
				<h5 class="card-header collapse_hd">
					Questionaire <i class="fa fa-info-circle" aria-hidden="true"></i>
				</h5>
				<div class="card-body collapse-card-body">
					<div>
						<div class="card">
							<div>
								<div class="card-body qs-bdy">
									<ol class="quest-no">
									<li>{{questions[0].question}}<br>
											<div class="form-check form-check-inline">
												<input type="radio" name="qs+{{questions[0].questionId}}" value="1" [ngModel]="answer"> <label
													class="form-check-label radio-label" for="inlineCheckbox1">Yes</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="radio" name="qs+{{questions[0].questionId}}" value="-1" [ngModel]="answer"> <label
													class="form-check-label radio-label" for="inlineCheckbox1">No</label>
											</div>
										</li>
										<li *ngFor="let quest of questions">{{quest.question}}<br>
											<div class="form-check form-check-inline">
												<input type="radio" name="qs+{{quest.questionId}}" value="1" [ngModel]="answer"> <label
													class="form-check-label radio-label" for="inlineCheckbox1">Yes</label>
											</div>
											<div class="form-check form-check-inline">
												<input type="radio" name="qs+{{quest.questionId}}" value="-1" [ngModel]="answer"> <label
													class="form-check-label radio-label" for="inlineCheckbox1">No</label>
											</div>
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>