<div *ngIf="!showBtn">
	<div class="col-sm-12 p15">
		

		<button type="button" name="pending" class="btn btn-secondary inner-tab-btn" (click)="showData(userDTO.role,'PENDING')" [ngClass]="{tabActive:(tabSelected=='PENDING')}">
				<i class="fa fa-spinner pr5" aria-hidden="true"></i> Pending
			</button>
		<span>
				<button type="button" name="myStudies" (click)="showData(userDTO.role,'STUDIES')" class="btn btn-secondary inner-tab-btn"
				[ngClass]="{tabActive:(tabSelected=='STUDIES')}">
				   <i class="fa fa-book pr5" aria-hidden="true"></i>My Studies
			   </button>
		</span>
		<span *ngIf="userDTO.role == 'ADMIN' || userDTO.role == 'CHAIR'">
			<button type="button" name="submitted" class="btn btn-secondary inner-tab-btn" (click)="showData(userDTO.role,'SUBMITTED')"
			 [ngClass]="{tabActive:(tabSelected=='SUBMITTED')}">
				<i class="fa fa-check pr5" aria-hidden="true"></i> Submitted
			</button>
		</span>
	</div>
	<div class="inner-tab-container">
<div *ngIf="!showBtn">
		<div  id="top-exempt-card" class="col-sm-12" *ngIf="paginatedExemptList!=null && paginatedExemptList!=undefined" [ngClass]="{'main-list': paginatedExemptList?.length >1}">
			<div class="row list-rows" *ngFor="let irb of paginatedExemptList">
				<div class="col-md-3 col-sm-12 col-12 list-view">
					<span *ngIf="irb.isExempt=='Y' && irb.statusCode=='4'" class="active-status">
						<p>Exempt</p>
					</span>
					<span *ngIf="irb.isExempt=='N' && irb.statusCode=='4'" class="completed-closed">
						<p>Not Exempt</p>
					</span>
					<span *ngIf="irb.isExempt=='O' && irb.statusCode=='4'" class="in-drafts">
						<p>Review Not Required</p>
					</span>
					<span *ngIf="irb.isExempt==null || irb.statusCode=='1'" class="pending-action">
						<p>Not Submitted</p>
					</span>
					<span *ngIf="irb.isExempt=='O' && (irb.statusCode=='3' || irb.statusCode=='2' || irb.statusCode=='5')" class="in-drafts">
						<p>Not Exempt-Pending Review</p>
					</span>
					<span *ngIf="irb.isExempt=='Y' && (irb.statusCode=='3' || irb.statusCode=='2' || irb.statusCode=='5')" class="pending-action">
						<p>Exempt-Pending Review</p>
					</span>
					<span *ngIf="irb.isExempt=='N' && (irb.statusCode=='3' || irb.statusCode=='2' || irb.statusCode=='5')" class="pending-action">
						<p>Not Exempt-Pending Review</p>
					</span>
				</div>
				<div class="col-md-6 col-sm-12 col-12 list-des">
					<h5>E-{{irb.exemptFormID}} - {{irb.exemptTitle}}</h5>
					<div>
						<div class="row">
							<div class="col-md-6">
								<span>PI : </span>{{irb.personName}}
							</div>
							<div class="col-md-6">
								<span>Status : </span>{{irb.status}}
							</div>
						</div>
						<div class="row"></div>
						<div class="row">
							<div class="col-md-6">
								<span>Faculty Sponsor :</span>{{irb.facultySponsorPerson}}
							</div>
							<div class="col-md-6">
								<span>Last Updated By : </span>{{irb.updateUser}} on {{irb.updateTimestamp | date :'MM/dd/yyyy'}}
							</div>
							<div class="col-md-6">
								<span>Start Date : </span>{{irb.exemptProtocolStartDate | date :'MM/dd/yyyy'}}
							</div>
							<div class="col-md-6">
								<span>End Date : </span>{{irb.exemptProtocolEndDate | date :'MM/dd/yyyy'}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-12 list-des button-responsive">
					<a>
						<button type="button" class="btn btn-outline-secondary button-view" (click)="openExempt(irb.exemptQuestionnaireAnswerHeaderId,irb.statusCode,irb.exemptTitle,irb.exemptFormID)">
							<i class="fa fa-eye"></i>View
						</button>
					</a>
					<a>
						<button *ngIf="tabSelected=='STUDIES' || tabSelected=='SUBMITTED'" type="button" class="btn btn-outline-secondary button-view" (click)="generateDetermination(irb.exemptFormID)">
							<i class="fa fa-download"></i>Determination
						</button>
					</a>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col-sm-12" *ngIf="paginatedExemptList?.length == 0 || paginatedExemptList == undefined">
			<span>No Exempt Studies</span>
	</div>

</div>