<div class="container-fluid">
	<div class="headerPush"></div>
	<section class="row">
		<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 toptext">
			<h5 class="pageHeader">{{pageHeader}}</h5>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="borderBox box-shawdow">
				<table class="table table-striped table-type-head table-responsive">
					<thead class="popup-sub-header">
						<tr>
							<th class="pointer" (click)="sortFieldProtocol = 'PROTOCOL_NUMBER';updateSortOrderProtocol()">Protocol#
									<i class="fa" *ngIf="sortFieldProtocol == 'PROTOCOL_NUMBER'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th width="30%" class="pointer" (click)="sortFieldProtocol = 'TITLE';updateSortOrderProtocol()">Title
									<i class="fa" *ngIf="sortFieldProtocol == 'TITLE'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th width="10%" class="pointer" (click)="sortFieldProtocol = 'PROTOCOL_TYPE';updateSortOrderProtocol()">Type
									<i class="fa" *ngIf="sortFieldProtocol == 'PROTOCOL_TYPE'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th width="15%" class="pointer" (click)="sortFieldProtocol = 'PROTOCOL_STATUS';updateSortOrderProtocol()">Status
									<i class="fa" *ngIf="sortFieldProtocol == 'PROTOCOL_STATUS'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" (click)="sortFieldProtocol = 'APPROVAL_DATE';updateSortOrderProtocol()">Approval Date
									<i class="fa" *ngIf="sortFieldProtocol == 'APPROVAL_DATE'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" (click)="sortFieldProtocol = 'EXPIRATION_DATE';updateSortOrderProtocol()">Expiration Date
									<i class="fa" *ngIf="sortFieldProtocol == 'EXPIRATION_DATE'" (click)="updateSortOrderProtocol();" [ngClass]="(sortOrderProtocol == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th width="6%">Action</th>
						</tr>
					</thead>
					<tbody class="tdy-color"  *ngIf="expandedList != undefined && expandedList.length > 0">
						<tr *ngFor="let result of expandedList | orderBy: {property: columnProtocol, direction: directionProtocol}">
							<td>{{result.PROTOCOL_NUMBER}}</td>
							<td>{{result.TITLE}}</td>
							<td>{{result.PROTOCOL_TYPE}}</td>
							<td>{{result.PROTOCOL_STATUS}}</td>
							<td>{{(result.APPROVAL_DATE === ' ' || result.APPROVAL_DATE === null ) ? ' ':(result.APPROVAL_DATE | date: 'MM/dd/yyyy')}}</td>
							<td>{{(result.EXPIRATION_DATE === ' ' || result.EXPIRATION_DATE === null ) ? ' ':(result.EXPIRATION_DATE | date: 'MM/dd/yyyy')}}</td>
							<td>
									<a title="Open {{result.PROTOCOL_NUMBER}}"
									(click)="openIrbView(result.PROTOCOL_NUMBER)">
										<button type="button" class="btn btn-outline-secondary button-view mb-0 snap-shot-view-btn pointer" (click)="openIrbView(result.PROTOCOL_NUMBER)">
												<i class="fa fa-eye"></i>View
											</button>
											</a>
								<!-- <ul class="actionButtonGroup">
									<li><a href="#/irb/irb-view/irbOverview?protocolNumber={{result.PROTOCOL_NUMBER}}" title="Open {{result.PROTOCOL_NUMBER}}"
										(click)="openIrbView(result.PROTOCOL_NUMBER)"><i
											class="fa fa-eye"></i> </a></li>
								</ul> -->
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="noData">
					<p>No Protocols Found
				</div>
			</div>
		</div>
		<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 toptext" *ngIf="exemptCardDetails != undefined && exemptCardDetails.length > 0">
			<h5 class="pageHeader">Pending Exempt Studies</h5>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="exemptCardDetails != undefined && exemptCardDetails.length > 0">
			<div class="borderBox box-shawdow">
				<table class="table table-striped table-type-head table-responsive">
					<thead class="popup-sub-header">
						<tr>
							<th class="pointer" width="11%" (click)="sortFieldExempt = 'IRB_PERSON_EXEMPT_FORM_ID';updateSortOrderExempt()">Exempt Id
									<i class="fa" *ngIf="sortFieldExempt == 'IRB_PERSON_EXEMPT_FORM_ID'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" width="20%" (click)="sortFieldExempt = 'EXEMPT_TITLE';updateSortOrderExempt()">Title
									<i class="fa" *ngIf="sortFieldExempt == 'EXEMPT_TITLE'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" width="15%" (click)="sortFieldExempt = 'PERSON_NAME';updateSortOrderExempt()">PI
									<i class="fa" *ngIf="sortFieldExempt == 'PERSON_NAME'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" width="15%" (click)="sortFieldExempt = 'FACULTY_SPONSOR_PERSON';updateSortOrderExempt()">Faculty Sponsor
									<i class="fa" *ngIf="sortFieldExempt == 'FACULTY_SPONSOR_PERSON'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" width="20%" (click)="sortFieldExempt = 'UPDATE_TIMESTAMP';updateSortOrderExempt()">Last Updated By
									<i class="fa" *ngIf="sortFieldExempt == 'UPDATE_TIMESTAMP'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th class="pointer" (click)="sortFieldExempt = 'EXEMPT_STATUS';updateSortOrderExempt()">Status
									<i class="fa" *ngIf="sortFieldExempt == 'EXEMPT_STATUS'" (click)="updateSortOrderExempt();" [ngClass]="(sortOrderExempt == '-1')?'fa-arrow-up':'fa-arrow-down'"
									aria-hidden="true"></i>
							</th>
							<th width="5%">Action</th>
						</tr>
					</thead>
					<tbody class="tdy-color">
						<tr *ngFor="let result of exemptCardDetails | orderBy: {property: columnExempt, direction: directionExempt}">
							<td>E-{{result.IRB_PERSON_EXEMPT_FORM_ID}}</td>
							<td>{{result.EXEMPT_TITLE}}</td>
							<td>{{result.PERSON_NAME}}</td>
							<td>{{(result.FACULTY_SPONSOR_PERSON)}}</td>
							<td>{{(result.UPDATE_USER)}} On {{(result.UPDATE_TIMESTAMP === ' ' || result.UPDATE_TIMESTAMP === null ) ? ' ':(result.UPDATE_TIMESTAMP | date: 'MM/dd/yyyy')}}</td>
							<td>{{result.EXEMPT_STATUS}}</td>
							<td>
								<!-- <ul class="actionButtonGroup">
									<li> -->
										<!-- <a href="#/irb/irb-view/irbOverview?protocolNumber={{result.PROTOCOL_NUMBER}}" title="Open {{result.PROTOCOL_NUMBER}}"
										(click)="openIrbView(result.PROTOCOL_NUMBER)"><i
											class="fa fa-eye"></i> </a> -->
											<a>
											<button type="button" class="btn btn-outline-secondary button-view mb-0 snap-shot-view-btn" (click)="openExempt(result.QUESTIONNAIRE_ANS_HEADER_ID,result.EXEMPT_STATUS_CODE,result.EXEMPT_TITLE,result.IRB_PERSON_EXEMPT_FORM_ID)">
													<i class="fa fa-eye"></i>View
												</button>
												</a>
										<!-- </li>
								</ul> -->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<div class="footerPush"></div>
</div>
