<div class="container-fluid pushFixedHeaderFooter">
	<div class="headerPush"></div>
	<section class="row">
		<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 toptext">
			<h5 class="pageHeader"> SNAP SHOT DETAILS </h5>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortBy('PROTOCOL_NUMBER')"
								title="Click to sort by Award">Protocol# <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'PROTOCOL_NUMBER')}"></span>
							</th>
							<th (click)="sortBy('TITLE')" width="30%" title="Click to sort by Title">Title
								<span class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'TITLE')}"></span>
							</th>
							<th (click)="sortBy('PROTOCOL_TYPE')" width="10%"
								title="Click to sort by Account">Type <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'PROTOCOL_TYPE')}"></span>
							</th>
							<th (click)="sortBy('STATUS')" width="15%" title="Click to sort by Lead Unit">Status
								<span class="sortorder" 
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'STATUS')}"></span>
							</th>
							<th (click)="sortBy('APPROVAL_DATE')"
								title="Click to sort by Sponsor">Approval Date <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'APPROVAL_DATE')}"></span>
							</th>
							<th (click)="sortBy('EXPIRATION_DATE')"
								title="Click to sort by PI">Expiration Date <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (lastClickedTab == 'EXPIRATION_DATE')}"></span>
							</th>
							<th width="6%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan=6>No Requests Found !</td>
						</tr>
						<!--           <tr *ngFor="let result of resultList; let i=index">
                <td >{{result.awardNumber}}</td>
                <td>{{result.accountNumber}}</td>
                <td>{{result.title}}</td>
                <td>{{result.unitName}}</td>
                <td>{{result.sponsor}}</td>
                <td>{{result.piName}}</td>
               <td>
                  <ul class="actionButtonGroup">
                    <li><a title="Open {{awardDetails.awardNumber}}"
                      [href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardDetails.awardId+'%26docId%3D'+awardDetails.documentNumber+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
                        class="fa fa-eye"></i> </a></li>
                    <li *ngIf= "requestobject.moduleSubType === null"><a title="Open {{result.awardNumber}}"
                      (click)="openAward(result.awardNumber)"><i
                        class="fa fa-eye"></i> </a>
                        <a (click)= "updateFavorites(result.awardNumber,i, result.favouriteDocId,'remove')" *ngIf = "result.favouriteDocId != null"><img src="dist/assets/images/star-lit4.png"></a> 
							          <a (click)= "updateFavorites(result.awardNumber,i, result.favouriteDocId, 'add')" *ngIf = "result.favouriteDocId == null"><img src="dist/assets/images/star4.png"></a> 
                      </li>
                       <li><a title="Open {{result.awardNumber}}"
                      (click)="openAwardView(result.awardNumber,result.piName,result.title,result.sponsor)"><i
                        class="fa fa-eye eyeLink"></i> </a>
                         <a (click)= "updateFavorites(result.awardNumber,i, result.favouriteDocId,'remove')" *ngIf = "result.favouriteDocId != null"><img src="dist/assets/images/star-lit4.png"></a> 
							          <a (click)= "updateFavorites(result.awardNumber,i, result.favouriteDocId, 'add')" *ngIf = "result.favouriteDocId == null"><img src="dist/assets/images/star4.png"></a> 
                      </li>
                  </ul>
                </td>
              </tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<div class="footerPush"></div>
</div>
