<!-- MODAL FOR WARNING MESSAGE -->
<div class="modal fade mySkinDialog modalFallBack"*ngIf="showPopup" id="modalWarning" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content modal-text-color">
				  <div class="modal-header popup-header">
					<h5 class="modal-title modal-text-color">{{modalTitle}}</h5>
					<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
			</div>
			<div class="modal-body">
				<p>{{modalMessage}}</p>
			</div>
			<div class="modal-footer" *ngIf="!memberAdded && !IsToDeleteRole && !IsToDeleteExpertise">
				<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" (click)="showPopup=false">Ok</button>
			</div>
			<div class="modal-footer" *ngIf="memberAdded && !IsToDeleteRole && !IsToDeleteExpertise">
				<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" (click)="expandMemberToSave()">Ok</button>
			</div>
			<div class="modal-footer" *ngIf="IsToDeleteRole">
				<button type="button" class="btnSkin btn-secondary" data-dismiss="modal" (click)="modalFooterClear()">No</button>
				<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" (click)="deleteRole()">Yes</button>
			</div>
			<div class="modal-footer" *ngIf="IsToDeleteExpertise">
				<button type="button" class="btnSkin btn-secondary" data-dismiss="modal" (click)="modalFooterClear()">No</button>
				<button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" (click)="deleteExpertise()">Yes</button>
			</div>
		</div>
	</div>
</div>
<section class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 filterRadioBtns">
						<label class="label-color">Filter Members: &nbsp;</label>
						<input type="checkbox" name="filterMember" value="active" id="activeMembers" [checked]="activeMembers" (change)="activeMembers = !activeMembers">&nbsp;Active &nbsp;&nbsp;
						<input type="checkbox" name="filterMember" value="inactive" id="inactiveMembers" [checked]="inactiveMembers" (change)="inactiveMembers = !inactiveMembers">&nbsp;Inactive
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-right">
						<a class="pdf generate-schedule" (click)="addMemberDiv($event)">
							<i class="fa fa-plus icon-padding"></i>Add member
						</a>
						<!-- <button class="searchBtn" (click)="addMemberDiv($event)">
						<i class="fa fa-plus"></i>&nbsp;<span class="filterRadioBtns">Add
							Member</span>
					</button> -->
					</div>
				</div>
				<br>
				<div *ngIf="showAddMember==true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
					<div class="row">
							<div class="col-12 border-box schedule-box mb15">
							<div class="row form-group padding-15">
								<div class="col-12">
									<div class="form-check-inline">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="member" id="employeeRadio" (change)="employeeRadioChecked()" checked>Employee
										</label>
									</div>
									<div class="form-check-inline">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="member" id="nonEmployeeRadio" (change)="nonEmployeeRadioChecked()">Non-Employee
										</label>
									</div>
									<!-- <label class="containerCheckBox">Employee <input
												type="radio" name="member" id="employeeRadio"
												(change)="employeeRadioChecked()" checked> <span
												class="checkmark"></span>
											</label> 
											<label class="containerCheckBox">Non Employee <input 
												(change)="nonEmployeeRadioChecked()"
												type="radio" name="member" id="nonEmployeeRadio"> <span
												class="checkmark"></span>
											</label> -->
								</div>

								<div class="col-12">
									<div class="row">
										<div class="col-11">
											<input type="text" class="form-control input-field-size" placeholder="{{placeHolderText}}" [(ngModel)]="searchTextModel"
											 (blur)="searchActive = false" (focus)="searchActive = true" id="member_search" [formControl]="searchText" (ngModelChange)="onSearchValueChange()"
											/>
											<!-- <a href="#" class="searchButton" (click)="clearsearchBox($event)"> 
											<i [ngClass]="iconClass"></i></a>-->
											<div class="sb-seachresults" *ngIf="searchActive">
												<ul class="sb-results-dropdown-menu text-left">
													<li *ngFor="let result of this.elasticSearchresults " (mousedown)="selected(result)">
														<span [innerHTML]="result.label"></span>
													</li>
												</ul>
											</div>
											<div>
												<p class="searchMessage text-left">{{message}}</p>
											</div>
										</div>
										
										<div class="col-1 add-btn-1">
											<button title="Add" type="button" class="btn btn-success" data-toggle="modal" data-target="#modalWarning" (click)="addMember()">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
								
										</div>
										<div class="mandatory" *ngIf="showValidationMessage">* Please choose the member to be added</div>

									</div>
								</div>
								<!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
									<button class="btnSkin btnSkinPrimary" data-toggle="modal" data-target="#modalWarning"
										(click)="addMember()">Add</button>
								</div> -->

							</div>
						</div>
					</div>
				</div>

				<!-- ACTIVE Members Display-->

				<div *ngIf="memberExist">
					<div *ngFor="let member of this.resultLoadedById?.committee?.committeeMemberships">
						<div class="set" *ngIf="member.active && activeMembers || !member.active && activeMembers && !inactiveMembers && ( member.committeeMemberRoles.length == 0 || member.committeeMemberExpertises.length == 0 )">
							<div class="setHead" *ngIf="!member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate}} to {{member.termEndDate}} )</span>
									<a (click)="deleteMember($event,member.commMembershipId)">
											<i class="fa fa-times"></i>
										</a>
								</span>
								<a href="#" (click)="showMembersTab($event,member.personId, member)">
									<i [ngClass]="(showMembers == true && member.personId == personId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
								</a>
								<!-- <span>
									<a (click)="deleteMember($event,member.commMembershipId)">
										<i class="fa fa-trash-o"></i>
									</a>
								</span> -->
							</div>
							<div class="setHead" *ngIf="member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate |date:'yyyy-MM-dd'}} to {{member.termEndDate |date:'yyyy-MM-dd'}} )</span>
									<a (click)="deleteMember($event,member.commMembershipId)">
											<i class="fa fa-times"></i>
										</a>
								</span>
								<a href="#" (click)="showMembersNonEmployeesTab($event,member.rolodexId, member)">
									<i [ngClass]="(showNonEmployeeMembers == true && member.rolodexId == rolodexId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
								</a>
								<!-- <span>
									<a (click)="deleteMember($event,member.commMembershipId)">
										<i class="fa fa-trash-o"></i>
									</a>
								</span> -->
							</div>

							<div class="setBody" style="display: block;" *ngIf="member.personId == personId && showMembers==true || member.rolodexId == rolodexId && showNonEmployeeMembers == true ">
								<div class="row">
									<div class="col-12 top-distance">

										<!-- FIXED PERSONNEL SECTION ACTIVE -->

										<div class="card history-card border-radius-1">
											<div class="card-header history-header">
												<nav class="nav navbar-pg3">
													<h5>Person Details</h5>
													<i class="fa fa-info-circle" aria-hidden="true"></i>
												</nav>
											</div>
											<div class="card-body card-paddng">

												<div class="borderBox col-12">
													<div class="pullSide">
														<div class="col-12  search-eidted-p padding-15">
															<div class="row">
																<div class="col-md-3">
																	<div class="form-group ">
																		<label>Person Name
																		</label>
																		<div *ngIf="!member.nonEmployeeFlag">{{member.personDetails.fullName}}</div>
																		<div *ngIf="member.nonEmployeeFlag">{{member.rolodex.fullName}}</div>
																	</div>
																</div>
																<div class="col-md-3">
																	<div class="form-group ">
																		<label>Membership Type
																		</label>
																		<select id="membershipType" [disabled]="editDetails==false" class="custom-select  mr-sm-2 fontsize-persondetails" (change)="memberTypeChange(member,$event.target.value)">

																			<option *ngFor="let type of memberList.committeeMembershipTypes" (value)="type" [selected]="member.committeeMembershipType.description==type.description">{{type.description}}</option>

																		</select>
																	</div>
																</div>
																<div class="col-md-3">
																	<div class="form-group">
																		<label>Term Start Date</label>
																		<div class="input-group  mb-2">
																			<input type="text" class="form-control fontsize-persondetails" [owlDateTime]="dt1" placeholder="mm/dd/yyyy" [disabled]="editDetails==false"
																			 [(ngModel)]="member.termStartDate">
																			<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
																			<div class="input-group-append input-span-1" *ngIf="editDetails==true" [owlDateTimeTrigger]="dt1">
																				<span class="input-group-text">
																					<i class="fa fa-calendar" aria-hidden="true"></i>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-3">
																	<div class="form-group">
																		<label>Term End Date</label>
																		<div class="input-group  mb-2">
																			<input type="text" class="form-control fontsize-persondetails" [owlDateTime]="dt2" placeholder="mm/dd/yyyy" [disabled]="editDetails==false"
																			 [(ngModel)]="member.termEndDate">
																			<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
																			<div class="input-group-append input-span-1" *ngIf="editDetails==true" [owlDateTimeTrigger]="dt2">
																				<span class="input-group-text">
																					<i class="fa fa-calendar" aria-hidden="true"></i>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>

															</div>
														</div>
														<div class="col-12">
															<div class="row">
																<div class="col-6">
																	<div class="form-group ">
																		<label>Contact Notes
																		</label>
																		<textarea class="form-control txt-area-fnt" id="contactNotes" [disabled]="editDetails==false" [value]="member.contactNotes"
																		 [(ngModel)]="member.contactNotes"></textarea>
																	</div>
																</div>
																<div class="col-5">
																	<div class="form-group ">
																		<label>Training Notes
																		</label>
																		<textarea class="form-control txt-area-fnt" id="trainingNotes" [disabled]="editDetails==false" [value]="member.trainingNotes"
																		 [(ngModel)]="member.trainingNotes"></textarea>
																	</div>
																</div>

																<div class="col-1 action-btn-list add-btn-1 pt-35">
																	<button *ngIf="editDetails==false" (click)="showEditDetails()" title="Edit" type="button" class="btn btn-primary edit-btn-1">
																		<i class="fa fa-pencil" aria-hidden="true"></i>
																	</button>
																	<button *ngIf="editDetails" title="Save" data-target="#modalWarning" data-toggle="modal" (click)="saveDetails(member)" type="button"
																	 class="btn btn-primary edit-btn-1">
																		<i class="fa fa-floppy-o" aria-hidden="true"></i>
																	</button>
																	<button title="Save" *ngIf="editDetails" (click)="cancelEditDetails()" type="button" class="btn btn-primary edit-btn-1">
																		<i class="fa fa-times"></i>
																	</button>

																</div>

															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

										<!-- END FIXED PESON DETAILS ACTIVE -->

										<!-- FIXED ROLES ACTIVE -->

										<div class="card history-card border-radius-1 top-distance">
											<div class="card-header history-header">
												<nav class="nav navbar-pg3">
													<h5>Roles</h5>
													<i class="fa fa-info-circle" aria-hidden="true"></i>
												</nav>
											</div>
											<div class="card-body card-paddng">

												<!-- ROLES -->
												<div class=" borderBox col-12">
													<div>
														<div class="col-12">
															<div class="row">
																<div class="col-md-4">
																	<a class="pdf generate-schedule" data-target="#modalWarning" data-toggle="modal" (click)="addRoles($event, member)">
																		<i class="fa fa-plus icon-padding"></i>Add Roles
																	</a>
																</div>
																<hr>

															</div>
															<div class="row" *ngIf="addRole">
																<div class="col-md-5">
																	<div class="form-group ">
																		<label>Role
																			<span class="mandatory">*</span>
																		</label>
																		<ng2-completer title="Enter Role" [(ngModel)]="membershipRoles.description" [datasource]="dataServiceRoleList" [minSearchLength]="0"
																		 placeholder="Search" (selected)="onSelectRole()" class="input-field-size person-unit"></ng2-completer>
																	</div>
																</div>
																<div class="col-md-3">
																	<div class="form-group">
																		<label>Start Date</label>
																		<div class="input-group  mb-2">
																			<input type="text" class="form-control" [owlDateTime]="dt3" placeholder="mm/dd/yyyy" [(ngModel)]="memberRoleObject.startDate"
																			 [disabled]="addRole==false">
																			<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
																			<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt3">
																				<span class="input-group-text">
																					<i class="fa fa-calendar" aria-hidden="true"></i>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-3">
																	<div class="form-group">
																		<label>End Date</label>
																		<div class="input-group  mb-2">
																			<input type="text" class="form-control" [owlDateTime]="dt4" placeholder="mm/dd/yyyy" [(ngModel)]="memberRoleObject.endDate"
																			 [disabled]="addRole==false">
																			<owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
																			<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt4">
																				<span class="input-group-text">
																					<i class="fa fa-calendar" aria-hidden="true"></i>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-1 add-btn-1">
																	<button title="Add" type="button" class="btn btn-success top-butn" (click)="roleAddtoTable(member)">
																		<i class="fa fa-plus" aria-hidden="true"></i>
																	</button>
																</div>
															</div>

														</div>
														<div *ngIf="roleFieldsFilled == false">
																<span class="mandatory">{{roleWarningMessage}}</span>
														</div>
														<div class="table-responsive" *ngIf="member?.committeeMemberRoles && member.committeeMemberRoles.length >0">
															<table class="table table-striped tbl-p-clr table-padding">
																<thead class="tbl-head-clr thead-font-size">
																	<tr>
																		<th scope="col"> Role</th>
																		<th scope="col">Start Date</th>
																		<th scope="col">Start Date</th>
																		<th scope="col">Action</th>
																	</tr>
																</thead>
																<tbody class="tbody-font-size">
																	<tr *ngFor="let role of  member.committeeMemberRoles;let i=index">
																		<td>{{role.membershipRoleDescription}}</td>
																		<td>
																			<div class="form-group">
																				<div class="input-group  mb-2">
																					<input type="text" class="form-control" [owlDateTime]="dt9" placeholder="mm/dd/yyyy" [(ngModel)]="role.startDate" [disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
																					 [min]="member.termStartDate" [max]="member.termEndDate" #dateTime="ngModel">
																					<owl-date-time [pickerType]="'calendar'" #dt9></owl-date-time>
																					<div class="input-group-append input-span-1" *ngIf="editRole==true || role.membershipRoleCode==memberRoleCode" [owlDateTimeTrigger]="dt9">
																						<span class="input-group-text">
																							<i class="fa fa-calendar" aria-hidden="true"></i>
																						</span>
																					</div>
																				</div>
																			</div>
																		</td>
																		<td>
																			<div class="form-group">
																				<div class="input-group  mb-2">
																					<input type="text" class="form-control" [owlDateTime]="dt10" placeholder="mm/dd/yyyy" [(ngModel)]="role.endDate" [disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
																					 [min]="member.termStartDate" [max]="member.termEndDate">
																					<owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
																					<div class="input-group-append input-span-1" *ngIf="editRole==true || role.membershipRoleCode==memberRoleCode" [owlDateTimeTrigger]="dt10">
																						<span class="input-group-text">
																							<i class="fa fa-calendar" aria-hidden="true"></i>
																						</span>
																					</div>
																				</div>
																			</div>
																		</td>
																		<td class="action-btn-list">
																			<button (click)="editRoles($event,role)" *ngIf="!editRole" id="roleEditBtn" title="Edit" type="button" class="btn btn-primary edit-btn-1">
																				<i class="fa fa-pencil" aria-hidden="true"></i>
																			</button>
																			<button *ngIf="editRole && role.membershipRoleCode==memberRoleCode" (click)="saveRole($event, role,member)" title="Save"
																			 type="button" class="btn btn-primary edit-btn-1">
																				<i class="fa fa-floppy-o" aria-hidden="true"></i>
																			</button>

																			<button title="Delete" data-target="#modalWarning" data-toggle="modal" (click)="showWarning($event,role.commMemberRolesId,member.commMembershipId)"
																			 type="button" class="btn btn-primary delete-btn-1">
																				<i class="fa fa-trash" aria-hidden="true"></i>
																			</button>
																		</td>

																	</tr>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- END OF ROLE ACTIVE -->
									</div>
									<!--  END OF 1ST COL 12 -->
									<div class="col-12 top-distance">
										<div class="row">

											<!-- EXPERTISE COMPLETED ACTIVE -->

											<div class="col-6">
												<div class="card history-card border-radius-1">
													<div class="card-header history-header">
														<nav class="nav navbar-pg3">
															<h5>Expertise</h5>
															<i class="fa fa-info-circle" aria-hidden="true"></i>
														</nav>
													</div>
													<div class="card-body card-paddng">

														<!-- EXPERTISE -->
														<div class=" borderBox col-12">
															<div>
																<div class="col-md-12">
																	<div class="row">
																		<div class="col-md-4">
																			<a class="pdf generate-schedule" data-target="#modalWarning" data-toggle="modal" (click)="addExpertises($event, member)">
																				<i class="fa fa-plus icon-padding"></i>Add Expertise
																			</a>
																		</div>
																		<hr>

																	</div>
																	<div class="row" *ngIf="addExpertise">
																		<div class="col-md-10">
																			<div class="form-group ">
																				<label>Expertise In :</label>
																				<ng2-completer title="Enter Member" [(ngModel)]="membershipExpertise.description" [datasource]="dataServiceExpertiseList"
																				 [minSearchLength]="0" placeholder="Search" (selected)="onSelectExpertise()" class="input-field-size person-unit"></ng2-completer>

																			</div>
																		</div>
																		<div class="col-md-2 add-btn-1">
																			<button title="Add" type="button" class="btn btn-success top-butn" (click)="expertiseAddtoTable(member)">
																				<i class="fa fa-plus" aria-hidden="true"></i>
																			</button>
																		</div>
																	</div>
																</div>
																<div class="table-responsive" *ngIf="member?.committeeMemberExpertises && member?.committeeMemberExpertises.length > 0">
																	<table class="table table-striped tbl-p-clr table-padding">
																		<thead class="tbl-head-clr thead-font-size">
																			<tr>
																				<th scope="col"> Code</th>
																				<th scope="col">Area of Expertise</th>
																				<th scope="col">Action</th>
																			</tr>
																		</thead>
																		<tbody class="tbody-font-size">


																			<tr *ngFor="let expertise of  member.committeeMemberExpertises;let i=index ">
																				<td>{{expertise.researchAreaCode}}</td>
																				<td>{{expertise.researchAreaDescription}}</td>
																				<td class="action-btn-list">
																					<button title="Delete" type="button" class="btn btn-primary delete-btn-1" (click)="showExpertiseDeleteWarning($event, expertise.commMemberExpertiseId, member.commMembershipId)"
																					 data-toggle="modal" data-target="#modalWarning">
																						<i class="fa fa-trash" aria-hidden="true"></i>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>

																</div>
															</div>
														</div>

													</div>
												</div>
											</div>

											<!-- END EXPERTISE COMPLETED ACTIVE -->

											<!-- CONTACT INFO COMPLETED ACTIVE -->
											<div class="col-6">
												<div class="card history-card border-radius-1">
													<div class="card-header history-header">
														<nav class="nav navbar-pg3">
															<h5>Contact Information</h5>
															<i class="fa fa-info-circle" aria-hidden="true"></i>
														</nav>
													</div>
													<div class="card-body card-paddng">
														<div class="borderBox">
															<div class="row">
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard border-left-card">
																	<div class="row">
																		<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
																			<label>
																				<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.firstName }}
																				</span>
																				<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.firstName}}</span>
																				Primary Title (Primary)
																				<br>
																				<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.fullName }}
																				</span>
																				<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.fullName}}</span>
																				Directory Title (Directory) </label>
																			<br>
																			<span>
																				<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.addressLine1 }}
																				</span>
																				<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.addressLine1}}</span>
																				<br> (Ofc)
																				<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.phoneNumber }}
																				</span>
																				<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.phoneNumber}}</span>, (Mob) 9345 7866 2356, (Fax) 321-321-1264 </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>
											<!-- CONTACT INFO COMPLETED ACTIVE -->
										</div>
									</div>
								</div>
							</div>
						</div>






						<!-- INACTIVE MEMBERS -->
						 <div class="set" *ngIf="!member.active && inactiveMembers">
						

							<div class="setHead" *ngIf="!member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate |date:'yyyy-MM-dd'}} to {{member.termEndDate |date:'yyyy-MM-dd'}} )</span>
									<a (click)="deleteMember($event,member.commMembershipId)">
											<i class="fa fa-times"></i>
										</a>
								</span>
								<a href="#" (click)="showMembersTab($event,member.personId, member)">
									<i [ngClass]="(showMembers == true && member.personId == personId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
								</a>
								<!-- <span>
									<a (click)="deleteMember($event,member.commMembershipId)">
										<i class="fa fa-trash-o"></i>
									</a>
								</span> -->
							</div>
							<div class="setHead" *ngIf="member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate}} to {{member.termEndDate}} )</span>
									<a (click)="deleteMember($event,member.commMembershipId)">
											<i class="fa fa-times"></i>
										</a>
								</span>
								<a href="#" (click)="showMembersNonEmployeesTab($event,member.rolodexId, member)">
									<i [ngClass]="(showNonEmployeeMembers == true && member.rolodexId == rolodexId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i>
								</a>
								<!-- <span>
									<a (click)="deleteMember($event,member.commMembershipId)">
										<i class="fa fa-trash-o"></i>
									</a>
								</span> -->
							</div>

							<div class="setBody" style="display: block;" *ngIf="member.personId == personId && showMembers==true || member.rolodexId == rolodexId && showNonEmployeeMembers == true">
								<div class="row">
									<!-- <div class="col-12"> -->
									<div class="col-12">




										<!-- PERSON DETAILS INACTIVE FIXED -->



										<div class="card history-card border-radius-1">
											<div class="card-header history-header">
												<nav class="nav navbar-pg3">
													<h5>Person Details</h5>
													<i class="fa fa-info-circle" aria-hidden="true"></i>
												</nav>
											</div>
											<div class="card-body card-paddng">

												<div>
													<!-- Pull side div -->
													<div class="col-12  search-eidted-p padding-15">
														<div class="row">
															<div class="col-md-3">
																<div class="form-group ">
																	<label>Person Name
																	</label>
																	<div *ngIf="!member.nonEmployeeFlag">{{member.personDetails.fullName}}</div>
																	<div *ngIf="member.nonEmployeeFlag">{{member.rolodex.fullName}}</div>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group ">
																	<label>Membership Type
																	</label>
																	<select id="membershipType" [disabled]="editDetails==false" class="custom-select  mr-sm-2 fontsize-persondetails" (change)="memberTypeChange(member,$event.target.value)"
																	>

																		<option *ngFor="let type of memberList.committeeMembershipTypes" (value)="type" [selected]="member.committeeMembershipType.description==type.description">{{type.description}}</option>

																	</select>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Term Start Date</label>
																	<div class="input-group  mb-2">
																		<input type="text" class="form-control fontsize-persondetails" [owlDateTime]="dt11" placeholder="mm/dd/yyyy" [disabled]="editDetails==false"
																		 [(ngModel)]="member.termStartDate">
																		<owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
																		<div class="input-group-append input-span-1" *ngIf="editDetails==true" [owlDateTimeTrigger]="dt11">
																			<span class="input-group-text">
																				<i class="fa fa-calendar" aria-hidden="true"></i>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Term End Date</label>
																	<div class="input-group  mb-2">
																		<input type="text" class="form-control fontsize-persondetails" [owlDateTime]="dt12" placeholder="mm/dd/yyyy" [disabled]="editDetails==false"
																		 [(ngModel)]="member.termEndDate">
																		<owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
																		<div class="input-group-append input-span-1" *ngIf="editDetails==true" [owlDateTimeTrigger]="dt12">
																			<span class="input-group-text">
																				<i class="fa fa-calendar" aria-hidden="true"></i>
																			</span>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<div class="col-12">
														<div class="row">
															<div class="col-6">
																<div class="form-group ">
																	<label>Contact Notes
																	</label>
																	<textarea class="form-control txt-area-fnt" id="contactNotes" [disabled]="editDetails==false" [value]="member.contactNotes"
																	 [(ngModel)]="member.contactNotes"></textarea>
																</div>
															</div>
															<div class="col-5">
																<div class="form-group ">
																	<label>Training Notes
																	</label>
																	<textarea class="form-control txt-area-fnt" id="trainingNotes" [disabled]="editDetails==false" [value]="member.trainingNotes"
																	 [(ngModel)]="member.trainingNotes"></textarea>
																</div>
															</div>

															<div class="col-1 action-btn-list add-btn-1 pt-35">
																<button *ngIf="editDetails==false" (click)="showEditDetails()" title="Edit" type="button" class="btn btn-primary edit-btn-1">
																	<i class="fa fa-pencil" aria-hidden="true"></i>
																</button>
																<button *ngIf="editDetails" title="Save" data-target="#modalWarning" data-toggle="modal" (click)="saveDetails(member)" type="button"
																 class="btn btn-primary edit-btn-1">
																	<i class="fa fa-floppy-o" aria-hidden="true"></i>
																</button>
																<button title="Save" *ngIf="editDetails" (click)="cancelEditDetails()" type="button" class="btn btn-primary edit-btn-1">
																	<i class="fa fa-times"></i>
																</button>

															</div>

														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- END PERSON DETAILS INACTIVE FIXED -->

									</div>
									<div class="borderBox col-12">


									<!-- Role DETAILS INACTIVE FIXED -->

										<div class="card history-card border-radius-1">
											<div class="card-header history-header">
												<nav class="nav navbar-pg3">
													<h5>Roles</h5>
													<i class="fa fa-info-circle" aria-hidden="true"></i>
												</nav>
											</div>
											<div class="card-body card-paddng">
													<div class=" borderBox col-12">

												<div>
													<div class="col-12">
														<div class="row">
															<div class="col-md-4">
																<a class="pdf generate-schedule" data-target="#modalWarning" data-toggle="modal" (click)="addRoles($event, member)">
																	<i class="fa fa-plus icon-padding"></i>Add Roles
																</a>
															</div>
															<hr>
														</div>
														<div class="row" *ngIf="addRole">
															<div class="col-md-5">
																<div class="form-group ">
																	<label>Role
																		<span class="mandatory">*</span>
																	</label>
																	<ng2-completer title="Enter Role" [(ngModel)]="membershipRoles.description" [datasource]="dataServiceRoleList" [minSearchLength]="0"
																	 placeholder="Search" (selected)="onSelectRole()" class="input-field-size person-unit"></ng2-completer>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>Start Date</label>
																	<div class="input-group  mb-2">
																		<input type="text" class="form-control" [owlDateTime]="dt3" placeholder="mm/dd/yyyy" [(ngModel)]="memberRoleObject.startDate">
																		<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
																		<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt3">
																			<span class="input-group-text">
																				<i class="fa fa-calendar" aria-hidden="true"></i>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-3">
																<div class="form-group">
																	<label>End Date</label>
																	<div class="input-group  mb-2">
																		<input type="text" class="form-control" [owlDateTime]="dt4" placeholder="mm/dd/yyyy" [(ngModel)]="memberRoleObject.endDate">
																		<owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
																		<div class="input-group-append input-span-1" [owlDateTimeTrigger]="dt4">
																			<span class="input-group-text">
																				<i class="fa fa-calendar" aria-hidden="true"></i>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-1 add-btn-1">
																	<button title="Add" type="button" class="btn btn-success top-butn" (click)="roleAddtoTable(member)">
																		<i class="fa fa-plus" aria-hidden="true"></i>
																	</button>
																</div>
														</div>

													</div>

													<!-- <button class="btnSkin btnSkinPrimary" (click)="roleAddtoTable(member)">Add</button> -->

													<div *ngIf="roleFieldsFilled == false">
															<span class="mandatory">{{roleWarningMessage}}</span>
													</div>

													<div class="table-responsive" *ngIf="member?.committeeMemberRoles && member.committeeMemberRoles.length >0">
														<table class="table table-striped tbl-p-clr table-padding">
															<thead class="tbl-head-clr thead-font-size">
																<tr>
																	<th scope="col"> Role</th>
																	<th scope="col">Start Date</th>
																	<th scope="col">End Date</th>
																	<th scope="col">Action</th>
																</tr>
															</thead>
															<tbody class="tbody-font-size">
																<tr *ngFor="let role of  member.committeeMemberRoles;let i=index">
																	<td>{{role.membershipRoleDescription}}</td>
																	<td>
																		<div class="form-group">
																			<div class="input-group  mb-2">
																				<input type="text" class="form-control" [owlDateTime]="dt9" placeholder="mm/dd/yyyy" [(ngModel)]="role.startDate" [disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
																				 [min]="member.termStartDate" [max]="member.termEndDate" #dateTime="ngModel">
																				<owl-date-time [pickerType]="'calendar'" #dt9></owl-date-time>
																				<div class="input-group-append input-span-1" *ngIf="editRole==true || role.membershipRoleCode==memberRoleCode" [owlDateTimeTrigger]="dt9">
																					<span class="input-group-text">
																						<i class="fa fa-calendar" aria-hidden="true"></i>
																					</span>
																				</div>
																			</div>
																		</div>

																	</td>
																	<td>
																		<div class="form-group">
																			<div class="input-group  mb-2">
																				<input type="text" class="form-control" [owlDateTime]="dt10" placeholder="mm/dd/yyyy" [(ngModel)]="role.endDate" [disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
																				 [min]="member.termStartDate" [max]="member.termEndDate">
																				<owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
																				<div class="input-group-append input-span-1" *ngIf="editRole==true || role.membershipRoleCode == memberRoleCode" [owlDateTimeTrigger]="dt10">
																					<span class="input-group-text">
																						<i class="fa fa-calendar" aria-hidden="true"></i>
																					</span>
																				</div>
																			</div>
																		</div>

																	</td>
																	<td class="action-btn-list">
																		<button (click)="editRoles($event,role)" *ngIf="!editRole" id="roleEditBtn" title="Edit" type="button" class="btn btn-primary edit-btn-1">
																			<i class="fa fa-pencil" aria-hidden="true"></i>
																		</button>
																		<button *ngIf="editRole && role.membershipRoleCode==memberRoleCode" (click)="saveRole($event, role,member)" title="Save"
																		 type="button" class="btn btn-primary edit-btn-1">
																			<i class="fa fa-floppy-o" aria-hidden="true"></i>
																		</button>

																		<button title="Delete" (click)="deleteRole($event,role.commMemberRolesId,member.commMembershipId)" type="button" class="btn btn-primary delete-btn-1"
																		 data-toggle="modal" data-target="#deletePersonnelInfoDetails">
																			<i class="fa fa-trash" aria-hidden="true"></i>
																		</button>
																	</td>
																	<!-- <td>
																				<ul class="actionButtonGroup">
																					<li><a href="#"
																						(click)="deleteRole($event,role.commMemberRolesId,member.commMembershipId)">
																							<i class="fa fa-trash-o"></i>
																					</a></li>
																					<li><a href="#" (click)="editRoles($event,role)"
																						*ngIf="!editRole" id="roleEditBtn"> <i
																							class="fa fa-pencil"></i>
																					</a></li>
																					<li><a href="#"
																						*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																						(click)="saveRole($event, role,member)"> <i
																							class="fa fa-floppy-o"></i>
																					</a></li>
																					<li><a href="#"
																						*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																						(click)="cancelEditRoles($event,role)"><i
																							class="fa fa-times" aria-hidden="true"></i></a></li>
																				</ul>
																			</td> -->
																</tr>
														</table>
													</div>
												</div>



											</div>
										</div>
										</div>

									<!-- END Role DETAILS INACTIVE FIXED -->

									</div>
									<!-- </div> -->

									<!-- Contact Information -->
									<!-- <div class="col-4"> -->
										<div class="col-12">
										<div class="row">

											<!-- EXPERTISE -->
									<div class="col-6">
											<div class="card history-card border-radius-1">
													<div class="card-header history-header">
														<nav class="nav navbar-pg3">
															<h5>Expertise</h5>
															<i class="fa fa-info-circle" aria-hidden="true"></i>
														</nav>
													</div>
													<div class="card-body card-paddng">
															<div class=" borderBox col-12">

																	<div>
															<div class="col-12">
																	<div class="row">
																			<div class="col-md-4">
																				<a class="pdf generate-schedule" data-target="#modalWarning" data-toggle="modal" (click)="addExpertises($event, member)">
																					<i class="fa fa-plus icon-padding"></i>Add Expertise
																				</a>
																			</div>
																			<hr>
	
																		</div>
																	<div class="row" *ngIf="addExpertise">
																			<div class="col-md-10">
																				<div class="form-group ">
																					<label>Expertise In :</label>
																					<ng2-completer title="Enter Member" [(ngModel)]="membershipExpertise.description" [datasource]="dataServiceExpertiseList"
																					 [minSearchLength]="0" placeholder="Search" (selected)="onSelectExpertise()" class="input-field-size person-unit"></ng2-completer>
					
																				</div>
																			</div>
																			<div class="col-md-2 add-btn-1">
																				<button title="Add" type="button" class="btn btn-success top-butn" (click)="expertiseAddtoTable(member)">
																					<i class="fa fa-plus" aria-hidden="true"></i>
																				</button>
																			</div>
																		</div>
	
																		<div class="table-responsive" *ngIf="member?.committeeMemberExpertises && member?.committeeMemberExpertises.length > 0">
																				<table class="table table-striped tbl-p-clr table-padding">
																					<thead class="tbl-head-clr thead-font-size">
																						<tr>
																							<th scope="col"> Code</th>
																							<th scope="col">Area of Expertise</th>
																							<th scope="col">Action</th>
																						</tr>
																					</thead>
																					<tbody class="tbody-font-size">
			
			
																						<tr *ngFor="let expertise of  member.committeeMemberExpertises;let i=index ">
																							<td>{{expertise.researchAreaCode}}</td>
																							<td>{{expertise.researchAreaDescription}}</td>
																							<td class="action-btn-list">
																								<button title="Delete" type="button" class="btn btn-primary delete-btn-1" (click)="showExpertiseDeleteWarning($event, expertise.commMemberExpertiseId, member.commMembershipId)"
																								 data-toggle="modal" data-target="#modalWarning">
																									<i class="fa fa-trash" aria-hidden="true"></i>
																								</button>
																							</td>
																						</tr>
																					</tbody>
																				</table>
			
																			</div>
																
															</div>
													</div>
													</div>
													</div>
												</div>
										</div>

									<!-- CONTACT INFO COMPLETED INACTIVE -->
									<div class="col-6">
											<div class="card history-card border-radius-1">
												<div class="card-header history-header">
													<nav class="nav navbar-pg3">
														<h5>Contact Information</h5>
														<i class="fa fa-info-circle" aria-hidden="true"></i>
													</nav>
												</div>
												<div class="card-body card-paddng">
													<div class="borderBox">
														<div class="row">
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard border-left-card">
																<div class="row">
																	<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
																		<label>
																			<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.firstName }}
																			</span>
																			<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.firstName}}</span>
																			Primary Title (Primary)
																			<br>
																			<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.fullName }}
																			</span>
																			<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.fullName}}</span>
																			Directory Title (Directory) </label>
																		<br>
																		<span>
																			<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.addressLine1 }}
																			</span>
																			<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.addressLine1}}</span>
																			<br> (Ofc)
																			<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.phoneNumber }}
																			</span>
																			<span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.phoneNumber}}</span>, (Mob) 9345 7866 2356, (Fax) 321-321-1264 </span>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
										<!-- CONTACT INFO COMPLETED INACTIVE -->
									
									</div>
									</div>
									<!-- </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>