<!-- MODAL FOR WARNING MESSAGE -->
<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup"
	id="modalWarning" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{modalTitle}}</h5>
			</div>
			<div class="modal-body">
				<p>{{modalMessage}}</p>
			</div>
			<div class="modal-footer" *ngIf="!memberAdded && !IsToDeleteRole && !IsToDeleteExpertise">
				<button type="button" class="btnSkin btnSkinPrimary" (click)="showPopup=false">Ok</button>
			</div>
			<div class="modal-footer" *ngIf="memberAdded && !IsToDeleteRole && !IsToDeleteExpertise">
				<button type="button" class="btnSkin btnSkinPrimary"  (click)="expandMemberToSave()">Ok</button>
			</div>
			<div class="modal-footer" *ngIf="IsToDeleteRole">
				<button type="button" class="btnSkin btn-secondary" (click)="modalFooterClear()" >No</button>
				<button type="button" class="btnSkin btnSkinPrimary" (click)="deleteRole()">Yes</button>
			</div>
			<div class="modal-footer" *ngIf="IsToDeleteExpertise">
				<button type="button" class="btnSkin btn-secondary" (click)="modalFooterClear()" >No</button>
				<button type="button" class="btnSkin btnSkinPrimary" (click)="deleteExpertise()">Yes</button>
			</div>
		</div>
	</div>
</div>
<section class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 filterRadioBtns">
						<span>Filter Members : &nbsp;</span> <input type="checkbox"
							name="filterMember" value="active" id="activeMembers"
							[checked]="activeMembers"
							(change)="activeMembers = !activeMembers">&nbsp;Active
						&nbsp;&nbsp; <input type="checkbox" name="filterMember"
							value="inactive" id="inactiveMembers" [checked]="inactiveMembers"
							(change)="inactiveMembers = !inactiveMembers">&nbsp;Inactive
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 filterRadioBtns text-right">
					<button class="searchBtn" (click)="addMemberDiv($event)">
						<i class="fa fa-plus"></i>&nbsp;<span class="filterRadioBtns">Add
							Member</span>
					</button></div>
				</div>
				<br>
				<div *ngIf="showAddMember==true"
					class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard" style="padding:0px">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
									<label class="containerCheckBox">Employee <input
										type="radio" name="member" id="employeeRadio"
										(change)="employeeRadioChecked()" checked> <span
										class="checkmark"></span>
									</label> 
									<label class="containerCheckBox">Non Employee <input 
										(change)="nonEmployeeRadioChecked()"
										type="radio" name="member" id="nonEmployeeRadio"> <span
										class="checkmark"></span>
									</label>
								</div>
							</div>
							<div class="row text-center">
								<div class="col-xl-3 col-lg-3 col-md-3 hidden-sm"></div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="searchBox">
										<input type="text" placeholder="{{placeHolderText}}"
											[(ngModel)]="searchTextModel" (blur)="searchActive = false" (focus)="searchActive = true" id="member_search"
											[formControl]="searchText" (ngModelChange)="onSearchValueChange()"/> <a href="#"
											class="searchButton" (click)="clearsearchBox($event)"><i
											[ngClass]="iconClass"></i></a>
										<div class="sb-seachresults"  *ngIf="searchActive">
											<ul class="sb-results-dropdown-menu text-left">
												<li *ngFor="let result of this.elasticSearchresults "
													(mousedown)="selected(result)"><span
													[innerHTML]="result.label"></span></li>
											</ul>
										</div>
										<div><p class="searchMessage text-left">{{message}}</p></div>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
									<button class="btnSkin btnSkinPrimary" data-toggle="modal" data-target="#modalWarning"
										(click)="addMember()">Add</button>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- ACTIVE Members Display-->

				<div *ngIf="memberExist">
					<div *ngFor="let member of this.resultLoadedById?.committee?.committeeMemberships">
						<div class="set"
							*ngIf="member.active && activeMembers || !member.active && activeMembers && !inactiveMembers && ( member.committeeMemberRoles.length == 0 || member.committeeMemberExpertises.length == 0 )">
							<div class="setHead" *ngIf="!member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate}} to {{member.termEndDate}} )</span></span><a
									href="#" (click)="showMembersTab($event,member.personId, member)"><i
									[ngClass]="(showMembers == true && member.personId == personId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a><span><a
									(click)="deleteMember($event,member.commMembershipId)"><i
										class="fa fa-trash-o"></i></a></span>
							</div>
							<div class="setHead" *ngIf="member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate |date:'yyyy-MM-dd'}} to
									{{member.termEndDate |date:'yyyy-MM-dd'}} )</span></span><a href="#"
									(click)="showMembersNonEmployeesTab($event,member.rolodexId, member)"><i
									[ngClass]="(showNonEmployeeMembers == true && member.rolodexId == rolodexId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a><span><a
									(click)="deleteMember($event,member.commMembershipId)"><i
										class="fa fa-trash-o"></i></a></span>
							</div>

							<div class="setBody" style="display: block;"
								*ngIf="member.personId == personId && showMembers==true || member.rolodexId == rolodexId && showNonEmployeeMembers == true ">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="borderBox col-12">
											<h4 class="borderBoxHeading">
												Person Details
												<button class="editBtn" *ngIf="editDetails==false"
													(click)="showEditDetails()">
													<i class="fa fa-pencil"></i>
												</button>
												<button class="addBtn" *ngIf="editDetails"
													data-target="#modalWarning" data-toggle="modal"
													(click)="saveDetails(member)">
													<i class="fa fa-floppy-o"></i>
												</button>
												<button class="editBtn" *ngIf="editDetails"
													(click)="cancelEditDetails()">
													<i class="fa fa-times"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table tableSkin grid2">
													<tbody>
														<tr>
															<td><label>Person Name</label><br> <span
																*ngIf="!member.nonEmployeeFlag">{{member.personDetails.fullName
																	}}</span> <span *ngIf="member.nonEmployeeFlag">{{member.rolodex.fullName}}</span></td>
															<td><label>Membership Type</label><br> <select
																id="membershipType" [disabled]="editDetails==false"
																(change)="memberTypeChange(member,$event.target.value)"
																[ngClass]="editClass">

																	<option
																		*ngFor="let type of memberList.committeeMembershipTypes"
																		(value)="type"
																		[selected]="member.committeeMembershipType.description==type.description">{{type.description}}</option>

															</select></td>
															<td><label> Term Start Date</label><br> <input
																[owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
																[disabled]="editDetails==false"
																[(ngModel)]="member.termStartDate" [ngClass]="editClass" />
																<owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time></td>
															<td><label> Term End Date</label><br> <input
																[owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
																[disabled]="editDetails==false"
																[(ngModel)]="member.termEndDate" [ngClass]="editClass" />
																<owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
															</td>
														</tr>
														<tr>
															<td colspan="2"><label> Contact Notes</label><br>
																<textarea id="contactNotes"
																	[disabled]="editDetails==false"
																	[value]="member.contactNotes"
																	[(ngModel)]="member.contactNotes" [ngClass]="editClass"></textarea></td>
															<td colspan="2"><label> Training Notes</label><br>
																<textarea id="trainingNotes"
																	[disabled]="editDetails==false"
																	[value]="member.trainingNotes"
																	[(ngModel)]="member.trainingNotes"
																	[ngClass]="editClass"></textarea></td>
														</tr>
													<tr *ngIf="isTermDateFilled == false"> 
														<td colspan="4"><span class="mandatory">{{roleWarningMessage}}</span></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!-- ROLES -->
										<div class=" borderBox col-12">
											<h4 class="borderBoxHeading">
												Roles
												<button id="rolesAddBtn" class="addBtn"
													data-target="#modalWarning" data-toggle="modal"
													(click)="addRoles($event, member)">
													<i class="fa fa-plus"></i>
												</button>

											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="roleAddingRow" *ngIf="addRole">
														<td align="justify">Role:</td>

														<td><ng2-completer title="Enter Role"
																[(ngModel)]="membershipRoles.description"
																[datasource]="dataServiceRoleList" [minSearchLength]="0"
																placeholder="Search" (selected)="onSelectRole()"></ng2-completer>
														</td>
														<td><input [owlDateTimeTrigger]="dt5"
															[owlDateTime]="dt5"
															[(ngModel)]="memberRoleObject.startDate"
															[disabled]="addRole==false" [ngClass]="editClassRole"
															#dateTime="ngModel" /> <owl-date-time #dt5
																[pickerType]="'calendar'"></owl-date-time></td>
														<td><input [owlDateTimeTrigger]="dt6"
															[owlDateTime]="dt6"
															[(ngModel)]="memberRoleObject.endDate"
															[disabled]="addRole==false" [ngClass]="editClassRole" />
															<owl-date-time #dt6 [pickerType]="'calendar'"></owl-date-time>
														</td>

														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="roleAddtoTable(member)">Add</button>
														</td>

													</tr>
													<tr *ngIf="roleFieldsFilled == false"> 
														<td colspan="5"><span class="mandatory">{{roleWarningMessage}}</span></td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Role</th>
														<th title="">Start Date</th>
														<th title="">End Date</th>
														<th title="" class="text-left">Action</th>
													</tr>

													<tr
														*ngFor="let role of  member.committeeMemberRoles;let i=index">
														<td>{{i+1}}</td>
														<td>{{role.membershipRoleDescription}}</td>
														<td><input [owlDateTimeTrigger]="dt7"
															[owlDateTime]="dt7" [(ngModel)]="role.startDate"
															[disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
															[ngClass]="{'committeeBox' :role.membershipRoleCode==memberRoleCode,'committeeBoxNotEditable':role.membershipRoleCode!=memberRoleCode}"
															[min]="member.termStartDate" [max]="member.termEndDate"
															#dateTime="ngModel" /> <owl-date-time #dt7
																[pickerType]="'calendar'"></owl-date-time></td>
														<td><input [owlDateTimeTrigger]="dt8"
															[owlDateTime]="dt8" [(ngModel)]="role.endDate"
															[disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
															[ngClass]="{'committeeBox' :role.membershipRoleCode==memberRoleCode,'committeeBoxNotEditable':role.membershipRoleCode!=memberRoleCode}"
															[min]="member.termStartDate" [max]="member.termEndDate" />
															<owl-date-time #dt8 [pickerType]="'calendar'"></owl-date-time>
														</td>
														<td>
															<ul class="actionButtonGroup">
																<li><a href="#" data-target="#modalWarning" data-toggle="modal"
																	(click)="showWarning($event,role.commMemberRolesId,member.commMembershipId)">
																		<i class="fa fa-trash-o"></i>
																</a></li>
																<li><a href="#" (click)="editRoles($event,role)"
																	*ngIf="!editRole" id="roleEditBtn"> <i
																		class="fa fa-pencil"></i>
																</a></li>
																<li><a href="#"
																	*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																	(click)="saveRole($event, role,member)"> <i
																		class="fa fa-floppy-o"></i>
																</a></li>
																<li><a href="#"
																	*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																	(click)="cancelEditRoles($event,role)"><i
																		class="fa fa-times" aria-hidden="true"></i></a></li>
															</ul>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="borderBox">
											<h4 class="borderBoxHeading">Contact Information</h4>
											<div class="row">
												<div
													class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
													<div class="row">
														<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
															<label><span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.firstName
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.firstName}}</span>
																Primary Title (Primary) <br> <span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.fullName
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.fullName}}</span>
																Directory Title (Directory) </label> <br> <span><span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.addressLine1
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.addressLine1}}</span><br>
																(Ofc)<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.phoneNumber
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.phoneNumber}}</span>,
																(Mob) 9345 7866 2356, (Fax) 321-321-1264 </span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- EXPERTISE -->
										<div class=" borderBox col-12">

											<h4 class="borderBoxHeading">
												Expertise

												<button class="addBtn" data-target="#modalWarning"
													data-toggle="modal" (click)="addExpertises($event, member)">
													<i class="fa fa-plus"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="expertiseAddingRow" *ngIf="addExpertise">

														<td></td>
														<td align="justify">Expertise In :</td>
														<td><span> <ng2-completer title="Enter Member"
																	[(ngModel)]="membershipExpertise.description"
																	[datasource]="dataServiceExpertiseList"
																	[minSearchLength]="0" placeholder="Search"
																	(selected)="onSelectExpertise()"></ng2-completer></span></td>
														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="expertiseAddtoTable(member)">Add</button>
														</td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Code</th>
														<th title="">Area of Expertise</th>
														<th title="" class="expertiseEditingActions">Action</th>
													</tr>
													<tr
														*ngFor="let expertise of  member.committeeMemberExpertises;let i=index ">
														<td>{{i+1}}</td>
														<td>{{expertise.researchAreaCode}}</td>
														<td>{{expertise.researchAreaDescription}}</td>
														<td class="expertiseEditingActions">
															<ul class="actionButtonGroup">
																<li><a href="#" data-target="#modalWarning" data-toggle="modal"
																	(click)="showExpertiseDeleteWarning($event, expertise.commMemberExpertiseId, member.commMembershipId)">
																		<i class="fa fa-trash-o"></i>
																</a></li>
															</ul>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- INACTIVE MEMBERS -->
						<div class="set" *ngIf="!member.active && inactiveMembers">

							<div class="setHead" *ngIf="!member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate |date:'yyyy-MM-dd'}} to
									{{member.termEndDate |date:'yyyy-MM-dd'}} )</span></span><a href="#"
									(click)="showMembersTab($event,member.personId, member)"><i
									[ngClass]="(showMembers == true && member.personId == personId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a><span><a
									(click)="deleteMember($event,member.commMembershipId)"><i
										class="fa fa-trash-o"></i></a></span>
							</div>
							<div class="setHead" *ngIf="member.nonEmployeeFlag">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})
									<span *ngIf="member.updateTimestamp != null">( {{member.termStartDate}} to {{member.termEndDate}} )</span></span><a
									href="#"
									(click)="showMembersNonEmployeesTab($event,member.rolodexId, member)"><i
									[ngClass]="(showNonEmployeeMembers == true && member.rolodexId == rolodexId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a><span><a
									(click)="deleteMember($event,member.commMembershipId)"><i
										class="fa fa-trash-o"></i></a></span>
							</div>

							<div class="setBody" style="display: block;"
								*ngIf="member.personId == personId && showMembers==true || member.rolodexId == rolodexId && showNonEmployeeMembers == true">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="borderBox col-12">
											<h4 class="borderBoxHeading">
												Person Details
												<button class="editBtn" *ngIf="editDetails ==false"
													(click)="showEditDetails()">
													<i class="fa fa-pencil"></i>
												</button>
												<button class="addBtn" *ngIf="editDetails"
													data-target="#modalWarning" data-toggle="modal"
													(click)="saveDetails(member)">
													<i class="fa fa-floppy-o"></i>
												</button>
												<button class="editBtn" *ngIf="editDetails"
													(click)="cancelEditDetails()">
													<i class="fa fa-times"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table tableSkin grid2">
													<tbody>
														<tr>
															<td><label>Person Name</label><br> <span
																*ngIf="!member.nonEmployeeFlag">{{member.personDetails.fullName
																	}}</span> <span *ngIf="member.nonEmployeeFlag">{{member.rolodex.fullName}}</span>
															<td><label>Membership Type</label><br> <select
																id="membershipType" [disabled]="editDetails==false"
																(change)="memberTypeChange(member,$event.target.value)"
																[ngClass]="editClass">

																	<option
																		*ngFor="let type of memberList.committeeMembershipTypes"
																		(value)="type"
																		[selected]="member.committeeMembershipType.description==type.description">{{type.description}}</option>

															</select></td>
															<td><label> Term Start Date</label><br> <input
																[owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
																[disabled]="editDetails==false"
																[(ngModel)]="member.termStartDate" [ngClass]="editClass" />
																<owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time></td>
															<td><label> Term End Date</label><br> <input
																[owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
																[disabled]="editDetails==false"
																[(ngModel)]="member.termEndDate" [ngClass]="editClass" />
																<owl-date-time #dt4 [pickerType]="'calendar'"></owl-date-time>
															</td>
														</tr>
														<tr>
															<td colspan="2"><label> Contact Notes</label><br>
																<textarea id="contactNotes"
																	[disabled]="editDetails==false"
																	[value]="member.contactNotes"
																	[(ngModel)]="member.contactNotes" [ngClass]="editClass"></textarea></td>
															<td colspan="2"><label> Training Notes</label><br>
																<textarea id="trainingNotes"
																	[disabled]="editDetails==false"
																	[value]="member.trainingNotes"
																	[(ngModel)]="member.trainingNotes"
																	[ngClass]="editClass"></textarea></td>
														</tr>
														<tr *ngIf="isTermDateFilled == false"> 
															<td colspan="4"><span class="mandatory">{{roleWarningMessage}}</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="borderBox col-12">
											<h4 class="borderBoxHeading">
												Roles
												<button id="rolesAddBtn" class="addBtn"
													data-target="#modalWarning" data-toggle="modal"
													(click)="addRoles($event)">
													<i class="fa fa-plus"></i>
												</button>

											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="roleAddingRow" *ngIf="addRole">
														<td align="justify">Role :</td>

														<td><ng2-completer title="Enter Role"
																[(ngModel)]="membershipRoles.description"
																[datasource]="dataServiceRoleList" [minSearchLength]="0"
																placeholder="Search" (selected)="onSelectRole()"></ng2-completer>
														</td>
														<td><input [owlDateTimeTrigger]="dt3"
															[owlDateTime]="dt3"
															[(ngModel)]="memberRoleObject.startDate"
															[disabled]="addRole==false" [ngClass]="editClassRole"
															#dateTime="ngModel" /> <owl-date-time #dt3
																[pickerType]="'calendar'"></owl-date-time></td>
														<td><input [owlDateTimeTrigger]="dt4"
															[owlDateTime]="dt4"
															[(ngModel)]="memberRoleObject.endDate"
															[disabled]="addRole==false" [ngClass]="editClassRole" />
															<owl-date-time #dt4 [pickerType]="'calendar'"></owl-date-time>
														</td>
														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="roleAddtoTable(member)">Add</button>
														</td>
													</tr>
													<tr *ngIf="roleFieldsFilled == false"> 
														<td colspan="5"><span class="mandatory">{{roleWarningMessage}}</span></td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Role</th>
														<th title="">Start Date</th>
														<th title="">End Date</th>
														<th title="" class="text-left">Action</th>
													</tr>
													<tr
														*ngFor="let role of  member.committeeMemberRoles;let i=index">
														<td>{{i+1}}</td>
														<td>{{role.membershipRoleDescription}}</td>
														<td><input [owlDateTimeTrigger]="dt9"
															[owlDateTime]="dt9" [(ngModel)]="role.startDate"
															[disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
															[ngClass]="{'committeeBox' :role.membershipRoleCode==memberRoleCode,'committeeBoxNotEditable':role.membershipRoleCode!=memberRoleCode}"
															[min]="member.termStartDate" [max]="member.termEndDate"
															#dateTime="ngModel" /> <owl-date-time #dt9
																[pickerType]="'calendar'"></owl-date-time></td>
														<td><input [owlDateTimeTrigger]="dt10"
															[owlDateTime]="dt10" [(ngModel)]="role.endDate"
															[disabled]="editRole==false || role.membershipRoleCode!=memberRoleCode"
															[ngClass]="{'committeeBox' :role.membershipRoleCode==memberRoleCode,'committeeBoxNotEditable':role.membershipRoleCode!=memberRoleCode}"
															[min]="member.termStartDate" [max]="member.termEndDate" />
															<owl-date-time #dt10 [pickerType]="'calendar'"></owl-date-time>
														</td>
														<td>
															<ul class="actionButtonGroup">
																<li><a href="#"
																	(click)="deleteRole($event,role.commMemberRolesId,member.commMembershipId)">
																		<i class="fa fa-trash-o"></i>
																</a></li>
																<li><a href="#" (click)="editRoles($event,role)"
																	*ngIf="!editRole" id="roleEditBtn"> <i
																		class="fa fa-pencil"></i>
																</a></li>
																<li><a href="#"
																	*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																	(click)="saveRole($event, role,member)"> <i
																		class="fa fa-floppy-o"></i>
																</a></li>
																<li><a href="#"
																	*ngIf="editRole && role.membershipRoleCode==memberRoleCode"
																	(click)="cancelEditRoles($event,role)"><i
																		class="fa fa-times" aria-hidden="true"></i></a></li>
															</ul>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>

									<!-- Contact Information -->
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="borderBox">
											<h4 class="borderBoxHeading">Contact Information</h4>
											<div class="row">
												<div
													class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
													<div class="row">
														<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
															<label><span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.firstName
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.firstName}}</span>
																Primary Title (Primary) <br> <span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.fullName
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.fullName}}</span>
																Directory Title (Directory) </label> <br> <span><span
																*ngIf="member.nonEmployeeFlag==false">{{member.personDetails.addressLine1
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.addressLine1}}</span><br>
																(Ofc)<span *ngIf="member.nonEmployeeFlag==false">{{member.personDetails.phoneNumber
																	}}</span> <span *ngIf="member.nonEmployeeFlag==true">{{member.rolodex.phoneNumber}}</span>,
																(Mob) 9345 7866 2356, (Fax) 321-321-1264 </span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- EXPERTISE -->
										<div class=" borderBox col-12">
											<h4 class="borderBoxHeading">
												Expertise
												<button id="rolesAddBtn" class="addBtn"
													data-target="#modalWarning" data-toggle="modal"
													(click)="addExpertises($event)">
													<i class="fa fa-plus"></i>
												</button>

											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="expertiseAddingRow" *ngIf="addExpertise">

														<td></td>
														<td align="justify">Expertise In :</td>
														<td><span> <ng2-completer title="Enter Member"
																	[(ngModel)]="membershipExpertise.description"
																	[datasource]="dataServiceExpertiseList"
																	[minSearchLength]="0" placeholder="Search"
																	(selected)="onSelectExpertise()"></ng2-completer></span></td>
														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="expertiseAddtoTable(member)">Add</button>
														</td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Code</th>
														<th title="">Area of Expertise</th>
														<th title="" class="expertiseEditingActions">Action</th>
													</tr>
													<tr
														*ngFor="let expertise of  member.committeeMemberExpertises;let i=index ">
														<td>{{i+1}}</td>
														<td>{{expertise.researchAreaCode}}</td>
														<td>{{expertise.researchAreaDescription}}</td>
														<td class="expertiseEditingActions">
															<ul class="actionButtonGroup">
																<li><a href="#"
																	(click)="deleteExpertise($event,expertise.commMemberExpertiseId,member.commMembershipId)">
																		<i class="fa fa-trash-o"></i>
																</a></li>
															</ul>
														</td>
													</tr>

												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
