<div>
	<!--  DELETE WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPopup"
		id="deleteAttachment" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to delete?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this item?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showPopup = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="deleteAttachments($event)" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ADD ATTACHMENT MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" id="addAttachment"
		tabindex="-1" role="dialog" aria-labelledby="skippedSchedulesTitle"
		aria-hidden="true" *ngIf="showAddAttachment">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="skippedSchedulesLongTitle">Add
						Attachment</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" (click)="showAddAttachment = false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-responsive tableSkin">
						<tr *ngIf="showAddAttachment">
							<td class="noData filterElement">Add :</td>
							<td class="filterElement"><span class="mandatory">*</span> 
							<select (change)="attachmentTypeChange($event.target.value)" class="committeeBox" [(ngModel)]="attachment.description">
								<option *ngFor="let type of result?.attachmentTypes"
									(value)="type">{{type.description}}</option>
							</select></td>
							<td class="filterElement"><textarea id="desc" placeholder="Description"
									[(ngModel)]="attachmentTypeDescription" class="scheduleBoxes"></textarea></td>
						</tr>
					</table>

					<file-drop headertext="Drop files here"
						(onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
						(onFileLeave)="fileLeave($event)"> <input type="file"
						#file (change)="onChange(file.files)" multiple /> OR &nbsp;&nbsp;
					</file-drop>
					<ul>
						<li *ngFor="let item of uploadedFile; let i=index">
						<span>{{ item.name }}----------------</span><i class="fa fa-trash-o" (click)="deleteFromUploadedFileList(item)"></i>
						</li>
					</ul>
					<div *ngIf="!ismandatoryFilled"><span class="mandatory font">{{attachmentWarningMsg}}</span></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary" data-dismiss="modal" (click)="closeAttachments()">Close</button>
					<button type="button" class="btnSkin btnSkinPrimary" (click)="addAttachments()">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
			<a href="#" title="add new attachment" class="addTextBtn" (click)="showAddAttachmentPopUp($event)" data-toggle="modal" data-target="#addAttachment">
				<i class="fa fa-plus"></i>&nbsp;<span>Add Attachment</span>
			</a>
		</div>
	</div>
	<br>
	<table class="table table-responsive tableSkin"
		*ngIf="result?.committeeSchedule?.committeeScheduleAttachments?.length !== 0">
		<tr>
			<th title="">Sl Number</th>
			<th title="">Attachment Type</th>
			<th title="">Description</th>
			<th title="">File Name</th>
			<th title="">Action</th>
		</tr>
		<tr
			*ngFor="let attachments of result?.committeeSchedule?.committeeScheduleAttachments;let i=index">
			<td>{{i+1}}</td>
			<td>{{attachments.attachmentType.description}}</td>
			<td> <input type="text" [ngClass]="(!editScheduleattachment[i] == false)? 'scheduleBoxes' : 'committeeBoxNotEditable'" 
				[disabled]="!editScheduleattachment[i] == true" [(ngModel)]="attachments.description"></td>
			<td>{{attachments.fileName}}</td>
			<td><ul class="actionButtonGroup">
					<li><a (click)="tempSave($event,attachments)"
						data-toggle="modal" data-target="#deleteAttachment"><i
							class="fa fa-trash-o"></i></a></li>
					<li><a
						(click)="downloadAttachements($event, attachments)"
						title="Open{{attachments.commScheduleAttachId}}"> <i
							class="fa fa-download" aria-hidden="true"></i></a></li>
					<li>
						<a *ngIf="!editScheduleattachment[i] == true" (click)="editAttachments($event,i, attachments)"><i class="fa fa-edit"></i></a>
					</li>
					<li><a *ngIf="!editScheduleattachment[i] == false" href="#" (click)="saveEditedattachments($event,i, attachments)"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
					<li><a *ngIf="!editScheduleattachment[i] == false" href="#" (click)="cancelEditedattachments($event,i, attachments)"><i class="fa fa-times" aria-hidden="true"></i></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<div
		*ngIf="result?.committeeSchedule?.committeeScheduleAttachments?.length == 0"
		class="noDataOnChart">No attachment to Show</div>
</div>
