<!-- <ngx-spinner bdOpacity = 0.5 bdColor = "#333" color = "#fff" type = "ball-spin-clockwise-fade" loadingText = "Loading..." ></ngx-spinner> -->
<div class="container-fluid">
	<!-- modal -->
	<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered " role="document">
			  <div class="modal-content">
				<div class="modal-header popup-header">
				  <h5 class="modal-title" id="exampleModalLongTitle">Person Details</h5>
				  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body modal-popup">
						<div class= "modal-header-label"><h4>Basic</h4></div>
					<!-- section1 -->
					<div class = "modal-padding">
						<div class="row">
							<div class="col-md-4 col lg- 4 col-sm-4">
								<label class="modal-label" for=""> Name: </label> {{irbPersonDetailedList?.FULL_NAME}}
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
									<label  class="modal-label" for="">Email: </label> {{irbPersonDetailedList?.EMAIL_ADDRESS}}
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
									<label  class="modal-label" for=""> Primary Title: </label> {{irbPersonDetailedList?.PRIMARY_TITLE}}
							</div>
						</div>
						<div class="row">
								<div class="col-md-4 col lg- 4 col-sm-4">
									<label class="modal-label" for=""> Address: </label>{{irbPersonDetailedList?.ADDRESS_LINE_1}}
								</div>
								<div class="col-md-4 col lg- 4 col-sm-4">
										<label class="modal-label" for=""> City: </label> {{irbPersonDetailedList?.CITY}}
								</div>
								<div class="col-md-4 col lg- 4 col-sm-4">
										<label class="modal-label" for=""> Country: </label> {{irbPersonDetailedList?.COUNTRY_CODE}}
								</div>
							</div>
						<div class="row">
							<div class="col-md-4 col lg- 4 col-sm-4">
								<label class="modal-label" for=""> Directory Title:</label> {{irbPersonDetailedList?.DIRECTORY_TITLE}}
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
								<label class="modal-label" for=""> Mobile number: </label> {{irbPersonDetailedList?.MOBILE_PHONE_NUMBER}}
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
								<label class="modal-label" for=""> Postal Code: </label> {{irbPersonDetailedList?.POSTAL_CODE}}
							</div>
						</div>
					</div>
				  <!-- section2 -->
				  <div><h4>Training</h4></div>
					<div class = "modal-padding">
						<div class="popup-div">
						<table class="table table-striped">
							<thead class="popup-header">
								<tr>
								<th scope="col">Description</th>
								<th scope="col">Score</th>
								<th scope="col">Followup Date </th>
								<th scope="col">Submitted Date</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor = "let info of irbPersonDetailedTraining">
								<td scope="row">{{info.TRAINING_DESCRIPTION}}</td>
								<td>{{info.SCORE}}</td>
								<td>{{info.FOLLOWUP_DATE}}</td>
								<td>{{info.DATE_SUBMITTED}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
				
				  <!-- section3 -->
				  	<!-- <div>
						<div class= "modal-header-label"><h4>Responsibilities</h4></div>
						<div class="row">
							<div class="col-md-4 col lg- 4 col-sm-4">
								<label for=""> Name</label> value
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
									<label for="">Address  </label> value
							</div>
							<div class="col-md-4 col lg- 4 col-sm-4">
									<label for=""> Primary Title</label> value
							</div>
						</div>
						<div class="row">
								<div class="col-md-4 col lg- 4 col-sm-4">
									<label for=""> Office Address</label> value
								</div>
								<div class="col-md-4 col lg- 4 col-sm-4">
										<label for=""> City</label> value
								</div>
								<div class="col-md-4 col lg- 4 col-sm-4">
										<label for=""> Country</label> value
								</div>
								<div class="col-md-4 col lg- 4 col-sm-4">
										<label for=""> State</label> value
								</div>
							</div>

				  </div> -->
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			</div>
		</div> 
	<!-- modal-end -->
	<section class="row">
		<!--card list-->
		<div class="col-12">
			<div class="row cards-in">
				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Personnel Information</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med ovr-flw" *ngIf="noIrbPersons==false">
							<div class="row row-line" *ngFor="let irbPersons of irbPersonsDetails" data-toggle="modal" data-target="#personModal" (click)="showpersonData(irbPersons.PERSON_ID)">
								<div class="col-2">
									<img [ngClass]="{'pi-profile': irbPersons.PROTOCOL_PERSON_ROLE_ID =='PI',
									'coi-profile': irbPersons.PROTOCOL_PERSON_ROLE_ID !=='PI'}"
										class="img-fluid pd20" alt="Role image">
								</div>
								<div class="col-4 card-desc">
									<h6>{{irbPersons.PERSON_NAME}}</h6>
									<p>{{irbPersons.PROTOCOL_PERSON_ROLE_ID}}</p>
									<p>
										email id: <span>{{irbPersons.EMAIL_ADDRESS}}</span> | Office :<span>{{irbPersons.OFFICE_PHONE}}</span>
									</p>
								</div>
								<div class="col-4 card-desc">
									<h6>&nbsp;</h6>
									<p>{{irbPersons.PRIMARY_TITLE}}</p>
									<p>
										Affiliation: <span>{{irbPersons.AFFILIATION_TYPE}}</span> | Unit :<span>{{irbPersons.UNIT_NAME}}</span>
									</p>
								</div>
								<div class="col-2 cmp-b">
									<p *ngIf="irbPersons.IS_COMPLETED=='Y'">Completed</p>
									<p *ngIf="irbPersons.IS_COMPLETED=='N'">Pending</p>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data ovrflow-no-data" *ngIf="noIrbPersons">
							<div class="col-12">No person details found</div>
						</div>
					</div>
				
			</div>
			<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Funding Sources</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card" *ngIf="noIrbfunds==false">
							<div class="row row-line" *ngFor="let fund of irbFundingDetails">
								<div class="col-3">
									<div class="sponser_ico">
										<i class="fa fa-briefcase" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-9 card-desc">
									<div class="row padding-row">
										<div class="col-6">
											<h6>
												<b>{{fund.FUNDING_SOURCE_TYPE}} : </b> <span>{{fund.FUNDING_SOURCE}}</span>
											</h6>
										</div>
										<div class="col-6">
											<h6>
												<b>Name: </b><span>{{fund.FUNDING_SOURCE_NAME}}</span>
											</h6>
										</div>

										<div class="col-12">
											<p>
												<b>Title: </b><span>{{fund.FUNDING_SOURCE_TYPE}}</span>
											</p>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbfunds">
							<div class="col-12">No funding details found</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Subjects</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card" *ngIf="noIrbSubjects==false">
							<div class="row row-line" *ngFor="let sub of irbSubjects">
								<div class="col-3">
									<div class="hospital_plus_ico">
										<i class="fa fa-plus-square" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-7 card-desc">
									<h6>
										Type: <span>{{sub.VULNERABLE_SUBJECT}}</span>
									</h6>
									<h6>
										Count: <span>{{sub.SUBJECT_COUNT}}</span>
									</h6>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbSubjects">
							<div class="col-12">No subject details found</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Collaborators</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med" *ngIf="noIrbCollaborators==false">
							<div class="row row-line" *ngFor="let irbCollab of irbCollaborators">
								<div class="col-2">
									<div class="profile_avatar_ico">
										<i class="fa fa-user-o" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-10 card-desc">
									<h6>{{irbCollab.ORGANIZATION_NAME}}</h6>
									<p>
										<span>{{irbCollab.ROLODEX_NAME}}</span>
									</p>
									<p>
										<span>{{irbCollab.ROLODEX_EMAIL_ADDRESS}}</span> | {{irbCollab.ROLODEX_PHONE_NUMBER}}<span></span>
									<div class="row row-padng">
										<div class="col-6">
											<p>
												Expiration date: <span>{{irbCollab.EXPIRATION_DATE}}</span>
											</p>
										</div>
										<div class="col-6">
											<p>
												Approval Date: <span>{{irbCollab.APPROVAL_DATE}}</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbCollaborators">
							<div class="col-12">No collaborator details found</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="container-fluid">
	<section class="row">
		<!--collapse-->
		<div class="col-12">
			<div class="row" style="padding: 15px;">
				<div class="col-12 card-head-med">
					<div class="row">
						<div class="col-11">
							<h6>Special Review</h6>
						</div>
						<div class="col-1 text-right">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div id="accordion">
				<!-- <div class="card" *ngFor="let specialRv of irbSpecialReview">
					<div class="card-header" id="headingOne">
						<span class="mb-0">
							<button class="btn btn-link coll-header">Human Subjects</button>
						</span> <span (click)="toggle()" [ngClass]="isExpanded==true?'up-arrow':'down-arrow'" data-toggle="collapse"
								data-target="#collapseOne" aria-expanded="false"
								aria-controls="collapseOne"> </span> <span class="active_green">Active</span>

					</div>

					<div id="collapseOne" class="collapse show"
						aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body card-bg-coll">
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<div class="row">
										<div class="col-3">
											<p>
												Protocol Number : <span>1231</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Application Date : <span>2015-05-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Approval Date : <span>2018-3-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Expiration Date : <span>2019-3-26</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<p>
										Comments : <span>Isolation, expansion and
											characterization of MSCs and MSC-derived exosomes from
											discarded tissues</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="card">
					<div class="card-header" id="headingTwo">
						<span class="mb-0">
							<button class="btn btn-link coll-header">
								Animal Usage</button>

							<span class="up-arrow" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo"> </span> <span class="active_green">Active</span>
						</span>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordion">
						<div class="card-body card-bg-coll">
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<div class="row">
										<div class="col-3">
											<p>
												Protocol Number : <span>1231</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Application Date : <span>2015-05-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Approval Date : <span>2018-3-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Expiration Date : <span>2019-3-26</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<p>
										Comments : <span>Isolation, expansion and
											characterization of MSCs and MSC-derived exosomes from
											discarded tissues</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- delete this on next commit -->
				<div class="card">
					<div class="card-header" id="headingTwo">
						<span class="mb-0">
							<button class="btn btn-link coll-header">
								No special reviews</button>

							<span class="up-arrow" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo"> </span> <span class="active_green">Active</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
	 