<ngx-spinner bdOpacity=0.5 bdColor="#333" color="#fff" type="ball-spin-clockwise-fade" loadingText="Loading..."></ngx-spinner>
<div class="container-fluid">
	<section class="row">
		<!--card list-->
		<div class="col-12">
			<div class="row cards-in">
				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-md-11 col-8">
									<h6>Personnel Information</h6>
								</div>
								<div class="col-md-1 col-4 ">
									<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_PERSONNEL_INFO}}" #protocolPersonnelInfo="ngbPopover"
									 (document:click)="protocolPersonnelInfo.close()" (click)="$event.stopPropagation()" container="body"></i>
									<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_PERSONNEL_INFO}}" aria-hidden="true"></i> -->
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med ovr-flw" *ngIf="noIrbPersons==false">
							<div class="row pdf" [ngClass]="{'row-line':i!=0}" *ngFor="let irbPersons of irbPersonsDetails;let i= index" data-toggle="modal"
							 data-target="#personModal" (click)="showpersonData(irbPersons.PERSON_ID)">
								<div class="col-md-2 col-sm-6 co-12">
									<div [ngClass]="{'pi-profile': irbPersons.PROTOCOL_PERSON_ROLE_ID =='PI',
									'coi-profile': irbPersons.PROTOCOL_PERSON_ROLE_ID !=='PI'}" class="img-fluid pd20"></div>
								</div>
								<div class="col-md-4 col-sm-6 co-12 card-desc">
									<h6>{{irbPersons.PERSON_NAME}}</h6>
									<p>
										Person Role:
										<span>{{irbPersons.PROTOCOL_PERSON_ROLE}}</span>
									</p>
									<p>
											Obtained Consent:
											<span class="font-size-23">
											<i *ngIf="irbPersons.IS_OBTAINED_CONSENT == 'Y'" class="training-complete-color fa fa-check" title="Yes" aria-hidden="true"></i>
											<i *ngIf="irbPersons.IS_OBTAINED_CONSENT == 'N'|| irbPersons.IS_OBTAINED_CONSENT == null" class="training-incomplete-color fa fa-times" title="No" aria-hidden="true"></i>
											</span>
										</p>
									<p>
										Email:
										<span>{{irbPersons.EMAIL_ADDRESS}}</span> | Office:
										<span>{{irbPersons.OFFICE_PHONE}}</span>
									</p>
								</div>
								<div class="col-md-5 col-sm-6 co-12 card-desc">
									<p>Training Status:
										<span class="font-size-23">
											<i *ngIf="irbPersons.IS_TRAINING_COMPLETED=='COMPLETED'" class="training-complete-color fa fa-check" title="Complete" aria-hidden="true"></i>
											<i *ngIf="irbPersons.IS_TRAINING_COMPLETED=='INCOMPLETE'" class="training-incomplete-color fa fa-times" title="Not Complete"
											 aria-hidden="true"></i>
										</span>
										<p>
											Title:
											<span>{{irbPersons.PRIMARY_TITLE}}</span>
										</p>
										<p>
												Qualification: 
												<span>{{irbPersons.EDUCATION_LEVEL}}</span> | Study Role: 
												<span>{{irbPersons.STUDY_ROLES}}</span> 
										</p>
										<p>
											Affiliation:
											<span>{{irbPersons.AFFILIATION_TYPE}}</span> | Unit:
											<span>{{irbPersons.UNIT_NAME}}</span>
										</p>
								</div>
								<div class="col-md-1 col-sm-6 co-12 list-des button-responsive">

									<a>
										<button type="button" class="btn btn-outline-secondary button-view" data-toggle="modal" data-target="#personModal" (click)="showpersonData(irbPersons.PERSON_ID)">
											<i class="fa fa-eye"></i>View
										</button>
									</a>
								</div>

								<!-- <div class="col-md-2 col-sm-6 co-12 cmp-b">
									<p *ngIf="irbPersons.IS_COMPLETED=='Y'">Completed</p>
									<p *ngIf="irbPersons.IS_COMPLETED=='N'">Pending</p>
								</div> -->
							</div>
						</div>
						<div class="col-12 card-list-no-data ovrflow-no-data" *ngIf="noIrbPersons">
							<div class="col-12">No person details found</div>
						</div>
					</div>

				</div>


				<div class="col-6">
						<div class="shadow-card">
							<div class="col-12 card-head-med">
								<div class="row">
									<div class="col-11">
										<h6>Protocol Units</h6>
									</div>
									<div class="col-1">
										<i class=" fa fa-info-circle" tabindex="0"></i>
										<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_FUNDING_SOURCE_INFO}}" aria-hidden="true"></i> -->
									</div>
								</div>
							</div>
							<div class="col-12 card-list-med funding-card ovr-flw" *ngIf="noProtocolUnits==false">
								<div class="row" [ngClass]="{'row-line':i!=0}" *ngFor="let protocolUnit of irbProtocolUnitList;let i= index">
									<div class="col-12 card-desc">
										<div class="row padding-row">
													<div class="col-md-7 col-sm-7 co-12">
															<p>
																	Unit Name:
																	<span>{{protocolUnit.UNIT_NAME}}</span>
															</p>
															<p>
																	Description:
																	<span>{{protocolUnit.DESCRIPTION}}</span>
															</p>
													</div>
													<div class="col-md-5 col-sm-5 co-12">
															<p>
																	Type:
																	<span>{{protocolUnit.UNIT_TYPE_DESCRIPTION}}</span>
															</p>
														</div>
														</div>
									</div>
								</div>
							</div>
							<div class="col-12 card-list-no-data" *ngIf="noProtocolUnits">
								<div class="col-12">No Protocol Units found</div>
							</div>
						</div>
					</div>
					<div class="col-6">
							<div class="shadow-card">
								<div class="col-12 card-head-med">
									<div class="row">
										<div class="col-11">
											<h6>Administrative Contact</h6>
										</div>
										<div class="col-1">
											<i class=" fa fa-info-circle" tabindex="0"></i>
											<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_FUNDING_SOURCE_INFO}}" aria-hidden="true"></i> -->
										</div>
									</div>
								</div>



								<div class="col-12 card-list-med funding-card ovr-flw" *ngIf="noIrbfunds==false">
									<div class="row" [ngClass]="{'row-line':i!=0}" *ngFor="let adminContact of irbAdminContactList;let i= index">

										<div class="col-12 card-desc">
												<div class="row padding-row">
												<div class="col-md-7 col-sm-6 co-12">
														<p>
																Person Name:
																<span>{{adminContact.PERSON_NAME}}</span>
														</p>
														<p>
																Description:
																<span>{{adminContact.DESCRIPTION}}</span>
														</p>
														
												</div>
												<div class="col-md-5 col-sm-6 co-12">
														<p>
																Type:
																<span>{{adminContact.ADMIN_CONTACT_TYPE}}</span>
														</p>
													</div>
													</div>
									</div>
									</div>
								</div>
								<div class="col-12 card-list-no-data" *ngIf="noAdminContacts">
									<div class="col-12">No Administrative Contact details found</div>
								</div>
							</div>
						</div>

				<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Funding Sources</h6>
								</div>
								<div class="col-1">
									<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_FUNDING_SOURCE_INFO}}" #protocolFundingSourceInfo="ngbPopover"
									 (document:click)="protocolFundingSourceInfo.close()" (click)="$event.stopPropagation()" container="body"></i>
									<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_FUNDING_SOURCE_INFO}}" aria-hidden="true"></i> -->
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card ovr-flw" *ngIf="noIrbfunds==false">
							<div class="row" [ngClass]="{'row-line':i!=0}" *ngFor="let fund of irbFundingDetails;let i= index">
								<div class="col-3">
									<div class="sponser_ico">
										<i class="fa fa-briefcase" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-9 card-desc">
									<div class="row padding-row">
										<div class="col-12">
											<h6>
												<b>{{fund.FUNDING_SOURCE_TYPE}}</b>
												<span class="fund-head">{{fund.FUNDING_SOURCE}}</span>
											</h6>
										</div>
										<div class="col-5" *ngIf="fund.FUNDING_SOURCE_TYPE == 'Award'">
											<h6>
												<b>Account#: </b>
												<span>{{fund.ACCOUNT_NUMBER}}</span>
											</h6>
										</div>
										<div [ngClass]="fund.FUNDING_SOURCE_TYPE == 'Award'? 'col-7':'col-6'">
											<h6>
												<b>Name: </b>
												<span>{{fund.FUNDING_SOURCE_NAME}}</span>
											</h6>
										</div>
										<div class="col-6">
											<p>
												<b>Title: </b>
												<span>{{fund.FUNDING_SOURCE_TYPE}}</span>
											</p>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbfunds">
							<div class="col-12">No funding details found</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Subjects</h6>
								</div>
								<div class="col-1">
									<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_SUBJECT_INFO}}" #protocolSubjectInfo="ngbPopover"
									 (document:click)="protocolSubjectInfo.close()" (click)="$event.stopPropagation()" container="body"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card ovr-flw" *ngIf="noIrbSubjects==false">
							<div class="row" [ngClass]="{'row-line':i!=0}" *ngFor="let sub of irbSubjects;let i= index">
								<div class="col-3">
									<div class="hospital_plus_ico">
										<i class="fa fa-plus-square" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-7 card-desc">
									<h6 class="sub-head">
										Type:
										<span>{{sub.VULNERABLE_SUBJECT}}</span>
									</h6>
									<h6 class="sub-head">
										Count:
										<span>{{sub.SUBJECT_COUNT}}</span>
									</h6>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbSubjects">
							<div class="col-12">No subject details found</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Engaged Institutions</h6>
								</div>
								<div class="col-1">
									<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_ENGAGED_INSTITUTIONS_INFO}}" #protocolEngagedInstitutionInfo="ngbPopover"
									 (document:click)="protocolEngagedInstitutionInfo.close()" (click)="$event.stopPropagation()" container="body"></i>
									<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_ENGAGED_INSTITUTIONS_INFO}}" aria-hidden="true"></i> -->
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med ovr-flw" *ngIf="noIrbCollaborators==false">
							<div class="row" [ngClass]="{'row-line':i!=0}" *ngFor="let irbCollab of irbCollaborators;let i= index">
								<div class="col-2">
									<div class="profile_avatar_ico">
										<i class="fa fa-user-o" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-8 card-desc">
									<div class="row">
										<div class="col-6">
											<h6>{{irbCollab.ORGANIZATION_NAME}}</h6>
											<p>
												<span>{{irbCollab.ROLODEX_NAME}}</span>
											</p>
											<p>
												Email:
												<span>{{irbCollab.ROLODEX_EMAIL_ADDRESS}}</span>
												| Office:
												<span>{{irbCollab.ROLODEX_PHONE_NUMBER}}</span>
											</p>
											<p>Human Sub Assurance number:
												<span>{{irbCollab.HUMAN_SUB_ASSURANCE}}</span>
											</p>
											<p>Point of Contact: 
												<span>{{irbCollab.POINT_OF_CONTACT}}</span>
											</p>
										</div>
										<div class="col-6 row-padng">
											<p>&nbsp;</p>
											<p>
												Expiration date:
												<span>{{(irbCollab.EXPIRATION_DATE === ' ' || irbCollab.EXPIRATION_DATE === null ) ? ' ':(irbCollab.EXPIRATION_DATE
													| date: 'MM/dd/yyyy')}}</span>
											</p>
											<p>
												Approval Date:
												<span>{{(irbCollab.APPROVAL_DATE === ' ' || irbCollab.APPROVAL_DATE === null ) ? ' ':(irbCollab.APPROVAL_DATE | date:
													'MM/dd/yyyy')}}</span>
											</p>
										</div>
									</div>
								</div>
								<div class="col-2 list-des button-responsive">

										<a>
											<button type="button" class="btn btn-outline-secondary button-view" data-toggle="modal" data-target="#personAttachmentModal" (click)="openCollaboratordetails(irbCollab)">
												<i class="fa fa-eye"></i>More Details
											</button>
										</a>
									</div>
							</div>
						</div>
						<div class="col-12 card-list-no-data" *ngIf="noIrbCollaborators">
							<div class="col-12">No Engaged Institutions</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- modal -->
<div class="modal fade bd-example-modal-lg" id="personModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header popup-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Person Details
				</h5>
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-popup">
				<div class="modal-header-label">
					<h4 class="popup-sub-head">Basic</h4>
				</div>
				<!-- section1 -->
				<div class="modal-padding">
					<div class="row">
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Name: </label>
							{{irbPersonDetailedList?.FULL_NAME}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for="">Email: </label>
							{{irbPersonDetailedList?.EMAIL_ADDRESS}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for="">Title: </label>
							{{irbPersonDetailedList?.PRIMARY_TITLE}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Unit: </label>
							{{irbPersonDetailedList?.UNIT_NAME}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Address: </label>{{irbPersonDetailedList?.ADDRESS_LINE_1}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> City: </label>
							{{irbPersonDetailedList?.CITY}}
						</div>

					</div>
					<div class="row">
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Country: </label>
							{{irbPersonDetailedList?.COUNTRY_CODE}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Office Location: </label>
							{{irbPersonDetailedList?.OFFICE_LOCATION}}
						</div>
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Office Phone Number: </label>
							{{irbPersonDetailedList?.OFFICE_PHONE }}
						</div>

					</div>
					<div class="row">
						<div class="col-md-4 col lg- 4 col-sm-4 col-6">
							<label class="modal-label" for=""> Postal Code: </label>
							{{irbPersonDetailedList?.POSTAL_CODE}}
						</div>

					</div>
				</div>
				<!-- section2 -->
				<div>
					<h4 class="popup-sub-head">Training-
						<span *ngIf="trainingCompleted=='COMPLETED'"> Completed</span>
						<span *ngIf="trainingCompleted=='INCOMPLETE'">Not Completed</span>
					</h4>
				</div>
				<div class="modal-padding">
					<div class="popup-div">
						<table class="table table-striped">
								<thead class="popup-header">
										<tr>
										  <th class="table-align-head" scope="col">Description</th>
										  <!-- <th scope="col">Score</th> -->
										  <th scope="col">Expiration Date</th>
										  <!-- <th scope="col" class="submitted-header">Submitted Date</th> -->
										</tr>
									  </thead>
							<tbody *ngFor="let info of irbPersonDetailedTraining; let l=index">
									<tr>
									  <td class="table-align" scope="row">{{info.TRAINING_DESCRIPTION}}
									  </td>
									  <!-- <td>{{info.SCORE}}</td> -->
									  <td>{{(info.FOLLOWUP_DATE === ' ' || info.FOLLOWUP_DATE === null ) ? ' ':(info.FOLLOWUP_DATE | date: 'MM/dd/yyyy')}}</td>
									  <!-- <td>{{(info.DATE_SUBMITTED === ' ' || info.DATE_SUBMITTED === null ) ? ' ':(info.DATE_SUBMITTED | date: 'MM/dd/yyyy')}}</td> -->
									  <td class="action-btn-list">
										  <button *ngIf="info?.attachment?.length > 0"  title="Attachments" (click)="showTrainingAttachments(l)" type="button" class="btn btn-primary view-btn-1" >
											<i class="fa fa-paperclip" aria-hidden="true"></i>
										  </button>
										  <button *ngIf="info?.comments?.length > 0" title="Comments" (click)="showTrainingComments(l)" type="button" class="btn btn-primary delete-btn-1">
											<i class="fa fa-comments" aria-hidden="true"></i>
										  </button>
										  
										</td>
									  </tr>
					
					
					
									  <tr>
										  <td colspan="12" class="hiddenRow padding0" *ngIf="attachmentIconValue==l">
											<div id=attachment+{{l}}>
											  <table id="trainingTable" class="table table-striped">
												<tbody>
												  <tr>
													<td width="15%" class="label-font">Attachments</td>
													<td>
													  <div class="filechipCollaboratorAttachment pdf" *ngIf="trainingAttachments?.length > 0">
														<span title="download" *ngFor="let attachment of trainingAttachments" (click)="downloadAttachment(attachment)">{{attachment?.FILE_NAME}}<i class="fa fa-download"></i></span>
													  </div>
													</td>
												  </tr>
												 
												</tbody>
											  </table>
											</div>
										  </td>
										</tr>
										<tr>
												<td colspan="12" class="hiddenRow padding0" *ngIf="commentIconValue==l">
														<div id=comment+{{l}}>
														  <table id="trainingTable" class="table table-striped">
															<tbody>
															  <tr>
																<td width="15%" class="label-font">Comments</td>
																<td>
																  <!-- <div *ngFor="let comment of trainingComments">{{comment?.COMMENT_DESCRIPTION}}
																  </div> -->
																  <ul *ngFor="let comment of trainingComments">
																		<li title="{{comment?.COMMENT_DESCRIPTION}}">{{comment?.COMMENT_DESCRIPTION| slice:0:25}} <span *ngIf="comment?.COMMENT_DESCRIPTION != null && comment?.COMMENT_DESCRIPTION.length > 25"> ...</span></li>
																</ul>
																</td>
															  </tr>
															 
															</tbody>
														  </table>
														</div>
													  </td>
										  </tr>
								  </tbody>
						</table>
					</div>
				</div>
				
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
<!-- modal-end -->

<div class="container-fluid">
	<section class="row section-margin">
		<!--collapse-->
		<div class="col-12">
			<div class="row" class="card-spcl-padding">
				<div class="col-12 card-head-med">
					<div class="row">
						<div class="col-11">
							<h6>Special Review</h6>
						</div>
						<div class="col-1 text-right">
							<i class=" fa fa-info-circle" tabindex="0" placement="left" ngbPopover="{{PROTOCOL_SPECIAL_REVIEW_INFO}}" #protocolSpecialReviewInfo="ngbPopover"
							 (document:click)="protocolSpecialReviewInfo.close()" (click)="$event.stopPropagation()" container="body"></i>
							<!-- <i class="fa fa-info-circle" title="{{PROTOCOL_SPECIAL_REVIEW_INFO}}"aria-hidden="true"></i> -->
						</div>
					</div>
				</div>
			</div>
			<div id="accordion">
				<div class="card card-list-med ovr-flw" *ngIf="noIrbSpecialReviews">
					<div class="card-header" id="headingTwo">
						<span class="mb-0">
							No special reviews
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!--Colloborator person modal-->
<div class="modal fade bd-example-modal-lg" id="personAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header popup-header">
				<h5 class="modal-title" id="exampleModalLongTitle">More Details
				</h5>
				<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-popup">
				 <div class="modal-header-label">
							<h4 class="popup-sub-head">Engaged Institution</h4>
						  </div>
						  <!-- section1 -->
						  <div class="modal-padding">
							<div class="row">
							  <div class="col-md-6 col lg- 6 col-sm-6 col-6">
								<label class="modal-label" for=""> Organization : </label>
								{{protocolCollaboratorSelected?.ORGANIZATION_NAME}}
							  </div>
							  <div class="col-md-6 col lg- 6 col-sm-6 col-6">
								<label class="modal-label" for="">Point of contact : </label>
								{{protocolCollaboratorSelected?.POINT_OF_CONTACT}}
							  </div>
							</div>
							<div class="row">
							  <div class="col-md-6 col lg- 6 col-sm-6 col-6">
								<label class="modal-label" for=""> Approval Date : </label>
								{{ (protocolCollaboratorSelected.APPROVAL_DATE === ' ' || protocolCollaboratorSelected.APPROVAL_DATE === null ) ? ' ' : protocolCollaboratorSelected?.APPROVAL_DATE| date:"MM/dd/yyyy"}}
							  </div>
							  <div class="col-md-6 col lg- 6 col-sm-6 col-6">
								<label class="modal-label" for=""> Expiration Date : </label>{{(protocolCollaboratorSelected.EXPIRATION_DATE === ' ' || protocolCollaboratorSelected.EXPIRATION_DATE === null ) ? ' ' : protocolCollaboratorSelected?.EXPIRATION_DATE| date:"MM/dd/yyyy"}}
							  </div>
							</div>
						  </div>
				<div class="modal-header-label">
					<h4 class="popup-sub-head">Person</h4>
				</div>
			
				<div class="modal-padding">
					<div class="popup-div">
							
						<table class="table table-striped">
							<thead class="popup-sub-header">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Role</th>
									<th scope="col">Affiliation</th>
								</tr>
							</thead>
							<tbody>
								
							<ng-container *ngIf="irbViewProtocolCollaboratorPersons.length != 0">
								<tr *ngFor="let person of irbViewProtocolCollaboratorPersons">
									<td>{{person?.PERSON_NAME}}</td>
									<td>{{person?.ROLE__DESCRIPTION}}</td>
									<td>{{person?.AFFILIATION_TYPE_DESCRIPTION}}</td>
								</tr>
								</ng-container>
								<ng-container *ngIf="irbViewProtocolCollaboratorPersons.length == 0">
										<tr>
												<td class="text-center" colspan="3">No persons to show</td>
										</tr>
										</ng-container>
							</tbody>
						</table>
					</div>
				</div>

				<!--attachment section-->
				<div class="modal-header-label">
						<h4 class="popup-sub-head">Attachments</h4>
					</div>
				
					<div class="modal-padding">
						<div class="popup-div">
							<table class="table table-striped">
								<thead class="popup-sub-header">
									<tr>
										<th scope="col" style="width: 20%">Type</th>
										<th scope="col"  style="width: 20%">Description</th>
										<th scope="col" style="width: 30%">File</th>
										<th scope="col">Updated By</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
										<ng-container *ngIf="irbViewProtocolCollaboratorAttachments.length > 0">
												<tr *ngFor = "let attachment of irbViewProtocolCollaboratorAttachments">
													<td style="width: 20%">{{attachment?.DESCRIPTION}}</td>
													<td  style="width: 20%">{{attachment?.DESCRIPTION}}</td>
													<td style="width: 30%" class="padding-table-content">{{attachment?.FILE_NAME}}</td>
													<td>{{attachment?.UPDATE_USER}}</td>
													<td class="action-btn-list">
															<button title="View" type="button" class="btn btn-primary view-btn-1" (click)="downloadAttachment(attachment)">
															  <i class="fa fa-download" aria-hidden="true"></i>
															</button>
														  </td>
												</tr>
												</ng-container>
												<ng-container *ngIf="irbViewProtocolCollaboratorAttachments.length == 0">
														<tr>
																<td class="text-center" colspan="3">No Attachments to show</td>
														</tr>
														</ng-container>
								</tbody>
							</table>
						</div>
					</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>