
<div class="container-fluid">
	<section class="row">
		<!--card list-->
		<div class="col-12">
			<div class="row cards-in">

				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Personnel Information</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med ovr-flw">
							<div class="row row-line">
								<div class="col-2">
									<img src="assets/images/principl_avatar.png"
										class="img-fluid pd20" alt="Responsive image">
								</div>
								<div class="col-4 card-desc">
									<h6>Phil Health</h6>
									<p>Principal investigator</p>
									<p>
										email id: <span>smitch.c@gmail.com</span> | Office :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-4 card-desc">
									<h6>&nbsp;</h6>
									<p>Principal investigator</p>
									<p>
										Affiliation: <span>faculty</span> | Unit :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-2 cmp-b">
									<p>Completed</p>
								</div>
							</div>
								<div class="row row-line">
								<div class="col-2">
									<img src="assets/images/principl_avatar.png"
										class="img-fluid pd20" alt="Responsive image">
								</div>
								<div class="col-4 card-desc">
									<h6>Phil Health</h6>
									<p>Principal investigator</p>
									<p>
										email id: <span>smitch.c@gmail.com</span> | Office :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-4 card-desc">
									<h6>&nbsp;</h6>
									<p>Principal investigator</p>
									<p>
										Affiliation: <span>faculty</span> | Unit :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-2 cmp-b">
									<p>Completed</p>
								</div>
							</div>
									<div class="row row-line">
								<div class="col-2">
									<img src="assets/images/principl_avatar.png"
										class="img-fluid pd20" alt="Responsive image">
								</div>
								<div class="col-4 card-desc">
									<h6>Phil Health</h6>
									<p>Principal investigator</p>
									<p>
										email id: <span>smitch.c@gmail.com</span> | Office :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-4 card-desc">
									<h6>&nbsp;</h6>
									<p>Principal investigator</p>
									<p>
										Affiliation: <span>faculty</span> | Unit :<span>School
											Of Bio Science</span>
									</p>
								</div>
								<div class="col-2 cmp-b">
									<p>Completed</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Funding Sources</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card">
							<div class="row row-line">
								<div class="col-3">
									<div class="sponser_ico">
										<i class="fa fa-briefcase" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-9 card-desc">
									<div class="row padding-row">
										<div class="col-6">
											<h6>
												<b>Sponsor: </b> <span>000102</span>
											</h6>
										</div>
										<div class="col-6">
											<h6>
												<b>Name: </b><span>Airforce system</span>
											</h6>
										</div>

										<div class="col-12">
											<p>
												<b>Title: </b><span>State pf Wincoins</span>
											</p>
										</div>

									</div>
								</div>
							</div>

							<div class="row row-line">
								<div class="col-3">
									<div class="institutional_ico">
										<i class="fa fa-university" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-9 card-desc">
									<div class="row padding-row">
										<div class="col-6">
											<h6>
												<b>Sponsor: </b> <span>000102</span>
											</h6>
										</div>
										<div class="col-6">
											<h6>
												<b>Name: </b><span>Airforce system</span>
											</h6>
										</div>

										<div class="col-12">
											<p>
												<b>Title: </b><span>State pf Wincoins</span>
											</p>
										</div>

									</div>
								</div>
							</div>
							<div class="row row-line">
								<div class="col-3">
									<div class="development_ico">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-9 card-desc">
									<div class="row padding-row">
										<div class="col-6">
											<h6>
												<b>Sponsor: </b> <span>000102</span>
											</h6>
										</div>
										<div class="col-6">
											<h6>
												<b>Name: </b><span>Airforce system</span>
											</h6>
										</div>

										<div class="col-12">
											<p>
												<b>Title: </b><span>State pf Wincoins</span>
											</p>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Subjects</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med funding-card">
							<div class="row row-line">
								<div class="col-3">
									<div class="hospital_plus_ico">
										<i class="fa fa-plus-square" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-7 card-desc">
									<h6>
										Type: <span>Children</span>
									</h6>
									<h6>
										Count: <span>11</span>
									</h6>
								</div>
							</div>
							<div class="row row-line">
								<div class="col-3">
									<div class="hospital_plus_ico">
										<i class="fa fa-plus-square" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-7 card-desc">
									<h6>
										Type: <span>Women</span>
									</h6>
									<h6>
										Count: <span>11</span>
									</h6>
								</div>
							</div>
							<div class="row row-line">
								<div class="col-3">
									<div class="hospital_plus_ico">
										<i class="fa fa-plus-square" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-7 card-desc">
									<h6>
										Type: <span>Men</span>
									</h6>
									<h6>
										Count: <span>11</span>
									</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="shadow-card">
						<div class="col-12 card-head-med">
							<div class="row">
								<div class="col-11">
									<h6>Collaborators</h6>
								</div>
								<div class="col-1">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-12 card-list-med">
							<div class="row row-line">
								<div class="col-2">
									<div class="profile_avatar_ico">
										<i class="fa fa-user-o" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-10 card-desc">
									<h6>Tufts</h6>
									<p>
										<span>Smith</span>
									</p>
									<p>
										<span>smitch.c@gmail.com</span> | +01-10100<span></span>
									<div class="row row-padng">
										<div class="col-6">
											<p>
												Expiration date: <span>904350</span>
											</p>
										</div>
										<div class="col-6">
											<p>
												Approval Date: <span>23-05-20178</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row row-line">
								<div class="col-2">
									<div class="profile_avatar_ico">
										<i class="fa fa-user-o" aria-hidden="true"></i>
									</div>
								</div>
									<div class="col-10 card-desc">
									<h6>Tufts</h6>
									<p>
										<span>Smith</span>
									</p>
									<p>
										<span>smitch.c@gmail.com</span> | +01-10100<span></span>
									<div class="row row-padng">
										<div class="col-6">
											<p>
												Expiration date: <span>904350</span>
											</p>
										</div>
										<div class="col-6">
											<p>
												Approval Date: <span>23-05-20178</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="container-fluid">
	<section class="row">
		<!--collapse-->
		<div class="col-12">
			<div class="row" style="padding: 15px;">
				<div class="col-12 card-head-med">
					<div class="row">
						<div class="col-11">
							<h6>Special Review</h6>
						</div>
						<div class="col-1 text-right">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="headingOne">
						<span class="mb-0">
							<button class="btn btn-link coll-header">Human Subjects</button>
						</span> <span (click)="toggle()" [ngClass]="isExpanded==true?'up-arrow':'down-arrow'" data-toggle="collapse"
								data-target="#collapseOne" aria-expanded="false"
								aria-controls="collapseOne"> </span> <span class="active_green">Active</span>

					</div>

					<div id="collapseOne" class="collapse show"
						aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body card-bg-coll">
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<div class="row">
										<div class="col-3">
											<p>
												Protocol Number : <span>1231</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Application Date : <span>2015-05-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Approval Date : <span>2018-3-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Expiration Date : <span>2019-3-26</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<p>
										Comments : <span>Isolation, expansion and
											characterization of MSCs and MSC-derived exosomes from
											discarded tissues</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<span class="mb-0">
							<button class="btn btn-link coll-header">
								Animal Usage</button>

							<span class="up-arrow" data-toggle="collapse" data-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo"> </span> <span class="active_green">Active</span>
						</span>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordion">
						<div class="card-body card-bg-coll">
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<div class="row">
										<div class="col-3">
											<p>
												Protocol Number : <span>1231</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Application Date : <span>2015-05-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Approval Date : <span>2018-3-26</span>
											</p>
										</div>
										<div class="col-3">
											<p>
												Expiration Date : <span>2019-3-26</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row protocol-top">
								<div class="col-12 coll-details">
									<p>
										Comments : <span>Isolation, expansion and
											characterization of MSCs and MSC-derived exosomes from
											discarded tissues</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>