<div class="container-fluid">
      <div class="row">
        <div class="col-12">
           <div class="card history-card">
            <div class="card-header history-header">
                <nav class="nav navbar-pg3">
                  <h5>History</h5>
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
              </nav>
            </div>
            
            <div class="card-body card-paddng">
            	<div class="col-12 datepicker-outer">
	            	<form>
      					  <div class="form-row">
      					    <div class="col-12 col-sm-6 col-md-3 action-h">
      					       <h6>Action Date Range : </h6>
      					    </div>
      					    <div class="col-12 col-sm-6 col-md-3">
                      <div class="input-group date">
                        <input type="text" class="form-control" placeholder="Start Date" onfocus="(this.type='date')">
                        <div class="input-group-addon">
                           <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>

      					    </div>
      					    <div class="col-12 col-sm-6 col-md-3">
      					      <div class="input-group date">
                        <input type="text" class="form-control" placeholder="End Date" onfocus="(this.type='date')">
                        <div class="input-group-addon">
                           <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
      					    </div>
      					    <div class="col-12 col-sm-6 col-md-3 btn-ot">
      					    	<button class="btn btn-primary search-btn1" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      					    	<button class="btn btn-primary close-btn1" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      					    </div>
      					  </div>
      					</form>
	            </div>
             	<div id="accordion">
                <div class="card">
                  <div class="card-header history-coll-header" id="headingOne">
                      <div class="row">
                      <!--<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                      </button>-->
                      <div class="col-12 col-sm-12 col-md-8">
                        <p>Approved | <span>Action Date :</span> 02/12/2018</p>
                        <p><span>Comments</span> Approved by COUHES | <span>Updated by:</span> Michael keohane 02-12-2018:11.30</p>
                      </div>
                      <div class="col-12 col-sm-12 col-md-4">
                          <ul class="icon-list-coll">
                              <li><i class="fa fa-question-circle-o" aria-hidden="true"></i></li>
                              <li><i class="fa fa-envelope-open-o" aria-hidden="true"></i></li>
                              <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>
                          </ul>
                      </div>
                      </div>
                      <i class="fa fa-chevron-circle-down btn btn-link history-link" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body history-card-body">
                        <div class="row list-of-his">
                            <div class="col-12 col-sm-8 col-md-8">
                                <ul>
                                    <li>Submission Type : <span>Initial Protocol Application for approvel</span></li>
                                    <li>Submission Status : <span>Approved</span></li>
                                    <li>Place : <span>Office</span></li>
                                    <li>Schedule Id : <span>376</span></li>
                                    <li>Committee Name : <span>COUHES</span></li>
                                </ul>
                            </div>
                             <div class="col-12 col-md-4 col-md-4">
                                <ul>
                                    <li>Review Type : <span>Exempt</span></li>
                                    <li>Date : <span>12-12-2018</span></li>
                                    <li>Committee id : <span>Committee 1</span></li>
                                    <li>Schedule Id : <span>376</span></li>
                                    <li>Schedule Date : <span>12-12-2018</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
</div>