<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card history-card">
				<div class="card-header history-header">
					<nav class="nav navbar-pg3">
						<h5>History</h5>
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</nav>
				</div>

				<div class="card-body card-paddng">
					<div id="accordion">
						<div class="card" *ngFor="let history of irbHistoryList;let i=index">
							<div class="card-header history-coll-header" id="{{'heading' + i }}">
								<div class="row">
									<div class="col-12 col-sm-12 col-md-8">
										<p>{{history.COMMENTS}}</p>
									</div>
									<div class="col-12 col-sm-12 col-md-4">
									</div>
								</div>
								<i class="btn btn-link history-link collapsed" [ngClass]="isExpanded[i]==true?'up-arrow':'down-arrow'" (click)="toggle(i)"
								 data-toggle="collapse" [attr.data-target]="'#'+'collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i "></i>
							</div>

							<div id="{{'collapse' + i }}" class="collapse" *ngIf="isExpanded[i]==true" [attr.aria-labelledby]="'heading' + i " data-parent="#accordion">
								<div class="card-body history-card-body">
									<div class="row list-of-his" [ngClass]="{'history-line':i!=irbHistoryDetails.length-1}" *ngFor="let historyDet of irbHistoryDetails;let i = index">
										<div class="col-12 col-sm-4 col-md-4">
											<ul>
												<li class="history-action">{{historyDet.PROTOCOL_ACTION}}</li>
											</ul>
										</div>
										<div class="col-12 col-md-4 col-md-4">
											<ul>
												<li>Updated By
													<span>{{historyDet.UPDATE_USER_NAME}}</span> On
													<span>{{(historyDet.ACTION_DATE === ' ' || historyDet.ACTION_DATE === null ) ? ' ':(historyDet.ACTION_DATE | date:
														'MM/dd/yyyy')}}</span>
												</li>
											</ul>
										</div>
										<div class="col-12 col-sm-4 col-md-4">
											<!-- <ul>
												<li>Action Date : <span>{{(historyDet.ACTION_DATE === ' ' || historyDet.ACTION_DATE === null ) ? ' ':(historyDet.ACTION_DATE | date: 'MM/dd/yyyy')}}</span></li>
											</ul> -->
											<ul class="icon-list-coll">
												<!-- <li><i class="fa fa-question-circle-o" aria-hidden="true"></i></li> -->
												<li *ngIf="historyDet.LETTER_FLAG == 'Y'" class="pointer" title="Download Correspondence letter" (click)="downloadCorrespondanceLetter(historyDet.PROTOCOL_ACTION_ID,historyDet.PROTO_CORRESP_TYPE)">
													<i class="fa fa-download" aria-hidden="true"></i>
												</li>
												<li *ngIf="historyDet.MINUTES_FLAG == 'Y'" class="pointer" title="Review Comments" data-toggle="modal" data-target="#deletePersonnelInfoDetails"
												 (click)="getReviewComments(historyDet.PROTOCOL_ACTION_ID,historyDet.PROTOCOL_ACTION_TYPE_CODE)">
													<i class="fa fa-comments" aria-hidden="true"></i>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-header history-coll-header card card-list-no-data noHistory" *ngIf="noHistoryList">
							<div class="col-12">No history details found</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal-end -->
	<div class="modal fade bd-example-modal-lg" id="deletePersonnelInfoDetails" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	 aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header popup-header">
					<h6 class="modal-title">Review Comments</h6>

					<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body modal-popup review-modal-height">
					<div class="modal-padding review-border" *ngFor="let reviewComment of reviewComments">
						<div class="row">
							<div class="col-md-1 col lg-1 col-sm-1 col-1">
								<i class="fa fa-commenting-o review-comment-icon" aria-hidden="true"></i>
							</div>
							<div class="col-md-11 col lg-11 col-sm-11 col-11">
								{{reviewComment.COMMENTS}}
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
	  <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" data-dismiss="modal" data-toggle="modal" (click)="showDeletePopup = false">No</button>
	  <button type="button" class="btn pop-up-color tab_btn proceed-btn pdf" (click)="savePersonalInfo(null, 'DELETE')" data-dismiss="modal">Yes</button>
	</div> -->
			</div>
		</div>
	</div>