<div class="row ">
  <div class="col-12 col-12 form-outer irb-qst-form-outer">
    <div class="card-details">
      <!-- <div class="text-danger" *ngIf="errorList.length"> *Please complete the questionnaire</div> -->
      <div class="card-body">
        <div class="form-group row">
          <div class="col-7">
            <label class="bold-600">Name</label>
            <input type="text" class="form-control custom-input" id="questionaireName"
              [(ngModel)]="data.header.QUESTIONNAIRE_NAME" [(ngModel)]="newUsage.QUESTIONNAIRE_LABEL" placeholder="Name"
              aria-label="Username" aria-describedby="basic-addon1">
            <span class="bar"></span>
          </div>
          <div class="col-3 col-sm-3">
            <label class="bold-600">Group</label>
            <select class="custom-select custom-s" [(ngModel)]="data.header.QUEST_GROUP_TYPE_CODE">
              <option *ngFor="let group of data.questionnaireGroup" value="{{group.QUEST_GROUP_TYPE_CODE}}">
                {{group.DESCRIPTION}}</option>
            </select>
          </div>
          <div class="col-2 qst-mt-34">
            <div class="form-check">
              <input class="form-check-input qst-form-check-input" type="checkbox" value=""
                [(ngModel)]="data.header.IS_FINAL" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                <b>Final</b>
              </label>
            </div>
          </div>
          <div class="col-lg-12 mt-15">
            <label class="bold-600">Description</label>
            <textarea class="form-control custom-input" placeholder="Description"
              [(ngModel)]="data.header.QUESTIONNAIRE_DESCRIPTION" aria-label="Username"
              aria-describedby="basic-addon1"></textarea>
            <span class="bar"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="tbl-1-outer">
              <table class="table qst-table- table-striped">
                <thead class="qst-header-bg">
                  <tr>
                    <th scope="col">Mandatory</th>
                    <th scope="col">Applied to</th>
                    <th scope="col">Sub Section</th>
                    <th scope="col">Questionnaire Label</th>
                    <th scope="col">Actions</th>
                  </tr>
                  <tr>
                    <td> <input type="checkbox" [(ngModel)]="newUsage.IS_MANDATORY" /></td>
                    <td><span style="color: black;"> IRB</span> 
                      <!-- <select [(ngModel)]="newUsage.MODULE_ITEM_CODE" class="custom-select custom-s">
                                  <option [value]=0>--select--</option>
                                  <option [value]=1>Award</option>
                                  <option [value]=2>Institute Proposal</option>
                                  <option [value]=3>Development Proposal</option>
                                  <option [value]=5>Negotiations</option>
                                  <option [value]=6>Person</option>
                                  <option [value]=8>COI Disclosure</option>
                                  <option [value]=9>IACUC Protocol</option>
                                  <option [value]=7>IRB</option>
                                </select> -->
                    </td>
                    <td>
                      <select [(ngModel)]="newUsage.MODULE_SUB_ITEM_CODE" class="custom-select custom-s">
                        <option [value]=0>--select option--</option>
                        <option [value]="submodule.subModuleId"
                          *ngFor="let submodule of findSubmodulelist(newUsage.MODULE_ITEM_CODE)">
                          {{submodule.label}}
                        </option>
                      </select>
                    <td>
                      <input type="text" class="form-control custom-input" [(ngModel)]="newUsage.QUESTIONNAIRE_LABEL"
                        placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                      <span class="bar"></span>
                    </td>
                    <td scope="col" class="sub-add qst-plus-icon">
                      <i *ngIf="UsageEditIndex == null" (click)="addNewUsage()" class="fa fa-plus"
                        title="Add Usage"></i>
                      <i *ngIf="UsageEditIndex != null" (click)="updateUsage()" class="fa fa-save"
                        title="update Usage"></i>
                      <i *ngIf="UsageEditIndex != null" (click)="cancelUsageEdit()" class="fa fa-times"
                        title="cancel"></i>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let list of data.usage; let listIndex= index">
                    <ng-container *ngIf="list.AC_TYPE != 'D'">
                      <td> <i *ngIf="list.IS_MANDATORY" class="fa fa-check" aria-hidden="true"></i></td>
                      <td>{{getModuleName(list.MODULE_ITEM_CODE)}}</td>
                      <td>{{getSubmoduleItemName(list.MODULE_SUB_ITEM_CODE)}}&nbsp;</td>
                      <td>{{list.QUESTIONNAIRE_LABEL}}</td>
                      <td>
                        <span><i (click)="removeUsage(listIndex)" class="fa fa-times close-icon"></i></span>
                        <span><i (click)="editUsage(list,listIndex)" class="fa fa-edit close-icon"></i></span>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>