<router-outlet></router-outlet>
<div class="row"> 
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" *ngIf= "timeout">
				<div class="modal mySkinDialog modalFallBack" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [ngClass]="{'d-block':timeout}">
				<div class="modal-dialog  modal-session modal-dialog-centered" tabindex="-1" aria-hidden="true" role="document"  >
				<div class="modal-content modal-text-color">
					  <div class="modal-header popup-header">
	                    <h5 class="modal-title modal-text-color">Session is about to expire</h5>
											<button *ngIf="expire == false" type="button" class="close modal-close" data-dismiss="modal" (click)="closePopup()" aria-label="Close">
	                      <span aria-hidden="true">&times;</span>
	                    </button>
	                    <button *ngIf="expire == true" type="button" class="close modal-close" data-dismiss="modal" (click)="logout()" aria-label="Close">
	                      <span aria-hidden="true">&times;</span>
	                    </button>
	                  </div>
			        	<div class="modal-body">
	                       <p> {{message}}</p>
						
						<div class="modal-footer">
						<button type="button" *ngIf="expire == false" class="btn btn-default pointer" data-dismiss="modal" (click)="closePopup()">Close</button>
						<button type="button" *ngIf="expire == true" class="btn btn-default pointer" data-dismiss="modal" (click)="logout()">Ok</button>
						</div>
					</div>
			</div>
			</div>
		</div>
		</div>
</div>
